src/flows/IT00_InstallmentUsage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_to_Zuora</name>
        <label>Invoice to Zuora</label>
        <locationX>351</locationX>
        <locationY>18</locationY>
        <actionName>APIT25_PostUsage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LavaVariabile</targetReference>
        </connector>
        <inputParameters>
            <name>itUsage</name>
            <value>
                <elementReference>get_Installment_List</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assToApex</name>
        <label>assToApex</label>
        <locationX>538</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>get_Installment_List</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>getUsaInstallment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_to_Zuora</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorBoolean</name>
        <label>ErrorBoolean</label>
        <locationX>664</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>erroreTipo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LavaVariabile_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LavaVariabile</name>
        <label>LavaVariabile</label>
        <locationX>356</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>OneID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Installment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LavaVariabile_0</name>
        <label>LavaVariabile</label>
        <locationX>562</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>OneID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Installment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Errore</name>
        <label>Errore?</label>
        <locationX>258</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Finish_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>error_True_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erroreTipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Usage_Type</targetReference>
            </connector>
            <label>error True outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installment_or_Consumption</name>
        <label>Installment or Consumption</label>
        <locationX>807</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>ErrorBoolean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsaInstallment.IT_Usage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUsaInstallment.IT_Zuora_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assToApex</targetReference>
            </connector>
            <label>Rate outcome</label>
        </rules>
    </decisions>
    <interviewLabel>IT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>IT_InstallmentUsage</label>
    <loops>
        <name>One_Installment</name>
        <label>One Installment</label>
        <locationX>357</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>OneID</assignNextValueToReference>
        <collectionReference>UsageID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Installment_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Errore</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Installment_Record</name>
        <label>Get_Installment_Record</label>
        <locationX>547</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_or_Consumption</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OneID</elementReference>
            </value>
        </filters>
        <object>IT_Usage__c</object>
        <outputReference>getUsaInstallment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Usage_Type__c</queriedFields>
        <queriedFields>IT_Description__c</queriedFields>
        <queriedFields>IT_Charge_ID__c</queriedFields>
        <queriedFields>IT_Num_Subscription__c</queriedFields>
        <queriedFields>IT_Date__c</queriedFields>
        <queriedFields>IT_Quantity__c</queriedFields>
        <queriedFields>IT_Account_Number__c</queriedFields>
        <queriedFields>IT_Subscription_Product_Charge__c</queriedFields>
        <queriedFields>IT_Percentage__c</queriedFields>
        <queriedFields>IT_Zuora_ID__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Usage_Type</name>
        <label>Error Usage Type</label>
        <locationX>461</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorUsageType</name>
            <fieldText>&lt;p&gt;It&#39;s not possible to invoice this usage type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Insert</name>
        <label>Finish Insert</label>
        <locationX>82</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;Usages have been sent to Zuora.&lt;/p&gt;&lt;p&gt;Please push FINISH&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_selected_Usage</name>
        <label>Show selected Usage</label>
        <locationX>183</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Selected_UsageID</name>
            <fieldText>&lt;p&gt;The selected usage is/are :&lt;/p&gt;&lt;p&gt;{!UsageID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>106</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>One_Installment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>erroreTipo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>get_Installment_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>getUsaInstallment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>ID_For_Page</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDfromScreen</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsageID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
