src/flows/IT14_Bank_Account_Activation_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>ABI_CAB_Assignment</name>
        <label>ABI CAB Assignment</label>
        <locationX>2735</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_ABI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABIScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_CAB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CABScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ABI_CAB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BankAssignment</name>
        <label>BankAssignment</label>
        <locationX>943</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Bank_Account_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BancaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BankAssignment_0</name>
        <label>BankAssignment</label>
        <locationX>975</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Bank_Account_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BancaScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BankAssignment_0_0</name>
        <label>BankAssignment</label>
        <locationX>1249</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Bank_Account_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BancaScreen1_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BankRequiredAssignment</name>
        <label>BankRequiredAssignment</label>
        <locationX>2460</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Bank_Account_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BancaScreen3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BankAccountCode1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DataRequiredAssignment</name>
        <label>DataRequiredAssignment</label>
        <locationX>2140</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Fiscal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_FiscaleScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.ER_IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IBANScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Contract_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Contratto_SEPAScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Subscription_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Mandato_SEPAScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assignment</name>
        <label>Payment Assignment</label>
        <locationX>414</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Payment_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PagamentoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Provider_Assignment</name>
        <label>Payment_Provider_Assignment</label>
        <locationX>649</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Payment_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pagamento_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentSmartAssignment</name>
        <label>PaymentSmartAssignment</label>
        <locationX>1822</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_Payment_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PagamentoScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaymentSmart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SDD_Data_Error_Assignment</name>
        <label>SDD Data Error Assignment</label>
        <locationX>3046</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Payment_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pagamento_SEPAScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Fiscal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fiscale_SEPAScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Contract_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Contratto_SEPAScreen1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.ER_IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IBANScreen1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Subscription_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Sottoscrizione_SEPAScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountVar.IT_SDD_Authorized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutorizzatoScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authorized_not_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ABI_CAB</name>
        <label>ABI CAB</label>
        <locationX>2650</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Authorized_not_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_ABI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_ABI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_CAB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_CAB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorABICAB</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Authorized_not_data</name>
        <label>Authorized not data</label>
        <locationX>2953</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>end</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO10</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Authorized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Payment_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Contract_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Contract_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Fiscal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Fiscal_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Subscription_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDD_Bank_Error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Account_Code</name>
        <label>Bank Account Code</label>
        <locationX>860</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5635</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5621</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5642</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5643</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5614</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5662</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5657</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5678</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5699</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5667</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5668</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5679</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5691</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5689</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5666</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5690</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5637</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5645</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5692</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5696</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5676</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5692</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5695</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5622</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5614</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5666</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5668</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5608</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5610</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5611</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5615</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5616</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Account_Code1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Account_Type</name>
        <label>Bank Account Type</label>
        <locationX>908</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Payment160</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Private_Bank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5699</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Smart_Service</targetReference>
            </connector>
            <label>Private Bank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Account_Type_0</name>
        <label>Bank Account Type</label>
        <locationX>1166</locationX>
        <locationY>905</locationY>
        <defaultConnector>
            <targetReference>Payment160_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Institution_Bank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5642</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Smart_Service</targetReference>
            </connector>
            <label>Institution Bank</label>
        </rules>
    </decisions>
    <decisions>
        <name>BankAccountCode1</name>
        <label>BankAccountCode</label>
        <locationX>2274</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>IBAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Bank_Account_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BankAccountCodeRequired</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Type</name>
        <label>Company Type</label>
        <locationX>1051</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Bank_Account_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Institution or private work for institution</defaultConnectorLabel>
        <rules>
            <name>private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountVar.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Account_Type</targetReference>
            </connector>
            <label>private</label>
        </rules>
        <rules>
            <name>Private_and_service_1X</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountVar.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Account_Type_0</targetReference>
            </connector>
            <label>Private and service 1X</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_required</name>
        <label>Data required</label>
        <locationX>2031</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Payment_Required_Bank_Account_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Fiscal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Fiscal_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Subscription_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Subscription_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Contract_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Contract_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataRequired</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Electronic_Service</name>
        <label>Electronic Service</label>
        <locationX>350</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Service_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Z</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Type</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>IBAN</name>
        <label>IBAN?</label>
        <locationX>2647</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>ABI_CAB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.ER_IBAN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorized_not_data</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotService</name>
        <label>Not service</label>
        <locationX>1057</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>PaymentType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO11</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Smart_Service</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Required_Bank_Account_Code</name>
        <label>Payment Required Bank Account Code?</label>
        <locationX>2277</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>IBAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PaymentRequiredBank_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentRequiredBank_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BankAccountCode1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>348</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Service_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>151</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>214</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type_0</name>
        <label>Payment Type</label>
        <locationX>564</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>NotService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>010</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>009</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>004</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>161</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>015</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentProviderError</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentSmart</name>
        <label>PaymentSmart</label>
        <locationX>1709</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>SDD_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>004</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>009</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>161</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>015</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>013</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmartError</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentType</name>
        <label>PaymentType</label>
        <locationX>1053</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Smart_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X160_151_214</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>160</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>151</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>214</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_Type</targetReference>
            </connector>
            <label>160 151 214</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDD_Payment</name>
        <label>SDD Payment</label>
        <locationX>2034</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Payment_Required_Bank_Account_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Payment_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BankAccountVar.IT_SDD_Payment_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_required</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Provider</name>
        <label>Service Provider</label>
        <locationX>562</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>NotService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Type_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Smart_Service</name>
        <label>Smart Service</label>
        <locationX>1708</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>SDD_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Smart</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1V</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentSmart</targetReference>
            </connector>
            <label>Smart</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Authorized</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_SDD_Authorized__c</picklistField>
        <picklistObject>ER_Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BankAccountCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Bank_Account_Code__c</picklistField>
        <picklistObject>ER_Bank_Account__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Payment_Code__c</picklistField>
        <picklistObject>ER_Bank_Account__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>PaymentRequiredBank_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;075&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;076&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;077&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;078&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;079&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;074&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;094&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;095&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;096&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;097&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;098&apos;)),NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;099&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;115&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;196&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;131&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;132&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;134&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;135&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;137&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;138&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;144&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;145&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;146&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;147&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;148&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;149&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;150&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;151&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;152&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;153&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;155&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;156&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;157&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;158&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;168&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;169&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;170&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;172&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;173&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;175&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;176&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;177&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;178&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;179&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;180&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;181&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;183&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;184&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;185&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;186&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;187&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;189&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;190&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;192&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;193&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;194&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;004&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;012&apos;)))</expression>
    </formulas>
    <formulas>
        <name>PaymentRequiredBank_2</name>
        <dataType>Boolean</dataType>
        <expression>AND( NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;015&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;016&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;017&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;018&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;019&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;020&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;021&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;022&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;023&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;024&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;025&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;026&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;027&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;028&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;209&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;211&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;212&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;213&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;214&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;218&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;220&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;221&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;222&apos;)),
NOT(ISPICKVAL({!BankAccountVar.IT_Payment_Code__c},&apos;223&apos;)))</expression>
    </formulas>
    <interviewLabel>IT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT14_Bank_Account_Activation_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bank_Account</name>
        <label>Get Bank Account</label>
        <locationX>419</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterVar.ER_Bank_Account__c</elementReference>
            </value>
        </filters>
        <object>ER_Bank_Account__c</object>
        <outputReference>BankAccountVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Payment_Code__c</queriedFields>
        <queriedFields>IT_Bank_Account_Code__c</queriedFields>
        <queriedFields>IT_SDD_Payment_Code__c</queriedFields>
        <queriedFields>IT_SDD_Fiscal_Code__c</queriedFields>
        <queriedFields>ER_IBAN__c</queriedFields>
        <queriedFields>IT_SDD_Subscription_Date__c</queriedFields>
        <queriedFields>IT_SDD_Contract_Code__c</queriedFields>
        <queriedFields>IT_ABI__c</queriedFields>
        <queriedFields>IT_CAB__c</queriedFields>
        <queriedFields>IT_SDD_Authorized__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>312</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterVar.ER_Account_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Company_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetFromFinancialCenter</name>
        <label>GetFromFinancialCenter</label>
        <locationX>197</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Bank_Account__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Bank_Account_Code1</name>
        <label>Bank Account Code</label>
        <locationX>785</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BankAssignment</targetReference>
        </connector>
        <fields>
            <name>BankAccountError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Verificare la banca, non  una banca valida!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BancaScreen</name>
            <choiceReferences>BankAccountCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Banca</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BankAccountCodeRequired</name>
        <label>BankAccountCodeRequired</label>
        <locationX>2283</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BankRequiredAssignment</targetReference>
        </connector>
        <fields>
            <name>BankCodeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- La tipologia di pagamento prevede la banca ma non  stata indicata!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BancaScreen3</name>
            <choiceReferences>BankAccountCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Banca</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DataRequired</name>
        <label>DataRequired</label>
        <locationX>2000</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DataRequiredAssignment</targetReference>
        </connector>
        <fields>
            <name>DataRequiredError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Cliente con pagamento sepa: non sono stati valorizzati tutti i dati necessari: iban, codice fiscale, mandato, contratto sdd!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_FiscaleScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Fiscal_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fiscale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IBANScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.ER_IBAN__c</elementReference>
            </defaultValue>
            <fieldText>IBAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Contratto_SEPAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Contract_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Contratto SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Mandato_SEPAScreen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Subscription_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Mandato Sottoscrizione SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>end</name>
        <label>end</label>
        <locationX>3410</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(47, 0, 255);&quot;&gt;Informazioni bancarie modificate correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorABICAB</name>
        <label>ErrorABICAB</label>
        <locationX>2615</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ABI_CAB_Assignment</targetReference>
        </connector>
        <fields>
            <name>ABICABError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Mancano ABI e CAB per il pagamento associato al cliente!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IBAN1</name>
            <fieldText>&lt;p&gt;IBAN: {!BankAccountVar.ER_IBAN__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ABIScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_ABI__c</elementReference>
            </defaultValue>
            <fieldText>ABI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CABScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_CAB__c</elementReference>
            </defaultValue>
            <fieldText>CAB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment160</name>
        <label>Payment160</label>
        <locationX>847</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BankAssignment_0</targetReference>
        </connector>
        <fields>
            <name>Payment160Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Per questa tipologia di servizio e per il cliente privato, la banca da selezionare  la Banca Passadore (codice 5699)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BancaScreen1</name>
            <choiceReferences>BankAccountCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Banca</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment160_0</name>
        <label>Payment160</label>
        <locationX>1089</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BankAssignment_0_0</targetReference>
        </connector>
        <fields>
            <name>Payment160Error_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Per questa tipologia di servizio e per la tipologia di cliente, la banca da selezionare  la Banca Monte dei Paschi di Siena (codice 5642)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BancaScreen1_0</name>
            <choiceReferences>BankAccountCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Banca</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_error</name>
        <label>Payment error</label>
        <locationX>282</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Assignment</targetReference>
        </connector>
        <fields>
            <name>PaymentError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Cliente con prodotto elettronico! Modificare il tipo pagamento in quanto non pu essere carta di credito o paypal!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PagamentoScreen</name>
            <choiceReferences>PaymentCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pagamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentProviderError</name>
        <label>PaymentProviderError</label>
        <locationX>539</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Provider_Assignment</targetReference>
        </connector>
        <fields>
            <name>Payment_Provider_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Condizione di pagamento non valida per questo servizio (gestito da nuovo provider)!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pagamento_Screen</name>
            <choiceReferences>PaymentCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pagamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SDD_Bank_Error</name>
        <label>SDD Bank Error</label>
        <locationX>2906</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDD_Data_Error_Assignment</targetReference>
        </connector>
        <fields>
            <name>SDDBankError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;L&apos;autorizzazione non pu essere impostata se non sono stati popolati i campi relativi al pagamento SEPA!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Popolare i campi o rimuovere la spunta &quot;Autorizzato&quot; se non si tratta di un pagamento SEPA.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutorizzatoScreen1</name>
            <choiceReferences>Authorized</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Autorizzato</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pagamento_SEPAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Payment_Code__c</elementReference>
            </defaultValue>
            <fieldText>Pagamento SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Contratto_SEPAScreen1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Contract_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Contratto SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Fiscale_SEPAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Fiscal_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fiscale SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IBANScreen1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.ER_IBAN__c</elementReference>
            </defaultValue>
            <fieldText>IBAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Sottoscrizione_SEPAScreen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>BankAccountVar.IT_SDD_Subscription_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Sottoscrizione SEPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SmartError</name>
        <label>SmartError</label>
        <locationX>1687</locationX>
        <locationY>759</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PaymentSmartAssignment</targetReference>
        </connector>
        <fields>
            <name>SmartError1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Codice Pagamento non valido per clienti SMART!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PagamentoScreen1</name>
            <choiceReferences>PaymentCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pagamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Electronic_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BankAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenterVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
