src/flows/IT15_Contract_Line_Item_Activation_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Cost_Center_Assignment</name>
        <label>Cost Center Assignment</label>
        <locationX>2063</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointVar.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Centro_di_CostoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cost_Center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_Set_Assignment</name>
        <label>Data Set Assignment</label>
        <locationX>429</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Envelope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_BustaScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Graphic_Layer_Front__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Layer_Grafico_FronteScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Graphic_Layer_Back__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Layer_Grafico_RetroScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Graphic_Background_Front__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fondino_Grafico_FronteScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Graphic_Background_Back__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fondino_Grafico_RetroScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_Active_Name_Assignment</name>
        <label>Display Active Name Assignment</label>
        <locationX>2450</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Display_Active_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Esponi_Denominazione_AttivitScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Active_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Emitted_Ticket_Assignment</name>
        <label>Emitted Ticket Assignment</label>
        <locationX>1412</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Emitted_Ticket_Copies_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Copie_Ticket_EmessiScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Emitted_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiactivity_assignment</name>
        <label>Multiactivity assignment</label>
        <locationX>2083</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>FinancialCenterVar.IT_Single_Client_Multiactivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cliente_MultiattivitScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiactivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Printout_Assignment</name>
        <label>Printout Assignment</label>
        <locationX>1060</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Printout_Employee_Copies_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Copie_Tabulato_DipendenteScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Printout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Assignment</name>
        <label>Product Assignment</label>
        <locationX>693</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdottoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Single_Series_Assignment</name>
        <label>Product Single Series Assignment</label>
        <locationX>2022</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdottoScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Single_Series</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Series_Assignment_Clean</name>
        <label>Single Series Assignment Clean</label>
        <locationX>1563</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Single_Series_Emission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emissione_Serie_SingolaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Single_Series</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Series_Assignment_Flexbenefit</name>
        <label>Single Series Assignment Flexbenefit</label>
        <locationX>1814</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemVar.IT_Single_Series_Emission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emissione_Serie_SingolaScreen_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Single_Series</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cost_Center</name>
        <label>Cost Center</label>
        <locationX>1972</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Cost_Center1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Cost_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Single_Series</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Set</name>
        <label>Data Set</label>
        <locationX>325</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Data_Set_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Background_Back__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Background_Back__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Background_Front__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Background_Front__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Layer_Back__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Layer_Back__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Layer_Front__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Graphic_Layer_Front__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Envelope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Envelope__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Service</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Active_Name</name>
        <label>Display Active Name</label>
        <locationX>2358</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Display_Active_name_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Display_Active_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emitted_Ticket_Number</name>
        <label>Emitted Ticket Number</label>
        <locationX>1285</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Service_Single_Series</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Emitted_Ticket_Copies_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emitted_Ticket</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiactivity</name>
        <label>Multiactivity</label>
        <locationX>1973</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Multiactivity1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Single_Client_Multiactivity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Center</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Services</name>
        <label>Other Services</label>
        <locationX>1394</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Service_Single_Series</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Emitted_Ticket_Copies_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Emitted_Ticket_Copies_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emitted_Ticket</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Services_Single_Series</name>
        <label>Other Services Single Series</label>
        <locationX>1975</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Service_Compliments_BOX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Single_Series_Emission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiactivity</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Printout_copies_number1</name>
        <label>Printout copies number 1</label>
        <locationX>861</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Service_Emitted_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Printout_Employee_Copies_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Printout_Copies_Error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Printout_copies_number1_0</name>
        <label>Printout copies number &lt;=1</label>
        <locationX>1021</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Service_Emitted_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Printout_Employee_Copies_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Printout_Copies_Error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Service</name>
        <label>Product Service</label>
        <locationX>618</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Service_Printout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>TZ</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36 OR 37 OR 38 OR 39 OR 40 OR 41 OR 42)</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Z</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProductService</targetReference>
            </connector>
            <label>TZ</label>
        </rules>
        <rules>
            <name>T4</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProductService</targetReference>
            </connector>
            <label>T4</label>
        </rules>
        <rules>
            <name>CZ</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProductService</targetReference>
            </connector>
            <label>CZ</label>
        </rules>
        <rules>
            <name>T1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProductService</targetReference>
            </connector>
            <label>T1</label>
        </rules>
        <rules>
            <name>T0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProductService</targetReference>
            </connector>
            <label>T0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Single_Series</name>
        <label>Product Single Series</label>
        <locationX>1972</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>Product_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Compliments_BOX</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Compliments_BOX</name>
        <label>Service Compliments BOX</label>
        <locationX>2360</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>BOX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Active_Name</targetReference>
            </connector>
            <label>BOX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Data_Type</name>
        <label>Service Data Type</label>
        <locationX>105</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Emitted_Ticket</name>
        <label>Service Emitted Ticket</label>
        <locationX>1287</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Other_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emitted_Ticket_Number</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Printout</name>
        <label>Service Printout</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Single_Client_Multiactivity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Printout_copies_number1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Single_Series</name>
        <label>Service Single Series</label>
        <locationX>1683</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Other_Services_Single_Series</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Clean_Way</name>
            <conditionLogic>(1 OR 2) AND  3</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Single_Series_Emission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CleanWayError</targetReference>
            </connector>
            <label>Clean Way</label>
        </rules>
        <rules>
            <name>Flexbenefit</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 ) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLineItemVar.IT_Single_Series_Emission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlexbenefitError</targetReference>
            </connector>
            <label>Flexbenefit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_with_provider_2</name>
        <label>Service with provider=2</label>
        <locationX>325</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Product_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Set</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_Client_Multiactivity</name>
        <label>Single Client Multiactivity</label>
        <locationX>1023</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Printout_copies_number1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Single_Client_Multiactivity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Printout_copies_number1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Product__c</picklistField>
        <picklistObject>ER_ContractLineItem__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>IT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT15_Contract_Line_Item_Activation_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_From_Financial_Center</name>
        <label>Get From Financial Center</label>
        <locationX>237</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContractLineItem</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Single_Client_Multiactivity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContractLineItem</name>
        <label>getContractLineItem</label>
        <locationX>347</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDistributionPoint</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>ER_ContractLineItem__c</object>
        <outputReference>ContractLineItemVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Product__c</queriedFields>
        <queriedFields>IT_Graphic_Layer_Back__c</queriedFields>
        <queriedFields>IT_Graphic_Layer_Front__c</queriedFields>
        <queriedFields>IT_Graphic_Background_Back__c</queriedFields>
        <queriedFields>IT_Graphic_Background_Front__c</queriedFields>
        <queriedFields>IT_Envelope__c</queriedFields>
        <queriedFields>IT_Printout_Employee_Copies_Number__c</queriedFields>
        <queriedFields>IT_Emitted_Ticket_Copies_Number__c</queriedFields>
        <queriedFields>IT_Single_Series_Emission__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>446</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPointVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CleanWayError</name>
        <label>CleanWayError</label>
        <locationX>1618</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Single_Series_Assignment_Clean</targetReference>
        </connector>
        <fields>
            <name>CleanWay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Emissione serie singola obbligatoria per prodotto Clean Way!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emissione_Serie_SingolaScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Single_Series_Emission__c</elementReference>
            </defaultValue>
            <fieldText>Emissione Serie Singola</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Center1</name>
        <label>Cost Center</label>
        <locationX>2135</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cost_Center_Assignment</targetReference>
        </connector>
        <fields>
            <name>CostCenterError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Per poter impostare l&apos;emissione serie singola, devono essere presenti i centri di costo!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Centro_di_CostoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DistributionPointVar.IT_Cost_Center__c</elementReference>
            </defaultValue>
            <fieldText>Centro di Costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Set_Error</name>
        <label>Data Set Error</label>
        <locationX>240</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Data_Set_Assignment</targetReference>
        </connector>
        <fields>
            <name>DataSetError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- I dati tecnici di layout BUSTA/FONDINO/LAYER non sono permessi con questo servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_BustaScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Envelope__c</elementReference>
            </defaultValue>
            <fieldText>Codice Busta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Layer_Grafico_FronteScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Graphic_Layer_Front__c</elementReference>
            </defaultValue>
            <fieldText>Codice Layer Grafico Fronte</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Layer_Grafico_RetroScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Graphic_Layer_Back__c</elementReference>
            </defaultValue>
            <fieldText>Codice Layer Grafico Retro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Fondino_Grafico_FronteScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Graphic_Background_Front__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fondino Grafico Fronte</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Fondino_Grafico_RetroScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Graphic_Background_Back__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fondino Grafico Retro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Active_name_required</name>
        <label>Display Active name required</label>
        <locationX>2300</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Display_Active_Name_Assignment</targetReference>
        </connector>
        <fields>
            <name>Display_Active_Name1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Per i servizi Compliments BOX e Compliments Experience, nella personalizzazione del ticket deve esserci la denominazione dell&apos;attivit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Esponi_Denominazione_AttivitScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Display_Active_Name__c</elementReference>
            </defaultValue>
            <fieldText>Esponi Denominazione Attivit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Emitted_Ticket</name>
        <label>Emitted Ticket</label>
        <locationX>1300</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Emitted_Ticket_Assignment</targetReference>
        </connector>
        <fields>
            <name>EmittedTicketError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Controllare il numero copie ticket emessi!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numero_Copie_Ticket_EmessiScreen</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Emitted_Ticket_Copies_Number__c</elementReference>
            </defaultValue>
            <fieldText>Numero Copie Ticket Emessi</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>2703</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>end1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(38, 0, 255);&quot;&gt;Dati Tecnici aggiornati correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorProductService</name>
        <label>ErrorProductService</label>
        <locationX>552</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Assignment</targetReference>
        </connector>
        <fields>
            <name>Error_Product_Service</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Prodotto non valido rispetto al servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProdottoScreen</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prodotto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FlexbenefitError</name>
        <label>FlexbenefitError</label>
        <locationX>1749</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Single_Series_Assignment_Flexbenefit</targetReference>
        </connector>
        <fields>
            <name>FlexbenefitError1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Emissione serie singola obbligatoria per prodotto Flexbenefit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emissione_Serie_SingolaScreen_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Single_Series_Emission__c</elementReference>
            </defaultValue>
            <fieldText>Emissione Serie Singola</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiactivity1</name>
        <label>Multiactivity</label>
        <locationX>2144</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Multiactivity_assignment</targetReference>
        </connector>
        <fields>
            <name>MultiactivityError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- L&apos;emissione serie singola p&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;u essere impostata solo per clienti multiattivit!&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cliente_MultiattivitScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FinancialCenterVar.IT_Single_Client_Multiactivity__c</elementReference>
            </defaultValue>
            <fieldText>Cliente Multiattivit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Printout_Copies_Error</name>
        <label>Printout Copies Error</label>
        <locationX>923</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Printout_Assignment</targetReference>
        </connector>
        <fields>
            <name>PrintoutError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Controllare il numero tabulati inseriti!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numero_Copie_Tabulato_DipendenteScreen</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ContractLineItemVar.IT_Printout_Employee_Copies_Number__c</elementReference>
            </defaultValue>
            <fieldText>Numero Copie Tabulato/Dipendente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Error</name>
        <label>Product Error</label>
        <locationX>2104</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Single_Series_Assignment</targetReference>
        </connector>
        <fields>
            <name>ProductError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Per poter impostare l&apos;emissione serie singola, il prodotto deve essere personalizzato!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProdottoScreen1</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prodotto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Service_with_provider_2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractLineItemVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_ContractLineItem__c</objectType>
    </variables>
    <variables>
        <name>DistributionPointVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenterVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
