src/flows/IT16_Delivery_Distribution_Activation_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Cost_Center_Assignment</name>
        <label>Cost Center Assignment</label>
        <locationX>752</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointVar.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Centro_di_CostoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiactivity_and_Cost_Center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_to_Display_Assignment</name>
        <label>Data to Display Assignment</label>
        <locationX>332</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointVar.IT_Data_to_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dato_da_esporre_sul_TicketScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_Type_to_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Manager_Assignment</name>
        <label>Sales Manager Assignment</label>
        <locationX>566</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointVar.IT_Contact_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommercialeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Assignment</name>
        <label>Vehicle Assignment</label>
        <locationX>909</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteVar.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provider2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Assignment_1</name>
        <label>Vehicle Assignment</label>
        <locationX>1125</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteVar.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VettoreScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provider_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Data_Type_to_Display</name>
        <label>Data Type to Display</label>
        <locationX>282</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Data_to_Display__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Data_to_Display__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Display</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiactivity_and_Cost_Center</name>
        <label>Multiactivity and Cost Center</label>
        <locationX>678</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Service_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO4</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Single_Client_Multiactivity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Cost_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CostCenter</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provider2</name>
        <label>Provider2</label>
        <locationX>844</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>end</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliverySiteVar.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0002</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Provider_2</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provider_1</name>
        <label>Provider 1</label>
        <locationX>1031</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>end</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliverySiteVar.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Provider_1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Manager</name>
        <label>Sales Manager</label>
        <locationX>494</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Multiactivity_and_Cost_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Contact_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointVar.IT_Contact_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Manager1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Data_Type</name>
        <label>Service Data Type</label>
        <locationX>282</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Type_to_Display</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Provider</name>
        <label>Service Provider</label>
        <locationX>912</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Provider_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider2</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Vehicle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT16_Delivery_Distribution_Activation_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDelivery</name>
        <label>getDelivery</label>
        <locationX>301</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDistributionPoint</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliverySiteVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>426</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Data_Type</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPointVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Data_to_Display__c</queriedFields>
        <queriedFields>IT_Contact_Code__c</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDelivery</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Single_Client_Multiactivity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CostCenter</name>
        <label>CostCenter</label>
        <locationX>653</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cost_Center_Assignment</targetReference>
        </connector>
        <fields>
            <name>CostCenterError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 3, 3); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Cliente singolo: eliminare il centro di costo!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Centro_di_CostoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DistributionPointVar.IT_Cost_Center__c</elementReference>
            </defaultValue>
            <fieldText>Centro di Costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_to_Display</name>
        <label>Data to Display</label>
        <locationX>202</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Data_to_Display_Assignment</targetReference>
        </connector>
        <fields>
            <name>DataToDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Controllare che su tutte le attività sia stato definito cosa esporre sul ticket!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dato_da_esporre_sul_TicketScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DistributionPointVar.IT_Data_to_Display__c</elementReference>
            </defaultValue>
            <fieldText>Dato da esporre sul Ticket</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>end</name>
        <label>end</label>
        <locationX>1385</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>end1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(38, 1, 247);&quot;&gt;Informazioni consegna e attività aggiornate correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sales_Manager1</name>
        <label>Sales Manager</label>
        <locationX>463</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Manager_Assignment</targetReference>
        </connector>
        <fields>
            <name>SalesManagerError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Manca il Commerciale dell&apos;attività!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CommercialeScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DistributionPointVar.IT_Contact_Code__c</elementReference>
            </defaultValue>
            <fieldText>Commerciale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Provider_1</name>
        <label>Service Provider 1</label>
        <locationX>1011</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Assignment_1</targetReference>
        </connector>
        <fields>
            <name>ServiceProvider1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Esistono consegne con vettore di un provider diverso da quello gestito dal servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoreScreen1</name>
            <choiceReferences>Vehicle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vettore</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Provider_2</name>
        <label>Service Provider 2</label>
        <locationX>787</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Assignment</targetReference>
        </connector>
        <fields>
            <name>ServiceProvider2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Esistono consegne con vettore di un provider diverso da quello gestito dal servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoreScreen</name>
            <choiceReferences>Vehicle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vettore</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeliverySiteVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DistributionPointVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenterVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
