src/flows/IT17_AccountStatusUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Status_Active</name>
        <label>Account Status Active</label>
        <locationX>727</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>AccountVariable.ER_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Status_Update_Inactive</name>
        <label>Account Status Update Inactive</label>
        <locationX>735</locationX>
        <locationY>970</locationY>
        <assignmentItems>
            <assignToReference>AccountVariable.ER_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activate</name>
        <label>Activate</label>
        <locationX>547</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>ActiveFC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActivateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaFCActive</name>
        <label>AggiornaFCActive</label>
        <locationX>360</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterVariable.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Provisioning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFCInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaFCClosed</name>
        <label>AggiornaFCClosed</label>
        <locationX>516</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterVariable.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Provisioning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFCInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaFCProvisioning</name>
        <label>AggiornaFCProvisioning</label>
        <locationX>669</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Provisioning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterVariable.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialCenterVariable.IT_Account_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFCInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Already_Active</name>
        <label>Account Already Active</label>
        <locationX>796</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>Account_Status_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not active</defaultConnectorLabel>
        <rules>
            <name>ActiveAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVariable.ER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActivateAccount</name>
        <label>Activate?</label>
        <locationX>625</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>No_Active_FC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveFC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Already_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Attivo</name>
        <label>Attivo?</label>
        <locationX>358</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Chiuso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaFCActive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chiuso</name>
        <label>Chiuso?</label>
        <locationX>507</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Provisioning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChiuso</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>03</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaFCClosed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FC_Active</name>
        <label>FC Active</label>
        <locationX>540</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>FCLoopIterator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCLoop.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Active_FC</name>
        <label>No Active FC</label>
        <locationX>804</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>Account_Status_Update_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Inactive</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVariable.ER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provisioning</name>
        <label>Provisioning?</label>
        <locationX>663</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>getAccountInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesProvisioning</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaFCProvisioning</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stati_Allineati</name>
        <label>Stati Allineati</label>
        <locationX>151</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>getAccountFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non allineati</defaultConnectorLabel>
        <rules>
            <name>Same_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVariable.ER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVariable.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVariable.ER_Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Stesso stato</label>
        </rules>
    </decisions>
    <interviewLabel>IT17_AccountStatusUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT17_AccountStatusUpdate</label>
    <loops>
        <name>FCLoopIterator</name>
        <label>FCLoopIterator</label>
        <locationX>359</locationX>
        <locationY>655</locationY>
        <assignNextValueToReference>FCLoop</assignNextValueToReference>
        <collectionReference>FCRelated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FC_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActivateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountFC</name>
        <label>getAccountFC</label>
        <locationX>359</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FCLoopIterator</targetReference>
        </connector>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterVariable.ER_Account_Name__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRelated</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountInfo</name>
        <label>getAccountInfo</label>
        <locationX>978</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stati_Allineati</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterVariable.ER_Account_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetFCInfo</name>
        <label>GetFCInfo</label>
        <locationX>50</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attivo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Account_Active__c</queriedFields>
        <queriedFields>IT_Account_Closed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1119</locationX>
        <locationY>756</locationY>
        <inputReference>AccountVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFCInfo</name>
        <label>UpdateFCInfo</label>
        <locationX>164</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>getAccountInfo</targetReference>
        </connector>
        <inputReference>FinancialCenterVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>GetFCInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ActiveFC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FCLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>FCRelated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenterVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
