src/flows/IT18_Update_Case_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>CaseAssignment</name>
        <label>CaseAssignment</label>
        <locationX>854</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>Case.IT_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_from_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseAssignment_0</name>
        <label>CaseAssignment</label>
        <locationX>702</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>Case.IT_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Esito</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseAssignment_0_0</name>
        <label>CaseAssignment</label>
        <locationX>625</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>Case.IT_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Argomento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Outcome</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankValue</name>
        <choiceText>Scegli un valore...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Chiuso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In lavorazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In_Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Feedback_Waiting</name>
        <choiceText>In attesa di feedback interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Feedback Waiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>In attesa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>WaitingforClientResponse</name>
        <choiceText>In attesa di risposta da cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Client&apos;s Response</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Null_Outcome</name>
        <label>Null Outcome</label>
        <locationX>695</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>CaseAssignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Esito</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Blank</name>
        <label>Status Blank</label>
        <locationX>387</locationX>
        <locationY>14</locationY>
        <defaultConnector>
            <targetReference>Status_CLosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusScreen_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_CLosed</name>
        <label>Status CLosed</label>
        <locationX>503</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Null_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.IT_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateStatusScreen_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Case_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Case_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Outcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Outcome_from_Status</name>
        <dataType>String</dataType>
        <expression>Case({!Stato},
&quot;In lavorazione&quot;,&quot;Working&quot;,
&quot;Chiuso&quot;,&quot;Closed&quot;,
{!Stato}
)</expression>
    </formulas>
    <interviewLabel>IT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT18_Update_Case_Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>142</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateStatusScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IT_Outcome__c</queriedFields>
        <queriedFields>IT_Case_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>854</locationX>
        <locationY>223</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>UpdateStatusScreen</name>
        <label>UpdateStatusScreen</label>
        <locationX>245</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Blank</targetReference>
        </connector>
        <fields>
            <name>Stato</name>
            <choiceReferences>BlankValue</choiceReferences>
            <choiceReferences>In_Progress</choiceReferences>
            <choiceReferences>Pending</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BlankValue</defaultSelectedChoiceReference>
            <fieldText>Stato</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Esito</name>
            <choiceReferences>Internal_Feedback_Waiting</choiceReferences>
            <choiceReferences>WaitingforClientResponse</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Internal_Feedback_Waiting</defaultSelectedChoiceReference>
            <fieldText>Esito</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stato</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pending</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateStatusScreen_0</name>
        <label>ErrorStatusScreen</label>
        <locationX>479</locationX>
        <locationY>217</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateStatusScreen</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;E&apos; necessario selezionare almeno uno stato per procedere&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateStatusScreen_0_0</name>
        <label>ErrorStatusScreen</label>
        <locationX>592</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CaseAssignment_0_0</targetReference>
        </connector>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;Prima di chiudere il caso è necessario inserire l&apos;argomento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Argomento</name>
            <choiceReferences>Case_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Argomento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
