src/flows/IT21_Set_Contact_Progressive2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add1toCount</name>
        <label>Add1toCount</label>
        <locationX>688</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ContactDetailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetContactProgressive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Count</name>
        <label>CountGroup</label>
        <locationX>542</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ContactDetailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactDetailGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add1toCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactProgressive</name>
        <label>SetContactProgressive</label>
        <locationX>845</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ContactDetailRecord.IT_Contact_progressive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContactDetail</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CountText</name>
        <dataType>String</dataType>
        <expression>TEXT({!ContactDetailCount})</expression>
    </formulas>
    <interviewLabel>IT21_Set_Contact_Progressive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT21_Set_Contact_Progressive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_detail</name>
        <label>Get_contact_detail</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact_detail_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputReference>ContactDetailRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Code__c</queriedFields>
        <queriedFields>IT_Apparatus_Type__c</queriedFields>
        <queriedFields>IT_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_detail_0</name>
        <label>Get_contact_detail_group</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Count</targetReference>
        </connector>
        <filters>
            <field>IT_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactDetailRecord.IT_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputReference>ContactDetailGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Code__c</queriedFields>
        <queriedFields>IT_Apparatus_Type__c</queriedFields>
        <queriedFields>IT_Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactDetail</name>
        <label>UpdateContactDetail</label>
        <locationX>987</locationX>
        <locationY>50</locationY>
        <inputReference>ContactDetailRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_contact_detail</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactDetailGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactDetailTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
