src/flows/IT23_Cancel_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignContract</name>
        <label>assignContract</label>
        <locationX>384</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Contract_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Commission_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Commission_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Expiration_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Expiration_Contract_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Contract_Renewal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Contract_Renewal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Commission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Commission_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Card_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Card_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Card_Cost_Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Card_Cost_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Attendance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Attendance_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Campaign_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Campaign_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Campaign_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Campaign_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Delivery_Date_Bond__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Delivery_Date_Bond__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Delivery_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Delivery_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Discount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Discount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Date_presence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Date_presence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Extradiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Extradiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Fixed_Day_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Fixed_Day_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.IT_Flexben_Fee_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRequest.IT_Flexben_Fee_Cost__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignRequest</name>
        <label>assignRequest</label>
        <locationX>508</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>currentRequest.IT_Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRequest.IT_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commenti</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRequest.IT_Editing_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivazione_Modifiche1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRequest</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>EditingReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Editing_Reason__c</picklistField>
        <picklistObject>IT_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IT23 Cancel Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT23 Cancel Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>206</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conferma_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Request__c</object>
        <outputReference>currentRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_ABI__c</queriedFields>
        <queriedFields>IT_ABI_CAB__c</queriedFields>
        <queriedFields>IT_AC_User__c</queriedFields>
        <queriedFields>IT_Acceptance_User__c</queriedFields>
        <queriedFields>IT_Accepted_Request_Date__c</queriedFields>
        <queriedFields>IT_Account__c</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_Address__c</queriedFields>
        <queriedFields>IT_Address_Change__c</queriedFields>
        <queriedFields>IT_Administrative_Group__c</queriedFields>
        <queriedFields>IT_Applicant_User__c</queriedFields>
        <queriedFields>IT_Attendance_Type__c</queriedFields>
        <queriedFields>IT_Authorization_Date__c</queriedFields>
        <queriedFields>IT_Bank_Account__c</queriedFields>
        <queriedFields>IT_Bank_Account_Code__c</queriedFields>
        <queriedFields>IT_Beneficiary_Type__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R1__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R2__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R3__c</queriedFields>
        <queriedFields>IT_Bond__c</queriedFields>
        <queriedFields>IT_CAB__c</queriedFields>
        <queriedFields>IT_Campaign_End_Date__c</queriedFields>
        <queriedFields>IT_Campaign_Start_Date__c</queriedFields>
        <queriedFields>IT_Card_Cost__c</queriedFields>
        <queriedFields>IT_CC__c</queriedFields>
        <queriedFields>IT_Card_Cost_Billing_Frequency__c</queriedFields>
        <queriedFields>IT_Check_Iban__c</queriedFields>
        <queriedFields>IT_CIG__c</queriedFields>
        <queriedFields>IT_CIN__c</queriedFields>
        <queriedFields>IT_City__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Commission_Percentage__c</queriedFields>
        <queriedFields>IT_Commission_Type__c</queriedFields>
        <queriedFields>IT_Company_Name_Change__c</queriedFields>
        <queriedFields>IT_Concurrency__c</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
        <queriedFields>IT_Contract_Line_Item__c</queriedFields>
        <queriedFields>IT_Contract_Number__c</queriedFields>
        <queriedFields>IT_Contract_Progressive__c</queriedFields>
        <queriedFields>IT_Contract_Renewal_Type__c</queriedFields>
        <queriedFields>IT_Contract_Start_Date__c</queriedFields>
        <queriedFields>IT_Contract_Type__c</queriedFields>
        <queriedFields>IT_Contractual_Particularities__c</queriedFields>
        <queriedFields>IT_Date_presence__c</queriedFields>
        <queriedFields>IT_Country__c</queriedFields>
        <queriedFields>IT_Delivery_Date_Bond__c</queriedFields>
        <queriedFields>IT_Delivery_Fixed_Day__c</queriedFields>
        <queriedFields>IT_Delivery_Site__c</queriedFields>
        <queriedFields>IT_Delivery_Term__c</queriedFields>
        <queriedFields>IT_Discount_Percentage__c</queriedFields>
        <queriedFields>IT_Discount_Percentage_2__c</queriedFields>
        <queriedFields>IT_Discount_Percentage_3__c</queriedFields>
        <queriedFields>IT_Discount_Type__c</queriedFields>
        <queriedFields>IT_Discount_Validity_Date_2__c</queriedFields>
        <queriedFields>IT_Discount_Validity_Date_3__c</queriedFields>
        <queriedFields>IT_Distribution_Point__c</queriedFields>
        <queriedFields>IT_Editing_Reason__c</queriedFields>
        <queriedFields>IT_Employee_Number__c</queriedFields>
        <queriedFields>IT_Expiration_Contract_Date__c</queriedFields>
        <queriedFields>IT_Extended_Company_Name__c</queriedFields>
        <queriedFields>IT_Extra_Urban_Specifications__c</queriedFields>
        <queriedFields>IT_Extradiscount__c</queriedFields>
        <queriedFields>IT_Extradiscount_Percentage__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Extradiscount_Type__c</queriedFields>
        <queriedFields>IT_Fixed_Day_Type__c</queriedFields>
        <queriedFields>IT_Fax__c</queriedFields>
        <queriedFields>IT_Flexben_Fee_Cost__c</queriedFields>
        <queriedFields>IT_Flexben_Fee_Frequency__c</queriedFields>
        <queriedFields>IT_Flexben_Startup_Cost__c</queriedFields>
        <queriedFields>IT_Request_Status__c</queriedFields>
        <queriedFields>IT_Request_Date__c</queriedFields>
        <queriedFields>IT_Reason__c</queriedFields>
        <queriedFields>IT_SDD_Authorized__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateRequest</name>
        <label>updateRequest</label>
        <locationX>625</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>SuccessoScreen</targetReference>
        </connector>
        <inputReference>currentRequest</inputReference>
    </recordUpdates>
    <screens>
        <name>Conferma_Screen</name>
        <label>Conferma Screen</label>
        <locationX>360</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignRequest</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Rifiuta Modifiche &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivazione_Modifiche1</name>
            <choiceReferences>EditingReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivazione Modifiche</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commenti</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentRequest.IT_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Commenti</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>requestStatus</name>
            <fieldText>&lt;p&gt;Codice Utente Richiedente&lt;/p&gt;&lt;p&gt;{!currentRequest.IT_Applicant_User__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Richiesta1</name>
            <fieldText>&lt;p&gt;Data Richiesta&lt;/p&gt;&lt;p&gt;{!currentRequest.IT_Request_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessoScreen</name>
        <label>SuccessoScreen</label>
        <locationX>763</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Richiesta aggiornata correttamente&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bankAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>contractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Request__c</objectType>
    </variables>
    <variables>
        <name>financialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
