src/flows/IT24_Case_Reopen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>UpdateCaseInfo</name>
        <label>UpdateCaseInfo</label>
        <locationX>1057</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>CaseInfo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInfo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In_Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseInfo1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountIdPopolato</name>
        <label>AccountIdPopolato?</label>
        <locationX>427</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getAccountInfo_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getQueueIdProvWhite_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountIdPopolato_0</name>
        <label>AccountIdPopolato?</label>
        <locationX>428</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getAccountInfo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInfo.AccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getQueueIdBOWhite</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountSegmentation</name>
        <label>AccountSegmentation</label>
        <locationX>694</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInfo.IT_Red_White__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIdProvRed_0_0_0</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>White</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInfo.IT_Red_White__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>White</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIdProvWhite_0_0</targetReference>
            </connector>
            <label>White</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountSegmentation_0</name>
        <label>AccountSegmentation</label>
        <locationX>693</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Red_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInfo.IT_Red_White__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIdBORed</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>White_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInfo.IT_Red_White__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>White</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIdBOWhite</targetReference>
            </connector>
            <label>White</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseStatus</name>
        <label>CheckCaseStatus</label>
        <locationX>197</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Aperto</defaultConnectorLabel>
        <rules>
            <name>ChiusoOInAttesa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseInfo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInfo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeInfo</targetReference>
            </connector>
            <label>ChiusoOInAttesa</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRT</name>
        <label>Check RT</label>
        <locationX>194</locationX>
        <locationY>564</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Provisioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeInfo.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Provisioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountIdPopolato</targetReference>
            </connector>
            <label>Record Type Provisioning</label>
        </rules>
        <rules>
            <name>Record_Type_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeInfo.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountIdPopolato_0</targetReference>
            </connector>
            <label>Record Type Support</label>
        </rules>
    </decisions>
    <interviewLabel>IT24 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT24 Case Reopen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountInfo</name>
        <label>getAccountInfo</label>
        <locationX>702</locationX>
        <locationY>783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountSegmentation_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInfo.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Red_White__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountInfo_0</name>
        <label>getAccountInfo</label>
        <locationX>434</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountSegmentation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInfo.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Red_White__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCaseInfo</name>
        <label>getCaseInfo</label>
        <locationX>205</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCaseStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueueIdBORed</name>
        <label>getQueueIdBORed</label>
        <locationX>930</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseInfo</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BACK_OFFICE_RED</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>GroupInfo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueueIdBOWhite</name>
        <label>getQueueIdBOWhite</label>
        <locationX>864</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseInfo</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BACK_OFFICE_WHITE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>GroupInfo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueueIdProvRed_0_0_0</name>
        <label>getQueueIdProvRed</label>
        <locationX>862</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseInfo</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PROVISIONING_RED</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>GroupInfo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueueIdProvWhite_0_0</name>
        <label>getQueueIdPROVWhite</label>
        <locationX>866</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseInfo</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PROVISIONING_WHITE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>GroupInfo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeInfo</name>
        <label>getRecordTypeInfo</label>
        <locationX>201</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInfo.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseInfo1</name>
        <label>UpdateCaseInfo</label>
        <locationX>1255</locationX>
        <locationY>378</locationY>
        <inputReference>CaseInfo</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCaseInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GroupInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
