src/flows/IT26_Update_Association.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_0</name>
        <label>assign to list</label>
        <locationX>478</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactAssociationTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContactAssociation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info</name>
        <label>Assign Info</label>
        <locationX>245</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ContactAssociationTemp.IT_Contact_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetailInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>IT26_Update_Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT26_Update_Association</label>
    <loops>
        <name>LoopContactAssociation</name>
        <label>LoopContactAssociation</label>
        <locationX>363</locationX>
        <locationY>63</locationY>
        <assignNextValueToReference>ContactAssociationTemp</assignNextValueToReference>
        <collectionReference>AssociationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAssociation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactAssociation</name>
        <label>GetContactAssociation</label>
        <locationX>193</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContactAssociation</targetReference>
        </connector>
        <filters>
            <field>IT_Contact_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Association__c</object>
        <outputReference>AssociationList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Contact_Info__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssociation</name>
        <label>UpdateAssociation</label>
        <locationX>600</locationX>
        <locationY>65</locationY>
        <inputReference>ListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>GetContactAssociation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>ContactAssociationTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>ContactDetailInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
