src/flows/IT27_get_Delivery_and_Distribution.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Altroindirizzodiconsegna</name>
        <choiceText>Consegna presso altro cliente</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Numero Consegna altro Cliente</promptText>
        </userInput>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </choices>
    <choices>
        <name>BlankChoice</name>
        <choiceText>Scegliere un valore...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>blank</stringValue>
        </value>
    </choices>
    <constants>
        <name>Text0</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Delivery_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaConsegne</name>
        <dataType>String</dataType>
        <displayField>IT_Delivery_Number__c</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>IT_Delivery_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lookupContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Branch__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickProvider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Provider__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordDelivery</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputAssignments>
            <assignToReference>DeliveryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Service__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vehicle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IT27_get Delivery and Distribution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT27_get Delivery and Distribution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Distribution_Point</name>
        <label>get Distribution Point</label>
        <locationX>546</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>ER_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPoint</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Free_Description_to_Display__c</queriedFields>
        <queriedFields>IT_Address_to_Display__c</queriedFields>
        <queriedFields>IT_Locality_to_Display__c</queriedFields>
        <queriedFields>IT_Naming_to_Display__c</queriedFields>
        <queriedFields>IT_Raw_Number_for_Display__c</queriedFields>
        <queriedFields>IT_Data_to_Display__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>IT_Sestiere_Code__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Road_Arch_Code__c</queriedFields>
        <queriedFields>IT_Activity_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>ER_Country__c</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Zone__c</queriedFields>
        <queriedFields>IT_Contract_Line_Item__c</queriedFields>
        <queriedFields>IT_Extra_Urban_Specifications__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_Short_Address__c</queriedFields>
        <queriedFields>IT_Sales_Manager__c</queriedFields>
        <queriedFields>IT_Code_and_Name__c</queriedFields>
        <queriedFields>IT_Data_Type_to_Display__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySites_0</name>
        <label>getDeliverySites</label>
        <locationX>392</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Distribution_Point</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Notes__c</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Provider__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Special_Service__c</queriedFields>
        <queriedFields>IT_Notes_Type__c</queriedFields>
        <queriedFields>IT_Text__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_Street_additionnal__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Zone__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_Sestiere_Code__c</queriedFields>
        <queriedFields>IT_Road_Arch_Code__c</queriedFields>
        <queriedFields>IT_Delivery_Location__c</queriedFields>
        <queriedFields>IT_Extra_Urban_Specifications__c</queriedFields>
        <queriedFields>IT_Label_Notes__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>124</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>getDeliverySites_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DeliveryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverySites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>delSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>distPointList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>distributionPointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialCenter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>flowCAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowLocAgg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvinceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewDeliverySiteRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newDPlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>OldDistPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a071x0000024PHLAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialServicePick</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempDP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
</Flow>
