src/flows/IT28_Add_Contacts_Welfare_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Remaining_Ids</name>
        <label>Assign Remaining Ids</label>
        <locationX>1137</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>DetailIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Codes_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIds</name>
        <label>AssignIds</label>
        <locationX>857</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>DetailIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seleziona_i_recapiti_da_aggiungere_al_piano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Codes_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Populated</name>
        <label>Account Populated?</label>
        <locationX>394</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>ScreenError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectRecord.IT_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SelectContacts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Codes_0</name>
        <label>Remaining Codes</label>
        <locationX>1019</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>ScreenError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES2_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lenght</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDetail</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactDetailsChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IT_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIdda15</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Apparatus_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountIdda15</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProjectRecord.IT_Account__c},15)</expression>
    </formulas>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Lenght}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IndId</name>
        <dataType>String</dataType>
        <expression>LEFT({!DetailIds},18)</expression>
    </formulas>
    <formulas>
        <name>Lenght</name>
        <dataType>Number</dataType>
        <expression>LEN({!DetailIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingIds</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DetailIds},({!Lenght}-20)))</expression>
    </formulas>
    <interviewLabel>IT28_Add_Contacts_Welfare_Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT28_Add_Contacts_Welfare_Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetPlan</name>
        <label>GetPlan</label>
        <locationX>154</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Plan__c</object>
        <outputReference>PlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Welfare_Project__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProject</name>
        <label>GetProject</label>
        <locationX>269</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlanRecord.IT_Welfare_Project__c</elementReference>
            </value>
        </filters>
        <object>IT_Welfare_Project__c</object>
        <outputReference>ProjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDetail</name>
        <label>UpdateDetail</label>
        <locationX>1258</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Assign_Remaining_Ids</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IT_Credentials__c</field>
            <value>
                <elementReference>Credenziali</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Orders__c</field>
            <value>
                <elementReference>Ordini</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Payroll__c</field>
            <value>
                <elementReference>Payroll</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Residue__c</field>
            <value>
                <elementReference>Residui</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Sending_Invoices__c</field>
            <value>
                <elementReference>Fatture</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Contact_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>ScreenError</name>
        <label>ScreenError</label>
        <locationX>401</locationX>
        <locationY>322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorAccount</name>
            <fieldText>&lt;p&gt;Prima di proseguire collegare il progetto ad un account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenError_0</name>
        <label>ScreenSuccess</label>
        <locationX>1010</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorAccount_0</name>
            <fieldText>&lt;p&gt;Recapiti collegati correttamente al piano&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectContacts</name>
        <label>SelectContacts</label>
        <locationX>555</locationX>
        <locationY>123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectRoles</targetReference>
        </connector>
        <fields>
            <name>Seleziona_i_recapiti_da_aggiungere_al_piano</name>
            <choiceReferences>ContactDetailsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona i recapiti da aggiungere al piano</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRoles</name>
        <label>SelectRoles</label>
        <locationX>703</locationX>
        <locationY>123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignIds</targetReference>
        </connector>
        <fields>
            <name>Credenziali</name>
            <dataType>Boolean</dataType>
            <fieldText>Credenziali</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payroll</name>
            <dataType>Boolean</dataType>
            <fieldText>Payroll</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Residui</name>
            <dataType>Boolean</dataType>
            <fieldText>Residui</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ordini</name>
            <dataType>Boolean</dataType>
            <fieldText>Ordini</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fatture</name>
            <dataType>Boolean</dataType>
            <fieldText>Fatture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>GetPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DetailIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Plan__c</objectType>
    </variables>
    <variables>
        <name>ProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Welfare_Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
