src/flows/IT30_Clone_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>check_Benefit</name>
        <label>check Benefit</label>
        <locationX>1063</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Get_Fonti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Benefit_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBenefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Benefit</targetReference>
            </connector>
            <label>Benefit Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Contact_Association</name>
        <label>check Contact Association</label>
        <locationX>50</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Loop_Recapiti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Association_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contact_Association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contact_Association</targetReference>
            </connector>
            <label>Contact Association Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Dati_Piano</name>
        <label>check Dati Piano</label>
        <locationX>894</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Crea_Piano_Clonato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VRIT01_Plan_End_Date_and_Project_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Fine_Piano</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Plan.IT_Welfare_Project__r.IT_Project_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT01_Plan_End_Date_and_Project_End_Date</label>
        </rules>
        <rules>
            <name>VRIT02_Plan_End_Date_and_Project_Start_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Fine_Piano</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Plan.IT_Welfare_Project__r.IT_Project_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT02_Plan_End_Date_and_Project_Start_D</label>
        </rules>
        <rules>
            <name>VRIT03_Plan_Start_Date_and_Project_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan.IT_Welfare_Project__r.IT_Project_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Data_Inizio_Piano</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT03_Plan_Start_Date_and_Project_Start</label>
        </rules>
        <rules>
            <name>VRIT04_Plan_Start_Date_and_Project_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan.IT_Welfare_Project__r.IT_Project_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Data_Inizio_Piano</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT04_Plan_Start_Date_and_Project_End</label>
        </rules>
        <rules>
            <name>VRIT05_Plan_Start_Date_and_Plan_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Fine_Piano</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Data_Inizio_Piano</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT05_Plan_Start_Date_and_Plan_End</label>
        </rules>
        <rules>
            <name>VRIT06_IT_Planned_Working_Date_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserBypassVR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userBusinesUnit</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Ita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>profileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Provisioning Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Data_Lavorazione_Pianificata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT06_IT_Planned_Working_Date_Required</label>
        </rules>
        <rules>
            <name>VRIT07_FB01_TW01</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>FB01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TW01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FB02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TW04</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errori</targetReference>
            </connector>
            <label>VRIT07_FB01_TW01</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Fonte</name>
        <label>check Fonte</label>
        <locationX>983</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>getRecapiti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Fonte_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fonti</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Fonti_di_Finanziamento</targetReference>
            </connector>
            <label>Fonte Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Recapiti</name>
        <label>check Recapiti</label>
        <locationX>298</locationX>
        <locationY>903</locationY>
        <defaultConnector>
            <targetReference>CLONAZIONE_EFFETTUATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recapito_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecapiti</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Recapiti</targetReference>
            </connector>
            <label>Recapito Presente</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Credenziali</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Credentials__c</picklistField>
        <picklistObject>IT_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>profileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>userBusinesUnit</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.ER_Business_Unit__c})</expression>
    </formulas>
    <interviewLabel>IT30_Clone_Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT30_Clone_Plan</label>
    <loops>
        <name>Loop_Benefit</name>
        <label>Loop Benefit</label>
        <locationX>1272</locationX>
        <locationY>470</locationY>
        <assignNextValueToReference>tempBenefit</assignNextValueToReference>
        <collectionReference>getBenefit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>crea_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Fonti</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contact_Association</name>
        <label>Loop Contact Association</label>
        <locationX>57</locationX>
        <locationY>525</locationY>
        <assignNextValueToReference>tempContactAssociation</assignNextValueToReference>
        <collectionReference>get_Contact_Association</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Contact_Association</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Recapiti</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Fonti_di_Finanziamento</name>
        <label>Loop Fonti di Finanziamento</label>
        <locationX>714</locationX>
        <locationY>892</locationY>
        <assignNextValueToReference>tempFonti</assignNextValueToReference>
        <collectionReference>Get_Fonti</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Fonti</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getRecapiti</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Recapiti</name>
        <label>Loop Recapiti</label>
        <locationX>306</locationX>
        <locationY>527</locationY>
        <assignNextValueToReference>tempRecapiti</assignNextValueToReference>
        <collectionReference>getRecapiti</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Contact_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CLONAZIONE_EFFETTUATA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crea_Benefit</name>
        <label>crea Benefit</label>
        <locationX>1494</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Loop_Benefit</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>tempBenefit.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Anagraphical_Groups_limited_visib__c</field>
            <value>
                <elementReference>tempBenefit.IT_Anagraphical_Groups_limited_visib__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Benefit_End_Date__c</field>
            <value>
                <elementReference>tempBenefit.IT_Benefit_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Benefit_Start_Date__c</field>
            <value>
                <elementReference>tempBenefit.IT_Benefit_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Benefit__c</field>
            <value>
                <elementReference>tempBenefit.IT_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Cash_Type__c</field>
            <value>
                <elementReference>tempBenefit.IT_Cash_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Configuration_Notes__c</field>
            <value>
                <elementReference>tempBenefit.IT_Configuration_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Email__c</field>
            <value>
                <elementReference>tempBenefit.IT_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Free_Tax__c</field>
            <value>
                <elementReference>tempBenefit.IT_Free_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Link_1__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Link_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Link_2__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Link_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Link_3__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Link_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Link_4__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Link_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Link_5__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Link_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Name_1__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Name_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Name_2__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Name_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Name_3__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Name_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Name_4__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Name_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Fund_Name_5__c</field>
            <value>
                <elementReference>tempBenefit.IT_Fund_Name_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Group_Notes__c</field>
            <value>
                <elementReference>tempBenefit.IT_Group_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Macro_Benefit__c</field>
            <value>
                <elementReference>tempBenefit.IT_Macro_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Other_Fund_Link__c</field>
            <value>
                <elementReference>tempBenefit.IT_Other_Fund_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Other_Fund_Name__c</field>
            <value>
                <elementReference>tempBenefit.IT_Other_Fund_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_End_Date_1__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_End_Date_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_End_Date_2__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_End_Date_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_End_Date_3__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_End_Date_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_Start_Date_1__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_Start_Date_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_Start_Date_2__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_Start_Date_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Periodicity_Start_Date_3__c</field>
            <value>
                <elementReference>tempBenefit.IT_Periodicity_Start_Date_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan__c</field>
            <value>
                <elementReference>ClonedPlanID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Type__c</field>
            <value>
                <elementReference>tempBenefit.IT_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Benefit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Contact_Association</name>
        <label>Crea Contact Association</label>
        <locationX>56</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Loop_Contact_Association</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>tempContactAssociation.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_AC_User__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_AC_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Account__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Activity_AC__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Activity_AC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Activity_SF__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Activity_SF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Association_Code__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Association_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Billing_Confirm_Address__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Billing_Confirm_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Client_Code__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Client_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Code__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact_Detail__c</field>
            <value>
                <elementReference>ContactDetailID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Delivery_AC__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Delivery_AC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Delivery_SF__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Delivery_SF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Delivery_Site__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Delivery_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Distribution_Point__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Distribution_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Financial_Center__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Financial_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Future_Change_Contact_Association__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Future_Change_Contact_Association__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Notifications__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Notifications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Order_Confirm_Address__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Order_Confirm_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Send_SUT__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Send_SUT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Type__c</field>
            <value>
                <elementReference>tempContactAssociation.IT_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Contact_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Contact_Detail</name>
        <label>Crea Contact Detail</label>
        <locationX>460</locationX>
        <locationY>313</locationY>
        <assignRecordIdToReference>ContactDetailID</assignRecordIdToReference>
        <connector>
            <targetReference>get_Contact_Association</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>tempRecapiti.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_AC_User__c</field>
            <value>
                <elementReference>tempRecapiti.IT_AC_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Account__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Address_Progressive__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Address_Progressive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Apparatus_Type__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Apparatus_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Association_Type__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Association_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Billing_Confirm_Address__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Billing_Confirm_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_CDC_Code__c</field>
            <value>
                <elementReference>tempRecapiti.IT_CDC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Code__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact_Info__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Contact_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact_progressive__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Contact_progressive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Credentials__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Credentials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Delivery_Code__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Delivery_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Delivery_Site__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Delivery_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Distribution_Point__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Distribution_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Financial_Center__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Financial_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Future_Change_Contact_Detail__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Future_Change_Contact_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Main_Contact__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Main_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Notifications__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Notifications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Order_Configuration__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Order_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Order_Confirm_Address__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Order_Confirm_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Orders__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Orders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Payroll__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Payroll__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan__c</field>
            <value>
                <elementReference>ClonedPlanID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Residue__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Residue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Sending_Invoices__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Sending_Invoices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Shipping_Payment__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Shipping_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Sut__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Sut__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Validity_End_Date__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Validity_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Validity_Start_Date__c</field>
            <value>
                <elementReference>tempRecapiti.IT_Validity_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>tempRecapiti.Name</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Contact_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Fonti</name>
        <label>Crea Fonti</label>
        <locationX>714</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Loop_Fonti_di_Finanziamento</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>tempFonti.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Beneficiaries_Member__c</field>
            <value>
                <elementReference>tempFonti.IT_Beneficiaries_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Beneficiaries__c</field>
            <value>
                <elementReference>tempFonti.IT_Beneficiaries__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Cessation_Residue_Management__c</field>
            <value>
                <elementReference>tempFonti.IT_Cessation_Residue_Management__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Details_CCNL__c</field>
            <value>
                <elementReference>tempFonti.IT_Details_CCNL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_End_Plan_Residue_Management__c</field>
            <value>
                <elementReference>tempFonti.IT_End_Plan_Residue_Management__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Incentive_for_Membership__c</field>
            <value>
                <elementReference>tempFonti.IT_Incentive_for_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Informative_Notes__c</field>
            <value>
                <elementReference>tempFonti.IT_Informative_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Loaded_Cash_Welfare_Amounts__c</field>
            <value>
                <elementReference>tempFonti.IT_Loaded_Cash_Welfare_Amounts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Membership_Choice_End_Date__c</field>
            <value>
                <elementReference>tempFonti.IT_Membership_Choice_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Membership_Choice_Start_Date__c</field>
            <value>
                <elementReference>tempFonti.IT_Membership_Choice_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Membership_Payment_Type_Notes__c</field>
            <value>
                <elementReference>tempFonti.IT_Membership_Payment_Type_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Membership_Payment_Type__c</field>
            <value>
                <elementReference>tempFonti.IT_Membership_Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_New_Entries_Introduction__c</field>
            <value>
                <elementReference>tempFonti.IT_New_Entries_Introduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Per_capita_Amount__c</field>
            <value>
                <elementReference>tempFonti.IT_Per_capita_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan__c</field>
            <value>
                <elementReference>ClonedPlanID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Platform_Choice__c</field>
            <value>
                <elementReference>tempFonti.IT_Platform_Choice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Type__c</field>
            <value>
                <elementReference>tempFonti.IT_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentive_for_Membership_percentage__c</field>
            <value>
                <elementReference>tempFonti.Incentive_for_Membership_percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>tempFonti.Name</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Funding_Source__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Piano_Clonato</name>
        <label>Crea Piano Clonato</label>
        <locationX>1136</locationX>
        <locationY>239</locationY>
        <assignRecordIdToReference>ClonedPlanID</assignRecordIdToReference>
        <connector>
            <targetReference>getBenefit</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Plan.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Age_Groups_Description__c</field>
            <value>
                <elementReference>Descrizioni_Gruppi_Anagrafici</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Age_Groups__c</field>
            <value>
                <elementReference>Gruppi_Anagrafici</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Credentials__c</field>
            <value>
                <elementReference>Credenziali</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_FB01__c</field>
            <value>
                <elementReference>FB01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_FB02__c</field>
            <value>
                <elementReference>FB02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Payroll_Codes__c</field>
            <value>
                <elementReference>File_Settings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan_End_Date__c</field>
            <value>
                <elementReference>Data_Fine_Piano</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Plan_Start_Date__c</field>
            <value>
                <elementReference>Data_Inizio_Piano</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Policy__c</field>
            <value>
                <elementReference>Regolamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Provisioning_Case__c</field>
            <value>
                <elementReference>casoProvisioning.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW01__c</field>
            <value>
                <elementReference>TW01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW02__c</field>
            <value>
                <elementReference>TW02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW03__c</field>
            <value>
                <elementReference>TW03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW04__c</field>
            <value>
                <elementReference>TW04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW05__c</field>
            <value>
                <elementReference>TW05</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_TW06__c</field>
            <value>
                <elementReference>TW06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Welfare_Project__c</field>
            <value>
                <elementReference>welfareProject.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_Piano</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Contact_Association</name>
        <label>get Contact Association</label>
        <locationX>449</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Contact_Association</targetReference>
        </connector>
        <filters>
            <field>IT_Contact_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempRecapiti.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IT_Contact_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fonti</name>
        <label>Get Fonti</label>
        <locationX>1175</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Fonte</targetReference>
        </connector>
        <filters>
            <field>IT_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IT_Funding_Source__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan</name>
        <label>Get Plan</label>
        <locationX>644</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clona_Piano</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IT_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBenefit</name>
        <label>getBenefit</label>
        <locationX>1300</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Benefit</targetReference>
        </connector>
        <filters>
            <field>IT_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IT_Benefit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecapiti</name>
        <label>getRecapiti</label>
        <locationX>489</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Recapiti</targetReference>
        </connector>
        <filters>
            <field>IT_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IT_Contact_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clona_Piano</name>
        <label>Clona Piano</label>
        <locationX>766</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tracciati_Allegati</targetReference>
        </connector>
        <fields>
            <name>Nome_Piano</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!Get_Plan.Name} - Copia</stringValue>
            </defaultValue>
            <fieldText>Nome Piano</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Inizio_Piano</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_Plan_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Inizio Piano</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Fine_Piano</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_Plan_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Fine Piano</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gruppi_Anagrafici</name>
            <dataType>Boolean</dataType>
            <fieldText>Gruppi Anagrafici</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descrizioni_Gruppi_Anagrafici</name>
            <fieldText>Descrizioni Gruppi Anagrafici</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Lavorazione_Pianificata</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_Planned_Working_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Lavorazione Pianificata</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>profileName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Admin</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Credentials</name>
            <choiceReferences>Credenziali</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credenziali</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>casoProvisioning</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Caso Provisioning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Provisioning_Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IT_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Plan.IT_Provisioning_Case__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>welfareProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Welfare_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Progetto Welfare</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IT_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Plan.IT_Welfare_Project__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CLONAZIONE_EFFETTUATA</name>
        <label>CLONAZIONE EFFETTUATA</label>
        <locationX>509</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CLONAZIONE</name>
            <fieldText>&lt;p&gt;CLONAZIONE EFFETTUATA CON SUCCESSO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errori</name>
        <label>Errori</label>
        <locationX>1259</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VR01_TEXT</name>
            <fieldText>&lt;p&gt;La data di fine Piano non pu avvenire dopo della data di fine Progetto!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT01_Plan_End_Date_and_Project_End_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR02_TEXT</name>
            <fieldText>&lt;p&gt;La data di fine Piano non pu avvenire prima della data di inizio Progetto!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT02_Plan_End_Date_and_Project_Start_D</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR03_TEXT</name>
            <fieldText>&lt;p&gt;La data di inizio Piano non pu avvenire prima della data di inizio Progetto!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT03_Plan_Start_Date_and_Project_Start</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR04_TEXT</name>
            <fieldText>&lt;p&gt;La data di inizio Piano non pu avvenire dopo della data di fine Progetto!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT04_Plan_Start_Date_and_Project_End</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR05_TEXT</name>
            <fieldText>&lt;p&gt;La data di inizio Piano non pu avvenire dopo della data di fine!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT05_Plan_Start_Date_and_Plan_End</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR06_TEXT</name>
            <fieldText>&lt;p&gt;Inserire la data di lavorazione pianificata!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT06_IT_Planned_Working_Date_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VR07_TEXT</name>
            <fieldText>&lt;p&gt;Non  possibile selezionare contemporaneamente FB01 e TW01 oppure FB02 e TW04&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VRIT07_FB01_TW01</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tracciati_Allegati</name>
        <label>Tracciati &amp; Allegati</label>
        <locationX>902</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Dati_Piano</targetReference>
        </connector>
        <fields>
            <name>Regolamento</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_Policy__c</elementReference>
            </defaultValue>
            <fieldText>Regolamento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File_Settings</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_Payroll_Codes__c</elementReference>
            </defaultValue>
            <fieldText>File Settings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FB01</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_FB01__c</elementReference>
            </defaultValue>
            <fieldText>FB01</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FB02</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_FB02__c</elementReference>
            </defaultValue>
            <fieldText>FB02</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW01</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW01__c</elementReference>
            </defaultValue>
            <fieldText>TW01</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW02</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW02__c</elementReference>
            </defaultValue>
            <fieldText>TW02</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW03</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW03__c</elementReference>
            </defaultValue>
            <fieldText>TW03</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW04</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW04__c</elementReference>
            </defaultValue>
            <fieldText>TW04</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW05</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW05__c</elementReference>
            </defaultValue>
            <fieldText>TW05</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TW06</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Plan.IT_TW06__c</elementReference>
            </defaultValue>
            <fieldText>TW06</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>568</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedPlanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDetailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserBypassVR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Benefit__c</objectType>
    </variables>
    <variables>
        <name>tempContactAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>tempFonti</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Funding_Source__c</objectType>
    </variables>
    <variables>
        <name>tempRecapiti</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
</Flow>
