src/flows/IT30_Update_Delivery_Site.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assign_hamlet_code</name>
        <label>assign hamlet code</label>
        <locationX>949</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000000000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Site_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_hamlet_code_0</name>
        <label>assign hamlet code</label>
        <locationX>2171</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000000000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Matched_Delivery</name>
        <label>assign Matched Delivery</label>
        <locationX>2262</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Matched_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedDeliveryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeliveryAC</name>
        <label>assignDeliveryAC</label>
        <locationX>1871</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Branch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testmatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Altra_Consegna</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignDeliveryAC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeliveryAC1</name>
        <label>assignDeliveryAC</label>
        <locationX>1953</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Matched_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberDeliveryAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPass</name>
        <label>assignToPass</label>
        <locationX>2446</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>insertedDelSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryToUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Blank_Other_Value</name>
        <label>Blank Other Value</label>
        <locationX>1862</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Branch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forzatura_VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hamlet_empty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Branch_Assignment</name>
        <label>Branch Assignment</label>
        <locationX>1338</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filiale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Delivery_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changed</name>
        <label>Changed</label>
        <locationX>881</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Delivery_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modalit_di_ConsegnaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hamlet_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Site_Field_Assignment</name>
        <label>Delivery Site Field Assignment</label>
        <locationX>862</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NominativoScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Change_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Ticket_Naming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NominativoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Site_Field_Assignment_0</name>
        <label>Delivery Site Field Assignment</label>
        <locationX>2161</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Change_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Assignment</name>
        <label>Other Assignment</label>
        <locationX>1554</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0011</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Other_Assignment_0</name>
        <label>Other Assignment</label>
        <locationX>1544</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0017</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Vector_Changed_Assignment</name>
        <label>Vector Changed Assignment</label>
        <locationX>1732</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forzatura_VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_Other_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0001</name>
        <label>Vehicle 0001</label>
        <locationX>1210</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0023</name>
        <label>Vehicle 0023</label>
        <locationX>1214</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0023</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0031</name>
        <label>Vehicle 0031</label>
        <locationX>1134</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0031</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0032</name>
        <label>Vehicle 0032</label>
        <locationX>1058</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0032</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0033</name>
        <label>Vehicle 0033</label>
        <locationX>1210</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0033</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Assignment</name>
        <label>Vehicle Assignment</label>
        <locationX>1729</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMatchedDelivery</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Esposito</name>
        <choiceText>ESPOSITO MARIO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TicketService</name>
        <choiceText>SERVIZI TICKET</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Withdraw</name>
        <choiceText>RITIRO DA PARTE DEL CLIENTE</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AC_Delivery</name>
        <label>AC_Delivery?</label>
        <locationX>372</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>errNotActive_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Delivery_AC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Delivery_AC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Delivery_AC__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Active_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Client</name>
        <label>Active_Client?</label>
        <locationX>541</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>errNotActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_variations_existing</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualTypeChange</name>
        <label>ActualTypeChange?</label>
        <locationX>756</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>hamlet_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modificare_Tipologia_di_Consegna</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Vector</name>
        <label>Changed Vector?</label>
        <locationX>1736</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Blank_Other_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vector_Changed_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>deliveriesPresent</name>
        <label>deliveriesPresent</label>
        <locationX>1198</locationX>
        <locationY>880</locationY>
        <defaultConnector>
            <targetReference>NoDeliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRESENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deliveryCHECK</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Address</targetReference>
            </connector>
            <label>PRESENT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Type</name>
        <label>Delivery Type</label>
        <locationX>1059</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>getDeliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Courier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Vehicle</targetReference>
            </connector>
            <label>Courier</label>
        </rules>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BranchChoice</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_variations_existing</name>
        <label>Future variations existing?</label>
        <locationX>623</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>New_Delivery_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Existing</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_Economic_Conditions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_FC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorVariations</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>hamlet_empty</name>
        <label>hamlet empty?</label>
        <locationX>855</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Delivery_Site_Field_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Hamlet_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Hamlet_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_hamlet_code</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>hamlet_empty_0</name>
        <label>hamlet empty?</label>
        <locationX>1876</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Update_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Hamlet_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00000000000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_hamlet_code_0</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Control_Populated</name>
        <label>Payment Control Populated?</label>
        <locationX>1269</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Vehicle_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CourierScreen</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Control_Populated_0</name>
        <label>Payment Control Populated?</label>
        <locationX>1641</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>errorscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CourierScreen</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Vehicle</name>
        <label>Service/Vehicle</label>
        <locationX>993</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_for_Vehicle_0032</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0032</targetReference>
            </connector>
            <label>Service for Vehicle 0032</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0031</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0031</targetReference>
            </connector>
            <label>Service for Vehicle 0031</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0033</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0033</targetReference>
            </connector>
            <label>Service for Vehicle 0033</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0023</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Region_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0023</targetReference>
            </connector>
            <label>Service for Vehicle 0023</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryToUpdate.IT_Region_code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0001</targetReference>
            </connector>
            <label>Service for Vehicle 0001</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Branch</name>
        <label>Vehicle/Branch</label>
        <locationX>1082</locationX>
        <locationY>1303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RomeVehicle</targetReference>
            </connector>
            <label>Rome</label>
        </rules>
        <rules>
            <name>Naples</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>52</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NaplesVehicle</targetReference>
            </connector>
            <label>Naples</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Selected</name>
        <label>Vehicle Selected</label>
        <locationX>1384</locationX>
        <locationY>1196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0011</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TicketService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Assignment</targetReference>
            </connector>
            <label>0011</label>
        </rules>
        <rules>
            <name>withdraw1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdraw</elementReference>
                </rightValue>
            </conditions>
            <label>withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Selected_0</name>
        <label>Vehicle Selected</label>
        <locationX>1382</locationX>
        <locationY>1428</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0017</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Esposito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Assignment_0</targetReference>
            </connector>
            <label>0017</label>
        </rules>
        <rules>
            <name>withdraw2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdraw</elementReference>
                </rightValue>
            </conditions>
            <label>withdraw</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>allDeliveries</name>
        <dataType>String</dataType>
        <displayField>IT_Client_Delivery_Code_Name__c</displayField>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_State_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Street_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_Street_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Validity_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>IT_Delivery_AC__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BranchChoicePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Branch__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsegnaChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Delivery_AC_and_Name__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Service__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DeliveryTypeText</name>
        <dataType>String</dataType>
        <expression>CASE({!DeliveryToUpdate.IT_Delivery_Type__c},
&quot;A&quot;, &quot;CORRIERI&quot;, 
&quot;E&quot;, &quot;ALTRO INDIRIZZO DI CONSEGNA&quot;,
&quot;F&quot;, &quot;FILIALE&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FCId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FinancialCenterRecord.Id} , 15)</expression>
    </formulas>
    <formulas>
        <name>MatchedDeliveryNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!MatchedDeliveryCode})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberDeliveryAC</name>
        <dataType>Number</dataType>
        <expression>VALUE({!testmatch})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Vehicle_Picklist_Value</name>
        <dataType>String</dataType>
        <expression>CASE({!VettoreScreen},
&quot;0032&quot;,&quot;GLS&quot;,
&quot;0001&quot;,&quot;DHL&quot;,
&quot;0002&quot;,&quot;TAKE AGENZIA&quot;,
&quot;0003&quot;,&quot;WILLY EXPRESS LOMBARDIA&quot;,
&quot;0006&quot;,&quot;RDS&quot;,
&quot;0007&quot;,&quot;SECURPOL&quot;,
&quot;0008&quot;,&quot;TAKE LOMBARDIA&quot;,
&quot;0009&quot;,&quot;LINEA EXPRESS&quot;,
&quot;0010&quot;,&quot;WILLY EXPRESS AGENZIA&quot;,
&quot;0011&quot;,&quot;SERVIZI TICKET&quot;,
&quot;0012&quot;,&quot;POSTE ITALIANE&quot;,
&quot;0015&quot;,&quot;TNT GLOBAL EXPRESS&quot;,
&quot;0017&quot;,&quot;ESPOSITO MARIO&quot;,
&quot;0018&quot;,&quot;MOTOTAXI SDA&quot;,
&quot;0019&quot;,&quot;PLICHI &amp; BUSTE&quot;,
&quot;0020&quot;,&quot;RITIRO DA PARTE DEL CLIENTE&quot;,
&quot;0021&quot;,&quot;DUIMEX&quot;,
&quot;0022&quot;,&quot;SEND ITALIA&quot;,
&quot;0023&quot;,&quot;DHL LOMBARDIA&quot;,
&quot;0024&quot;,&quot;DHL LOMBARDIA CONTESTUALE&quot;,
&quot;0025&quot;,&quot;ATTESA PAGAMENTO&quot;,
&quot;0026&quot;,&quot;DHL P.A.&quot;,
&quot;0027&quot;,&quot;PPTT - POSTE ITALIANE&quot;,
&quot;0028&quot;,&quot;TNT - TRAFFICO B2C&quot;,
&quot;0029&quot;,&quot;DHL - CONCILIAZIONE&quot;,
&quot;0031&quot;,&quot;VETTORE ESTERNO&quot;,
&quot;0033&quot;,&quot;PRT-DHL&quot;,
&quot;0034&quot;,&quot;PRT-TNT GLOBAL EXPRESS&quot;,
&quot;0035&quot;,&quot;PRT-TNT - TRAFFICO B2C&quot;,
&quot;0036&quot;,&quot;PRT-DHL LOMBARDIA&quot;,
&quot;0037&quot;,&quot;PRT-GLS&quot;,
&quot;0038&quot;,&quot;PRT-SECURPOL&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>Vehicle_Record_Value</name>
        <dataType>String</dataType>
        <expression>CASE({!DeliveryToUpdate.IT_Vehicle__c},
&quot;0032&quot;,&quot;GLS&quot;,
&quot;0001&quot;,&quot;DHL&quot;,
&quot;0002&quot;,&quot;TAKE AGENZIA&quot;,
&quot;0003&quot;,&quot;WILLY EXPRESS LOMBARDIA&quot;,
&quot;0006&quot;,&quot;RDS&quot;,
&quot;0007&quot;,&quot;SECURPOL&quot;,
&quot;0008&quot;,&quot;TAKE LOMBARDIA&quot;,
&quot;0009&quot;,&quot;LINEA EXPRESS&quot;,
&quot;0010&quot;,&quot;WILLY EXPRESS AGENZIA&quot;,
&quot;0011&quot;,&quot;SERVIZI TICKET&quot;,
&quot;0012&quot;,&quot;POSTE ITALIANE&quot;,
&quot;0015&quot;,&quot;TNT GLOBAL EXPRESS&quot;,
&quot;0017&quot;,&quot;ESPOSITO MARIO&quot;,
&quot;0018&quot;,&quot;MOTOTAXI SDA&quot;,
&quot;0019&quot;,&quot;PLICHI &amp; BUSTE&quot;,
&quot;0020&quot;,&quot;RITIRO DA PARTE DEL CLIENTE&quot;,
&quot;0021&quot;,&quot;DUIMEX&quot;,
&quot;0022&quot;,&quot;SEND ITALIA&quot;,
&quot;0023&quot;,&quot;DHL LOMBARDIA&quot;,
&quot;0024&quot;,&quot;DHL LOMBARDIA CONTESTUALE&quot;,
&quot;0025&quot;,&quot;ATTESA PAGAMENTO&quot;,
&quot;0026&quot;,&quot;DHL P.A.&quot;,
&quot;0027&quot;,&quot;PPTT - POSTE ITALIANE&quot;,
&quot;0028&quot;,&quot;TNT - TRAFFICO B2C&quot;,
&quot;0029&quot;,&quot;DHL - CONCILIAZIONE&quot;,
&quot;0031&quot;,&quot;VETTORE ESTERNO&quot;,
&quot;0033&quot;,&quot;PRT-DHL&quot;,
&quot;0034&quot;,&quot;PRT-TNT GLOBAL EXPRESS&quot;,
&quot;0035&quot;,&quot;PRT-TNT - TRAFFICO B2C&quot;,
&quot;0036&quot;,&quot;PRT-DHL LOMBARDIA&quot;,
&quot;0037&quot;,&quot;PRT-GLS&quot;,
&quot;0038&quot;,&quot;PRT-SECURPOL&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>IT30_Update_Delivery_Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT30_Update_Delivery_Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Default_Vehicle</name>
        <label>Get Default Vehicle</label>
        <locationX>1149</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Control_Populated</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Hamlet_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_Hamlet_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Payment_Term__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.ER_Zip_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Provider_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>ControlRecord</assignToReference>
            <field>IT_Payment_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <field>IT_Vehicle_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Vehicle_0</name>
        <label>Get Default Vehicle</label>
        <locationX>1474</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Control_Populated_0</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Hamlet_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_Hamlet_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.ER_Zip_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Provider_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>DeliveryToUpdate.IT_Vehicle__c</assignToReference>
            <field>IT_Vehicle_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDeliveries</name>
        <label>getDeliveries</label>
        <locationX>1204</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deliveriesPresent</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_State_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Street_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.IT_Street_Code__c</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>deliveryCHECK</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>274</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFC</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliveryToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Provider__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_Street_additionnal__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_Site_Address__c</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Special_Service__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC</name>
        <label>getFC</label>
        <locationX>372</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProviderCode</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryToUpdate.ER_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_Future_Change_Economic_Conditions__c</queriedFields>
        <queriedFields>IT_Future_Change_FC__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Payment_Term__c</queriedFields>
        <queriedFields>IT_Future_Change_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMatchedDelivery</name>
        <label>getMatchedDelivery</label>
        <locationX>2266</locationX>
        <locationY>1305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Matched_Delivery</targetReference>
        </connector>
        <filters>
            <field>IT_Matched_Delivery_Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>MatchedDeliveryCode</assignToReference>
            <field>IT_Matched_Delivery_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProviderCode</name>
        <label>getProviderCode</label>
        <locationX>464</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AC_Delivery</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Service__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>providerCode</assignToReference>
            <field>IT_Provider_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Delivery</name>
        <label>Update Delivery</label>
        <locationX>2016</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Delivery_Site_Field_Assignment_0</targetReference>
        </connector>
        <inputReference>DeliveryToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Delivery_0</name>
        <label>Update Delivery</label>
        <locationX>2302</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>assignToPass</targetReference>
        </connector>
        <inputReference>DeliveryToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>BranchChoice</name>
        <label>Branch</label>
        <locationX>1064</locationX>
        <locationY>1066</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Branch_Assignment</targetReference>
        </connector>
        <fields>
            <name>Filiale</name>
            <choiceReferences>BranchChoicePick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filiale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CourierScreen</name>
        <label>Courier</label>
        <locationX>1606</locationX>
        <locationY>296</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Changed_Vector</targetReference>
        </connector>
        <fields>
            <name>SelectedVector</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Vettore Selezionato: {!VettoreScreen}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DefaultVector</name>
            <fieldText>&lt;p&gt;Vettore Default: {!Vehicle_Record_Value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Forzatura_VettoreScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>DeliveryToUpdate.IT_Vehicle_Forcing__c</elementReference>
            </defaultValue>
            <fieldText>Forzatura Vettore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VettoreScreen</name>
            <choiceReferences>Vector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vettore</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errNotActive</name>
        <label>errNotActive</label>
        <locationX>549</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3); font-size: 14px;&quot;&gt;Impossibile effettuare modifiche. Il cliente non  attivo.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errNotActive_0</name>
        <label>errNotActive</label>
        <locationX>487</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errtext_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(247, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Impossibile effettuare modifiche. Non  presente il codice della consegna!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorscreen</name>
        <label>errorscreen</label>
        <locationX>1803</locationX>
        <locationY>720</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(250, 9, 9);&quot;&gt;Vettore non trovato, contattare l&apos;amministratore&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorVariations</name>
        <label>ErrorVariations</label>
        <locationX>635</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageVariations</name>
            <fieldText>&lt;p&gt;Impossibile creare una nuova consegna per il cliente! Sono previste delle variazioni future!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NaplesVehicle</name>
        <label>Naples</label>
        <locationX>1254</locationX>
        <locationY>1424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Selected_0</targetReference>
        </connector>
        <fields>
            <name>Message_Branch_0</name>
            <fieldText>&lt;p&gt;Per la filiale di Napoli  possibile scegliere tra due vettori:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoriScreen_0</name>
            <choiceReferences>Withdraw</choiceReferences>
            <choiceReferences>Esposito</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Withdraw</defaultSelectedChoiceReference>
            <fieldText>Vettori</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Delivery_Site</name>
        <label>New Delivery Site</label>
        <locationX>736</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualTypeChange</targetReference>
        </connector>
        <fields>
            <name>TitleScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Consegna&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NominativoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DeliveryToUpdate.Name</elementReference>
            </defaultValue>
            <fieldText>Nome Consegna</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryType1</name>
            <fieldText>&lt;p&gt;Modalit di Consegna:&lt;/p&gt;&lt;p&gt;{!DeliveryTypeText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Modificare_Tipologia_di_Consegna</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Modificare Tipologia di Consegna?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modalit_di_ConsegnaScreen</name>
            <choiceReferences>DeliveryType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modalit di Consegna</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modificare_Tipologia_di_Consegna</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Indirizzo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliveryAddress</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>DeliveryToUpdate.ER_Zip_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>DeliveryToUpdate.ER_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_City_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowLocAgg</name>
                <value>
                    <elementReference>DeliveryToUpdate.ER_Street_additionnal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_State_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>DeliveryToUpdate.ER_Street__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefX</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_GeoRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefY</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_GeoRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamlet</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Hamlet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamletCode</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Hamlet_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefY</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_MetRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefX</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_MetRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRegionRef</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Region_code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreetCode</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Street_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToponym</name>
                <value>
                    <elementReference>DeliveryToUpdate.IT_Toponym__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>ER_Delivery_Site__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.ER_Zip_Code__c</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.ER_City__c</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_City_Code__c</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.ER_Street_additionnal__c</assignToReference>
                <name>flowLocAgg</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Province__c</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_State_Code__c</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.ER_Street__c</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_GeoRef_Loc_X__c</assignToReference>
                <name>flowGeoRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_GeoRef_Loc_Y__c</assignToReference>
                <name>flowGeoRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Hamlet__c</assignToReference>
                <name>flowHamlet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Hamlet_Code__c</assignToReference>
                <name>flowHamletCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_MetRef_Loc_X__c</assignToReference>
                <name>flowMetRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_MetRef_Loc_Y__c</assignToReference>
                <name>flowMetRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Region_code__c</assignToReference>
                <name>flowRegionRef</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Street_Code__c</assignToReference>
                <name>flowStreetCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeliveryToUpdate.IT_Toponym__c</assignToReference>
                <name>flowToponym</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDeliveries</name>
        <label>NoDeliveries</label>
        <locationX>736</locationX>
        <locationY>694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Delivery_Site</targetReference>
        </connector>
        <fields>
            <name>errortext3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(237, 12, 12); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Nessun&apos;altra consegna presente per questo cliente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Address</name>
        <label>Other Address</label>
        <locationX>1339</locationX>
        <locationY>882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDeliveryAC</targetReference>
        </connector>
        <fields>
            <name>Altra_Consegna</name>
            <choiceReferences>allDeliveries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Altra Consegna (Codice Cliente, Codice Consegna , Nome Consegna))</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RomeVehicle</name>
        <label>Rome</label>
        <locationX>1250</locationX>
        <locationY>1194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Selected</targetReference>
        </connector>
        <fields>
            <name>Message_Branch</name>
            <fieldText>&lt;p&gt;Per la filiale di Roma  possibile scegliere tra due vettori:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoriScreen</name>
            <choiceReferences>Withdraw</choiceReferences>
            <choiceReferences>TicketService</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Withdraw</defaultSelectedChoiceReference>
            <fieldText>Vettori</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>2583</locationX>
        <locationY>874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>matched_delivery</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DeliveryToUpdate.IT_Matched_Delivery__c</elementReference>
            </defaultValue>
            <fieldText>matched delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>181</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>getDeliverySite</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangeVectorYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ControlRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryAC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>deliveryCHECK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliveryChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliveryToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DistributionPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>flowCAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>insertedDelSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>LocAggFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedDeliveryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>providerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>provinceCodeFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provinceFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordDeliveryInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>streetFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testmatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateAccoDelivery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFCDelivery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
