src/flows/IT31_Update_Status_Case_Provisioning_Consip.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>CaseAssignment</name>
        <label>CaseAssignment</label>
        <locationX>854</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>Case.IT_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseAssignment_0</name>
        <label>CaseAssignment</label>
        <locationX>727</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>Case.IT_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Esito</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankValue</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Scegli un valore...&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Chiuso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Lavorazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In_Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Feedback_Waiting</name>
        <choiceText>In Attesa di Feedback Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Feedback Waiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>In Attesa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>WaitingforClientResponse</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In attesa di risposta da cliente&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Client&apos;s Response</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Esito_null</name>
        <label>Esito è nullo</label>
        <locationX>723</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>CaseAssignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Esito</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseAssignment</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Blank</name>
        <label>Status Blank</label>
        <locationX>436</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Status_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stato2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorStatusScreen</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Closed</name>
        <label>Status Closed</label>
        <locationX>584</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stato2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_null</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OutcomePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stato</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Outcome</name>
        <dataType>String</dataType>
        <expression>Case({!Stato2},
&quot;In lavorazione&quot;,&quot;Working&quot;,
&quot;Chiuso&quot;,&quot;Closed&quot;,
{!Stato2}
)</expression>
    </formulas>
    <interviewLabel>IT31 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT31_Update_Status_Case_Provisioning/Consip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecordCase</name>
        <label>getRecordCase</label>
        <locationX>191</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stato1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IT_Outcome__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>873</locationX>
        <locationY>250</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorStatusScreen</name>
        <label>ErrorStatusScreen</label>
        <locationX>422</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stato1</targetReference>
        </connector>
        <fields>
            <name>Errore</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;E&apos; necessario selezionare almeno uno stato per procedere&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stato1</name>
        <label>Stato</label>
        <locationX>318</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Blank</targetReference>
        </connector>
        <fields>
            <name>Stato2</name>
            <choiceReferences>BlankValue</choiceReferences>
            <choiceReferences>In_Progress</choiceReferences>
            <choiceReferences>Pending</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stato</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Esito</name>
            <choiceReferences>Internal_Feedback_Waiting</choiceReferences>
            <choiceReferences>WaitingforClientResponse</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Internal_Feedback_Waiting</defaultSelectedChoiceReference>
            <fieldText>Esito</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stato2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pending</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecordCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OutcomfromStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
