src/flows/IT31_Update_Cost_Centers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Id_to_List</name>
        <label>Add Id to List</label>
        <locationX>371</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>Id_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CostCodes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TRIM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count</name>
        <label>Assignment Count</label>
        <locationX>1802</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>CountCdcDuplicate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CdCDuplicateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cdc_Duplicated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_0</name>
        <label>Assignment Count</label>
        <locationX>1664</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>CountCdcDuplicate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CdCDuplicateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cdc_Duplicated_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cost_Center_Assignment</name>
        <label>Cost Center Assignment</label>
        <locationX>1494</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>LoopCostNull.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Centro_di_Costo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cost_Center_Change_Assignment</name>
        <label>Cost Center Change Assignment</label>
        <locationX>1358</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoopCostToModify.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Centro_di_CostoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cost_Centers_To_Modify_Assignment</name>
        <label>Cost Centers To Modify Assignment</label>
        <locationX>391</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>CostCentersSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codici_Centro_di_CostoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Id_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countactviity</name>
        <label>countactviity</label>
        <locationX>516</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>countactivity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>nopiuattivit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pi_attivit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TRIM</name>
        <label>TRIM</label>
        <locationX>513</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>CostCentersSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaing_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ACNull</name>
        <label>ACNull?</label>
        <locationX>743</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>ACNullPresence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACnullRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Cost_Center_Present</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cdc_Duplicated</name>
        <label>Cdc Duplicated?</label>
        <locationX>1669</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>updateCostCenters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>YES4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCdcDuplicate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Cost_CenterScreen</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cdc_Duplicated_0</name>
        <label>Cdc Duplicated?</label>
        <locationX>1633</locationX>
        <locationY>1029</locationY>
        <defaultConnector>
            <targetReference>Cost_Centers_Selected_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>YES4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCdcDuplicate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Center_ChangingScreen</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty</name>
        <label>Empty</label>
        <locationX>1595</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>get_Cdc_equals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopCostNull.IT_Cost_Center__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LoopCostNull.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCostNull.IT_Cost_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Cost_CenterScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_0</name>
        <label>Empty</label>
        <locationX>1340</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>get_Cdc_equals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes3_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopCostToModify.IT_Cost_Center__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LoopCostToModify.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCostToModify.IT_Cost_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Center_ChangingScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Choice</name>
        <label>Insert Choice</label>
        <locationX>1066</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Cost_Center_Null_PresenceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CostCenterPopoluated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_modify</name>
        <label>No modify</label>
        <locationX>556</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Cost_Centers_To_Modify_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Codici_Centro_di_CostoScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codici_Centro_di_CostoScreen</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Cost_Center_Choice</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Cost_Center_Present</name>
        <label>Other Cost Center null Present?</label>
        <locationX>783</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Cost_Center_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CostCenterNull</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Center_Null_PresenceScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>pi_attivit</name>
        <label>più attività?</label>
        <locationX>640</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>ACNullPresence_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countactivity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCostCenterNull</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaing_Ids</name>
        <label>Remaing Ids?</label>
        <locationX>618</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Cost_Center_to_Modify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Length</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id_to_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CostCentersPopulated</name>
        <dataType>String</dataType>
        <displayField>IT_Name_Address_Cost_Center__c</displayField>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CostCodes</name>
        <dataType>String</dataType>
        <expression>LEFT({!CostCentersSelected},18)</expression>
    </formulas>
    <formulas>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>LEN ( {!CostCentersSelected} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Remaining_Ids</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!CostCentersSelected},({!Length}-20)))</expression>
    </formulas>
    <interviewLabel>IT31_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT31_Update_Cost_Centers</label>
    <loops>
        <name>Cost_Center_to_Modify</name>
        <label>Cost Center to Modify</label>
        <locationX>766</locationX>
        <locationY>640</locationY>
        <assignNextValueToReference>TempId</assignNextValueToReference>
        <collectionReference>Id_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Cost_Centers_Id_to_Modify</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Message_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CostCenterPopoluated</name>
        <label>CostCenterPopoluated</label>
        <locationX>1218</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>LoopCostNull</assignNextValueToReference>
        <collectionReference>CostCenterNull</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insert_Cost_CenterScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Cdc_equals</name>
        <label>get Cdc equals</label>
        <locationX>1738</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count</targetReference>
        </connector>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Codice_Centro_di_Costo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>CdCDuplicateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Cdc_equals_0</name>
        <label>get Cdc equals</label>
        <locationX>1553</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count_0</targetReference>
        </connector>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Codice_Centro_di_CostoScreen</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>CdCDuplicateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Cost_Centers_Id_to_Modify</name>
        <label>get Cost Centers Id to Modify</label>
        <locationX>992</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cost_Center_ChangingScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TempId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>LoopCostToModify</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Name_and_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getActivityACNull</name>
        <label>getActivityACNull</label>
        <locationX>649</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACNull</targetReference>
        </connector>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>ACnullRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_AC_Activity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getActivityACNull_0</name>
        <label>getActivityACNull</label>
        <locationX>528</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countactviity</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>nopiuattivit</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCostCenter</name>
        <label>getCostCenter</label>
        <locationX>525</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getActivityACNull_0</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>CostCenter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Name_and_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCostCenterNull</name>
        <label>getCostCenterNull</label>
        <locationX>652</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getActivityACNull</targetReference>
        </connector>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>CostCenterNull</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Name_and_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>259</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPointRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Name_Address_Cost_Center__c</queriedFields>
        <queriedFields>IT_Name_and_Address__c</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>396</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCostCenter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionPointRecord.IT_Financial_Center__r.Id</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenter</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cost_Centers_Selected_Update</name>
        <label>Cost Centers Selected Update</label>
        <locationX>1007</locationX>
        <locationY>966</locationY>
        <connector>
            <targetReference>Cost_Center_to_Modify</targetReference>
        </connector>
        <inputReference>LoopCostToModify</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCostCenters</name>
        <label>updateCostCenters</label>
        <locationX>1425</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>CostCenterPopoluated</targetReference>
        </connector>
        <inputReference>LoopCostNull</inputReference>
    </recordUpdates>
    <screens>
        <name>ACNullPresence</name>
        <label>ACNullPresence</label>
        <locationX>859</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageAC</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione, è stata riscontrata almeno un&apos;attività senza codice! Non è possibile aggiornare i centri di costo!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ACNullPresence_0</name>
        <label>ACNullPresence</label>
        <locationX>786</locationX>
        <locationY>37</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageAC_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione, il centro di costo può essere modificato solo se sono presenti più attività!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Center_ChangingScreen</name>
        <label>Cost Center Changing</label>
        <locationX>1130</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cost_Center_Change_Assignment</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione, il codice centro di costo inserito è già associato ad un&apos;altra attività!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YES4_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ActivityName</name>
            <fieldText>&lt;p&gt;ATTIVITA&apos;: {!LoopCostToModify.IT_Name_and_Address__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Centro_di_CostoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoopCostToModify.IT_Cost_Center__c</elementReference>
            </defaultValue>
            <fieldText>Codice Centro di Costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Lunghezza massima: 15 caratteri!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Codice_Centro_di_CostoScreen}) &lt;= 15</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Center_Choice</name>
        <label>Cost Center Choice</label>
        <locationX>779</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_modify</targetReference>
        </connector>
        <fields>
            <name>CostCenterChoice</name>
            <fieldText>&lt;p&gt;Selezionare i codici dei centri di costo che si desidera modificare:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codici_Centro_di_CostoScreen</name>
            <choiceReferences>CostCentersPopulated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codici Centro di Costo</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Center_Null_PresenceScreen</name>
        <label>Cost Center Null Presence</label>
        <locationX>943</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Choice</targetReference>
        </connector>
        <fields>
            <name>CostCenterPresenceMessage</name>
            <fieldText>&lt;p&gt;Attenzione! Le altre attività di questo cliente non presentano i codici del centro di costo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CostCenterInsert</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inserire i codici centri di costo?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Inserisci</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Chiudi Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>insert</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insert</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Message</name>
        <label>End Message</label>
        <locationX>1206</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndMessage</name>
            <fieldText>&lt;p&gt;Centri di Costo inseriti correttamente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Message_0</name>
        <label>End Message</label>
        <locationX>734</locationX>
        <locationY>874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndMessage_0</name>
            <fieldText>&lt;p&gt;Centri di Costo modificati correttamente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Insert_Cost_CenterScreen</name>
        <label>Insert Cost Center</label>
        <locationX>1370</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cost_Center_Assignment</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione, il codice centro di costo inserito è già associato ad un&apos;altra attività!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YES4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DP</name>
            <fieldText>&lt;p&gt;ATTIVITA&apos;: {!LoopCostNull.IT_Name_and_Address__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Centro_di_Costo</name>
            <dataType>String</dataType>
            <fieldText>Codice Centro di Costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Lunghezza massima: 15 caratteri!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Codice_Centro_di_Costo}) &lt;= 15</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>145</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>getDistributionPoint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACnullRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CdCDuplicateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CostCenter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CostCenterNull</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CostCenterSelectedToModify</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CostCentersSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countactivity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountCdcDuplicate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DistributionPointRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>Id_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCostNull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>LoopCostToModify</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>nopiuattivit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
