src/flows/IT32_Additional_Expenses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssigmentFinancial</name>
        <label>AssigmentFinancial</label>
        <locationX>1687</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>AdditionalExpenses.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateADD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigni1</name>
        <label>Assigni1</label>
        <locationX>1520</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>AdditionalExpenses.IT_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalExpenses.IT_Calculation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Calcolo2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentFinancial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigni1_0</name>
        <label>Assigni1</label>
        <locationX>1590</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>AdditionalExpenses.IT_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importo_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalExpenses.IT_Calculation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ControlRecord.IT_EXP_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentFinancial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Servizio_KO1</name>
        <label>Servizio KO</label>
        <locationX>714</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>Servizio_KO</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spese_Ok</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckSameADD</name>
        <label>CheckSameADD</label>
        <locationX>1051</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Tipo_gia_Presente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StessocodiceADD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getControl</targetReference>
            </connector>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClientCode</name>
        <label>ClientCode</label>
        <locationX>408</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Service_OK1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalExpenses.IT_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalExpenses.IT_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nodode</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control</name>
        <label>Control</label>
        <locationX>921</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Amount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ControlRecord.IT_EXP_Fixed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ControlRecord.IT_EXP_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount</targetReference>
            </connector>
            <label>Picklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service</name>
        <label>Service</label>
        <locationX>469</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>No_Spese</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spese_Ok</targetReference>
            </connector>
            <label>Service OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_OK1</name>
        <label>Service OK?</label>
        <locationX>677</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>Servizio_KO1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServicePresente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdditionalExpenses.IT_Service__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getADDPresente</targetReference>
            </connector>
            <label>ServicePresente</label>
        </rules>
    </decisions>
    <decisions>
        <name>text</name>
        <label>text</label>
        <locationX>1282</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Assigni1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>test</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_Calcolo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Importo</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Importo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_Calcolo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore</targetReference>
            </connector>
            <label>test</label>
        </rules>
    </decisions>
    <decisions>
        <name>text_0</name>
        <label>text</label>
        <locationX>1300</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Assigni1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>test_0</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_Calcolo_Quantity</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fisso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Importo_0</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Importo_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_Calcolo_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_0</targetReference>
            </connector>
            <label>test</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipo_Calcolo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Calculation_Type__c</picklistField>
        <picklistObject>IT_Additional_Expenses__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoSpess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Code__c</picklistField>
        <picklistObject>IT_Additional_Expenses__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaTipoSpesa</name>
        <dataType>String</dataType>
        <expression>CASE({!AdditionalExpenses.IT_Code__c},
&quot;00&quot;,&quot;CONCORSO SPESE DI SPEDIZIONE&quot;,                                          
&quot;01&quot;,&quot;CORRISPETTIVO PRODUZIONE PERSONALIZZATA&quot;,
&quot;02&quot;,&quot;CORRISPETTIVO CONFEZIONAMENTO PERSONALIZZATO (PER CENTRI DI COSTO)&quot;,
&quot;03&quot;,&quot;CORRISPETTIVO CONFEZIONAMENTO PERSONALIZZATO (PER CARNET)&quot;,
&quot;04&quot;,&quot;CORRISPETTIVO CONFEZIONAMENTO PERSONALIZZATO (PER QUANTITA&apos;)&quot;,
&quot;05&quot;,&quot;CORRISPETTIVO PRODUZIONE URGENTE&quot;,
&quot;06&quot;,&quot;CORRISPETTIVO GIACENZA&quot;,
&quot;07&quot;,&quot;CORRISPETTIVO PER RIESECUZIONE CONSEGNA&quot;,
&quot;08&quot;,&quot;CORRISPETTIVO PER PORTA BUONI / VOUCHER&quot;,
&quot;09&quot;,&quot;CORRISPETTIVO PER GUIDA LOCALI AFFILIATI&quot;,
&quot;10&quot;,&quot;CORRISPETTIVO PER ISTRUZIONE PRATICA&quot;,
&quot;11&quot;,&quot;CORRISPETTIVO PER ISTRUZIONE PRATICA RESI&quot;,
&quot;12&quot;,&quot;CORRISPETTIVO PER RIEMISSIONE&quot;,
&quot;13&quot;,&quot;CORRISPETTIVO PER CONSEGNA&quot;,
&quot;14&quot;,&quot;CORRISPETTIVO PER PRODUZIONE CARTE&quot;,
&quot;15&quot;,&quot;CORRISPETTIVO PER GESTIONE ORDINE&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>Tipo_Calcolo_Quantity</name>
        <dataType>String</dataType>
        <expression>CASE({!ControlRecord.IT_EXP_Quantity__c},
&quot;0&quot;,&quot;Fisso&quot;,
&quot;1&quot;,&quot;A Quantità&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>IT32_Additional_Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT32_Additional_Expenses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateADD</name>
        <label>CreateADD</label>
        <locationX>1843</locationX>
        <locationY>341</locationY>
        <inputReference>AdditionalExpenses</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAdditionalExpenses</name>
        <label>getAdditionalExpenses</label>
        <locationX>274</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Additional_Expenses__c</object>
        <outputReference>AdditionalExpenses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Code__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Calculation_Type__c</queriedFields>
        <queriedFields>IT_Validity_Start_Date__c</queriedFields>
        <queriedFields>IT_Validity_End_Date__c</queriedFields>
        <queriedFields>IT_Amount__c</queriedFields>
        <queriedFields>IT_AC_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getADDPresente</name>
        <label>getADDPresente</label>
        <locationX>852</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSameADD</targetReference>
        </connector>
        <filters>
            <field>IT_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdditionalExpenses.IT_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Validity_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IT_Additional_Expenses__c</object>
        <outputReference>StessocodiceADD</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getControl</name>
        <label>getControl</label>
        <locationX>827</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Control</targetReference>
        </connector>
        <filters>
            <field>IT_EXP_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdditionalExpenses.IT_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_EXP_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdditionalExpenses.IT_Code__c</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputReference>ControlRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_EXP_Quantity__c</queriedFields>
        <queriedFields>IT_EXP_Fixed__c</queriedFields>
        <queriedFields>IT_EXP_Service__c</queriedFields>
        <queriedFields>IT_EXP_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>191</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAdditionalExpenses</name>
        <label>UpdateAdditionalExpenses</label>
        <locationX>734</locationX>
        <locationY>50</locationY>
        <inputReference>AdditionalExpenses</inputReference>
    </recordUpdates>
    <screens>
        <name>Amount</name>
        <label>Amount</label>
        <locationX>1144</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>text</targetReference>
        </connector>
        <fields>
            <name>FinancialCenter</name>
            <fieldText>&lt;p&gt;{!FCrecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Code</name>
            <fieldText>&lt;p&gt;Tipo Spesa: {!FormulaTipoSpesa}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Calcolo2</name>
            <choiceReferences>Tipo_Calcolo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Calcolo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Importo</name>
            <dataType>Currency</dataType>
            <fieldText>Importo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Amount_0</name>
        <label>Amount</label>
        <locationX>1150</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>text_0</targetReference>
        </connector>
        <fields>
            <name>FinancialCenter_0</name>
            <fieldText>&lt;p&gt;{!FCrecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Code_0</name>
            <fieldText>&lt;p&gt;Tipo Spesa: {!FormulaTipoSpesa}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Calcolo1</name>
            <fieldText>&lt;p&gt;Tipo Calcolo: {!Tipo_Calcolo_Quantity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Importo_0</name>
            <dataType>Currency</dataType>
            <fieldText>Importo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore</name>
        <label>Errore</label>
        <locationX>1209</locationX>
        <locationY>90</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Amount</targetReference>
        </connector>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(241, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Tipo Calcolo &apos;Fisso&apos; o &apos;Quantità &apos;è necessario inserire l&apos;importo è deve essere maggiore di zero&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_0</name>
        <label>Errore</label>
        <locationX>1230</locationX>
        <locationY>557</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Amount_0</targetReference>
        </connector>
        <fields>
            <name>Finish_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(241, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Tipo Calcolo &apos;Fisso&apos; o &apos;Quantità &apos;è necessario inserire l&apos;importo è deve essere maggiore di zero&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Spese</name>
        <label>No Spese</label>
        <locationX>487</locationX>
        <locationY>98</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Expense</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 10, 10);&quot;&gt;Per questo tipo di Servizio non sono ammesse &apos;Spese Aggiuntive&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nodode</name>
        <label>Nodode</label>
        <locationX>486</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Spese_Ok</targetReference>
        </connector>
        <fields>
            <name>Ncode</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(224, 10, 10);&quot;&gt;E&apos; necessario inserire il &apos;Tipo di Spesa&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Spese_Ok</name>
        <label>Spese Ok</label>
        <locationX>603</locationX>
        <locationY>283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClientCode</targetReference>
        </connector>
        <fields>
            <name>Add_Expenses</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;AGGIUNGI SPESA AGGIUNTIVA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Spesa1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>IT_Additional_Expenses__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>IT_Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>IT_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Servizio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Tipo Spesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>FCrecord.IT_Service__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AdditionalExpenses.IT_Service__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AdditionalExpenses.IT_Code__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServiceKO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 15, 15);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(218, 4, 4);&quot;&gt;Il servizio non corrisponde al Servizio del Financial Center&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Servizio_KO</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>necs</name>
            <fieldText>&lt;p&gt;NB: E&apos; necessario inserire il &apos;Tipo di Spesa&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tipo_gia_Presente</name>
        <label>Tipo gia  Presente</label>
        <locationX>873</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TipoSpesagiPresente</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 14, 14);&quot;&gt;Non puoi inserire questo tipo di Spesa in quanto esiste già una spesa di questo tipo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Additional_Expenses__c</objectType>
    </variables>
    <variables>
        <name>ControlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Control__c</objectType>
    </variables>
    <variables>
        <name>controlNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ControlRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Control__c</objectType>
    </variables>
    <variables>
        <name>FCrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Servizio_KO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StessocodiceADD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Additional_Expenses__c</objectType>
    </variables>
    <variables>
        <name>TipoSpesaText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
