src/flows/IT33_Cancellation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AllDistribution1</name>
        <label>AllDistribution</label>
        <locationX>1437</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>NumDistribution</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllDistribution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiDistribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigneDate_Flag</name>
        <label>AssigneDate&amp;Flag</label>
        <locationX>1145</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>recordDistribution.IT_Cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDistribution.IT_Cancellation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDistribution.IT_Validity_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateDistribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMulti</name>
        <label>AssignMulti</label>
        <locationX>1134</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>recordFC.IT_Single_Client_Multiactivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countCollection</name>
        <label>countCollection</label>
        <locationX>1006</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>NumSite</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeliverySiteCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumDistrib</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DistributionPointCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chiudi_consegna</name>
        <label>Chiudi consegna</label>
        <locationX>1242</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiChiudi_Consegna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Si1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Chiudi Consegna si</label>
        </rules>
        <rules>
            <name>No_chiudi_Consegna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Si1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No chiudi Consegna</label>
        </rules>
    </decisions>
    <decisions>
        <name>ControlAttivity</name>
        <label>ControlAttivity</label>
        <locationX>595</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>GetOtherDelSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDistribution.IT_AC_Activity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordFC.IT_Financial_Center__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sede</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDistribution.IT_Cancellation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sede_0</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Client_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFC.IT_Client_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sede_0_0</targetReference>
            </connector>
            <label>Client Status</label>
        </rules>
        <rules>
            <name>Future_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDistribution.IT_Future_Change_Address__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordDistribution.IT_Future_Change_Distribution_Point__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Sede_0_0_0</targetReference>
            </connector>
            <label>Future Change</label>
        </rules>
        <rules>
            <name>AC_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDistribution.IT_AC_Activity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordDistribution.IT_AC_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordDistribution.IT_AC_Activity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sede_0_0_0_0</targetReference>
            </connector>
            <label>AC null</label>
        </rules>
    </decisions>
    <decisions>
        <name>count_0</name>
        <label>count = 0?</label>
        <locationX>1135</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>AssigneDate_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ok</defaultConnectorLabel>
        <rules>
            <name>si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumSite</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_Site</targetReference>
            </connector>
            <label>erroreSite</label>
        </rules>
        <rules>
            <name>errorePoint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumDistrib</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_Distribution</targetReference>
            </connector>
            <label>errorePoint</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiDistribution</name>
        <label>SiDistribution</label>
        <locationX>1292</locationX>
        <locationY>799</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ssi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumDistribution</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMulti</targetReference>
            </connector>
            <label>ssi</label>
        </rules>
    </decisions>
    <formulas>
        <name>MatchedDelAC_number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!recordDelivery.IT_Delivery_AC__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IT33_Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT33_Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>450</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ControlAttivity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDistribution.ER_Delivery_Site__c</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>recordDelivery</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistribution</name>
        <label>getDistribution</label>
        <locationX>887</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countCollection</targetReference>
        </connector>
        <filters>
            <field>ER_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDelivery.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordDistribution.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPointCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
        <queriedFields>IT_Cancellation_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistribution1</name>
        <label>getDistribution</label>
        <locationX>1578</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllDistribution1</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDistribution.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>AllDistribution</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>166</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>recordDistribution</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cancellation__c</queriedFields>
        <queriedFields>IT_Cancellation_Type__c</queriedFields>
        <queriedFields>IT_AC_Activity__c</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
        <queriedFields>IT_SF_Activity__c</queriedFields>
        <queriedFields>IT_AC_User__c</queriedFields>
        <queriedFields>IT_Activity_Code__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Validity_End_Date__c</queriedFields>
        <queriedFields>IT_Future_Change_Address__c</queriedFields>
        <queriedFields>IT_Future_Change_Distribution_Point__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>314</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDeliverySite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDistribution.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>recordFC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOtherDelSite</name>
        <label>GetOtherDelSite</label>
        <locationX>770</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDistribution</targetReference>
        </connector>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordDelivery.IT_Delivery_AC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedDelAC_number</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliverySiteCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Validity_End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateDelivery</name>
        <label>updateDelivery</label>
        <locationX>1282</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>ScrenFINE</targetReference>
        </connector>
        <inputReference>recordDelivery</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDistribution</name>
        <label>updateDistribution</label>
        <locationX>1142</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>updateDelivery</targetReference>
        </connector>
        <inputReference>recordDistribution</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFC</name>
        <label>UpdateFC</label>
        <locationX>885</locationX>
        <locationY>817</locationY>
        <inputReference>recordFC</inputReference>
    </recordUpdates>
    <screens>
        <name>CloseDelivery</name>
        <label>CloseDelivery</label>
        <locationX>983</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chiudi_consegna</targetReference>
        </connector>
        <fields>
            <name>Check_closed_Delivery</name>
            <fieldText>&lt;p&gt;Vuoi chiudere anche la consegna abbinata?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Si1</name>
            <dataType>Boolean</dataType>
            <fieldText>Si</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No</name>
            <dataType>Boolean</dataType>
            <fieldText>No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Distribution</name>
        <label>Errore Distribution</label>
        <locationX>1211</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroreDistribution</name>
            <fieldText>&lt;p&gt;Non puoi chiudere questa attività perchè ci sono altre attività sotto quella consegna&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Site</name>
        <label>Errore Site</label>
        <locationX>1045</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>erroreSite</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Non puoi chiudere questa attività perchè la consegna è associata ad un&apos;altra consegna&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScrenFINE</name>
        <label>ScrenFINE</label>
        <locationX>1471</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenFinal</name>
            <fieldText>&lt;p&gt;Attività annullata correttamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sede</name>
        <label>Sede</label>
        <locationX>520</locationX>
        <locationY>560</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SedeAmministrativa</name>
            <fieldText>&lt;p&gt;Non puoi annullare questa attività essendo una SEDE AMMINISTRATIVA&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sede_0</name>
        <label>Sede</label>
        <locationX>537</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SedeAmministrativa_0</name>
            <fieldText>&lt;p&gt;Non è possibile annullare un&apos;attività annullata!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sede_0_0</name>
        <label>Sede</label>
        <locationX>729</locationX>
        <locationY>570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SedeAmministrativa_0_0</name>
            <fieldText>&lt;p&gt;Non è possibile annullare un&apos;attività se il cliente non è attivo!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sede_0_0_0</name>
        <label>Sede</label>
        <locationX>609</locationX>
        <locationY>574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SedeAmministrativa_0_0_0</name>
            <fieldText>&lt;p&gt;Non è possibile annullare un&apos;attività che ha delle variazioni future previste!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sede_0_0_0_0</name>
        <label>Sede</label>
        <locationX>672</locationX>
        <locationY>201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SedeAmministrativa_0_0_0_0</name>
            <fieldText>&lt;p&gt;Non è possibile annullare un&apos;attività che non abbia il codice popolato!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>getDistributionPoint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDistribution</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DeliverySiteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DistributionPointCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>NumDistrib</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumDistribution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumSite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>recordDistribution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>recordFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
