src/flows/IT34_Document.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assigneDocument</name>
        <label>assigneDocument</label>
        <locationX>983</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Discharge_already_carried_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scarico_Serie</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Documento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Refund_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imponibile_Iva</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Reissue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Riemissione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_NO_Electronic_invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Fatturazione_Elettronica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Operation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OperaType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDocument</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigneDocument_0</name>
        <label>assigneDocument</label>
        <locationX>976</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Discharge_already_carried_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scarico_Serie_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Documento_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Refund_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imponibile_Iva_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Reissue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Riemissione_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Document_OUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Cliente_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_NO_Electronic_invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Fatturazione_Elettronica_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECDocument.IT_Operation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentOut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDocument</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AutoFattura</name>
        <choiceText>Auto Fattura</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DefaultChoice</name>
        <choiceText>Selezionare il tipo di documento...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>DocumentosoloIVA</name>
        <choiceText>Documento solo IVA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Fattura</name>
        <choiceText>Fattura</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FCI</name>
        <choiceText>FCI (Fuori Campo IVA)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NDIM_Interessidimora</name>
        <choiceText>NDIM(Interessidimora)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NotaCredito</name>
        <choiceText>Nota Credito</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NotaDebito</name>
        <choiceText>Nota Debito</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>radioButton</name>
        <choiceText>Si&lt;p&gt;No&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Decision_IN_or_OUT</name>
        <label>Decision_IN_or_OUT</label>
        <locationX>551</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentFonance</targetReference>
            </connector>
            <label>IN?</label>
        </rules>
        <rules>
            <name>OUT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentFonance_0</targetReference>
            </connector>
            <label>OUT?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DocumentoSi</name>
        <label>DocumentoSi</label>
        <locationX>1372</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vuoi_Caricare_un_Documento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_documento</targetReference>
            </connector>
            <label>si</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vuoi_Caricare_un_documento1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_documento</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocumentOut</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Operation_Type_Out__c</picklistField>
        <picklistObject>IT_Edenred_Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Operation_Type__c</picklistField>
        <picklistObject>IT_Edenred_Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinancialCenterChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ER_Financial_Center__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>OperaType</name>
        <dataType>String</dataType>
        <expression>CASE({!getCase.IT_Operation_Type__c},
&quot;Elimination Total&quot;,&quot;Storno Totale&quot;,
&quot;Partial Reversal&quot;,&quot;Storno Parziale&quot;,
&quot;Cancellation and Re-issue&quot;,&quot;Storno e Ri-emissione&quot;,
&quot;Document SOLA VAT&quot;,&quot;Documento SOLA IVA&quot;,
&quot;NDIM&quot;,&quot;NDIM&quot;,
&quot;Only Issue Invoice (eg. Invoice no fat)&quot;,&quot;Solo Emissione Fattura (es. fattura no fat)&quot;,
&quot;Only Issue Credit Note (eg. For difference discount)&quot;,&quot;Solo Emissione Nota Credito (es. per differenza sconto)&quot;,
&quot;Note Refund Credit Ticket&quot;,&quot;Rimborso Nota Credito Ticket&quot;,
&quot;Note Repayment Credit Welfare&quot;,&quot;Rimborso Nota Credito Welfare&quot;,
&quot;Note Repayment Credit UTA&quot;,&quot;Rimborso Nota Credito UTA&quot;,
&quot;Note Repayment Credit Edenred ITALY FIN&quot;,&quot;Rimborso Nota Credito EDENRED ITALIA FIN&quot;,
&quot;Deposit Refund&quot;,&quot;Rimborso Acconto&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>IT34_Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT34_Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDocument</name>
        <label>CreateDocument</label>
        <locationX>1205</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>DocumentoSi</targetReference>
        </connector>
        <inputReference>RECDocument</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>406</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IN_or_OUT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocument</name>
        <label>getDocument</label>
        <locationX>446</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>IT_Document_OUT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Edenred_Document__c</object>
        <outputReference>RECDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Document_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Document_Origin__c</queriedFields>
        <queriedFields>IT_Reissue__c</queriedFields>
        <queriedFields>IT_Discharge_already_carried_out__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Refund_Amount__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetFC</name>
        <label>GetFC</label>
        <locationX>354</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>CollectionFC</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>CaricaDoc</name>
        <label>CaricaDoc</label>
        <locationX>50</locationX>
        <locationY>585</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Carica</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Caricasi</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RECDocument.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crea_documento</name>
        <label>Crea documento</label>
        <locationX>1581</locationX>
        <locationY>164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VuoicaricareunDocumento</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Carica un Documento&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Carica1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RECDocument.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>VuoicaricareunDocumento</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DocumentFonance</name>
        <label>Document</label>
        <locationX>759</locationX>
        <locationY>83</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigneDocument</targetReference>
        </connector>
        <fields>
            <name>Codice_Cliente1</name>
            <fieldText>&lt;p&gt;{!getCase.IT_Financial_Center__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome_Documento</name>
            <dataType>String</dataType>
            <fieldText>Nome Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <fieldText>&lt;p&gt;Tipo Documento:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Documento</name>
            <fieldText>&lt;p&gt;{!OperaType}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Cliente</name>
            <choiceReferences>FinancialCenterChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codice Cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Imponibile_Iva</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Refund_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Imponibile Iva</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scarico_Serie</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Discharge_already_carried_out__c</elementReference>
            </defaultValue>
            <fieldText>Scarico Serie</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Fatturazione_Elettronica</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>No Fatturazione Elettronica</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Riemissione</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Reissue__c</elementReference>
            </defaultValue>
            <fieldText>Riemissione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Trat</name>
            <fieldText>&lt;p&gt;---------------------------------------------------------------------------------------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vuoi_Caricare_un_Documento</name>
            <dataType>Boolean</dataType>
            <fieldText>Vuoi Caricare un Documento?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DocumentFonance_0</name>
        <label>Document</label>
        <locationX>763</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigneDocument_0</targetReference>
        </connector>
        <fields>
            <name>Codice_Cliente1_0</name>
            <fieldText>&lt;p&gt;{!getCase.IT_Financial_Center__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome_Documento_0</name>
            <dataType>String</dataType>
            <fieldText>Nome Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_Documento_OUT</name>
            <choiceReferences>DocumentOut</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codice_Cliente_0</name>
            <choiceReferences>FinancialCenterChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codice Cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Imponibile_Iva_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Refund_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Imponibile Iva</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scarico_Serie_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Discharge_already_carried_out__c</elementReference>
            </defaultValue>
            <fieldText>Scarico Serie</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Fatturazione_Elettronica_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>No Fatturazione Elettronica</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Riemissione_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RECDocument.IT_Reissue__c</elementReference>
            </defaultValue>
            <fieldText>Riemissione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>trat1</name>
            <fieldText>&lt;p&gt;----------------------------------------------------------------------------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vuoi_Caricare_un_documento1</name>
            <dataType>Boolean</dataType>
            <fieldText>Vuoi Caricare un documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note1</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Document1</name>
        <label>End_Document</label>
        <locationX>251</locationX>
        <locationY>590</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Document</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Documento correttamente creato!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Entrambi1</name>
        <label>Entrambi</label>
        <locationX>154</locationX>
        <locationY>593</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NONPUOI</name>
            <fieldText>&lt;p&gt;Hai Selezionato entrambi i valori&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>337</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionFC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>docType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FCRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RECDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Edenred_Document__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
