src/flows/IT35_Manage_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignDetailId_0_0_0</name>
        <label>AssignDetailId</label>
        <locationX>833</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>DetailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recapiti_Esistenti_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gestisci_Recapito_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewContactAssignment</name>
        <label>NewContactAssignment</label>
        <locationX>658</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>NewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCRecord.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewContactDetail_1_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FinancialCenter</name>
        <choiceText>{!TestFCName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TestFCId</elementReference>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>Seleziona nuovo codice Banca...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>none</stringValue>
        </value>
    </choices>
    <choices>
        <name>nullValue</name>
        <choiceText>-- Seleziona un valore --</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Attivit_0_0_0</name>
        <label>Recapito?</label>
        <locationX>820</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crea_Referente2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crea_Nuovo_Referente_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Recapito_0</targetReference>
            </connector>
            <label>Crea Referente</label>
        </rules>
        <rules>
            <name>Crea_attivit_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crea_Nuovo_Recapito_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Recapito_0_0</targetReference>
            </connector>
            <label>Crea recapito</label>
        </rules>
        <rules>
            <name>Aggiorna_attivita_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recapiti_Esistenti_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDetailId_0_0_0</targetReference>
            </connector>
            <label>Aggiorna recapito</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ApparatusType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Apparatus_Type__c</picklistField>
        <picklistObject>IT_Contact_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssociationList</name>
        <dataType>String</dataType>
        <displayField>IT_Association_Naming__c</displayField>
        <filters>
            <field>IT_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Distribution_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDda15</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <object>IT_Contact_Association__c</object>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Association_Naming__c</assignToReference>
            <field>IT_Association_Naming__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Billing_Confirm_Address__c</assignToReference>
            <field>IT_Billing_Confirm_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Client_Code__c</assignToReference>
            <field>IT_Client_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Code__c</assignToReference>
            <field>IT_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Contact_Detail__c</assignToReference>
            <field>IT_Contact_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Contact__c</assignToReference>
            <field>IT_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Notifications__c</assignToReference>
            <field>IT_Notifications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Order_Confirm_Address__c</assignToReference>
            <field>IT_Order_Confirm_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.IT_Send_SUT__c</assignToReference>
            <field>IT_Send_SUT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAssociationRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssociationList2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDda15</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Association__c</object>
        <outputAssignments>
            <assignToReference>child</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BACode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Bank_Account_Code__c</picklistField>
        <picklistObject>ER_Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChildCodes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IT_Client_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_DEMO_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDda15</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>child</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Code2X</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId15</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Associated_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Client_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2X</stringValue>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommissionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Commission_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ref</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactDetailChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Detail__c</displayField>
        <filters>
            <field>IT_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId15</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractToChose</name>
        <dataType>String</dataType>
        <displayField>IT_Financial_Center_Name__c</displayField>
        <filters>
            <field>IT_Framework_Head_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCHeadRecord.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiscountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Discount_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DistributionPointChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Address__c</displayField>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <valueField>ER_Delivery_Site__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Iva_non_Std</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Not_Standard_VAT__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotStandardVatControl</name>
        <dataType>String</dataType>
        <displayField>IT_Picklist_Value__c</displayField>
        <filters>
            <field>IT_CLN_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Picklist_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>contractRecord.IT_Not_Standard_VAT__c</assignToReference>
            <field>IT_Picklist_Code__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>IT_Picklist_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OtherCodes</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Legal_Name__c</displayField>
        <filters>
            <field>IT_Circuit_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Circuit_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1B</stringValue>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SDDPayment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_SDD_Payment_Code__c</picklistField>
        <picklistObject>ER_Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialBillingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Billing_Type__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialBillingTypeControl</name>
        <dataType>String</dataType>
        <displayField>IT_Picklist_Value__c</displayField>
        <filters>
            <field>IT_CLN_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Picklist_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fatturazione Speciale</stringValue>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>FCRecord.IT_Special_Billing_Type__c</assignToReference>
            <field>IT_Picklist_Code__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>IT_Picklist_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoConsegna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FCRecord.ER_Account_Name__c},15)</expression>
    </formulas>
    <formulas>
        <name>BillingCompanyName1Characters</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!FCRecord.IT_Billing_Company_Name_R1__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>BillingCompanyName2Characters</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!FCRecord.IT_Billing_Company_Name_R2__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>BillingCompanyName3Characters</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!FCRecord.IT_Billing_Company_Name_R3__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Lenght}/19)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CounterGroups</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LenghtGroups}/19)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FattSpecServ</name>
        <dataType>String</dataType>
        <expression>CASE ( {!FCRecord.IT_Service__c},
&quot;A&quot;, &quot;EMISSIONE - COMPRENSIVO IVA&quot;,
&quot;Q&quot;, &quot;EMISSIONE - COMPRENSIVO IVA&quot;,
&quot;1L&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;1M&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;1N&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;1O&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;1Z&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;2J&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;0O&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;1&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;C&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;U&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;W&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;X&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;Y&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;1G&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;1F&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;1Q&quot;, &quot;FATTUR. A CONSUNTIVO IVA AGG&quot;,
&quot;1X&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;2F&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;2G&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;2K&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;,
&quot;2X&quot;, &quot;FATT.EM. FINE MESE IVA IN AGG&quot;, &quot;Nessun valore di default&quot; )</expression>
    </formulas>
    <formulas>
        <name>IDda15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FCRecord.Id},15)</expression>
    </formulas>
    <formulas>
        <name>IndCodes</name>
        <dataType>String</dataType>
        <expression>LEFT({!ID_Codes},18)</expression>
    </formulas>
    <formulas>
        <name>IndSingleGroup</name>
        <dataType>String</dataType>
        <expression>LEFT({!IndGroup2},18)</expression>
    </formulas>
    <formulas>
        <name>LegalNameCharacters</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!accountRecord.ER_Legal_Name__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>Lenght</name>
        <dataType>Number</dataType>
        <expression>LEN({!ID_Codes})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenghtGroups</name>
        <dataType>Number</dataType>
        <expression>LEN({!IndGroup2})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NotStandardVAT</name>
        <dataType>String</dataType>
        <expression>CASE({!FCRecord.IT_Service__c},
&quot;2F&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1X&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1Z&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;2G&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;2J&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0J&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0D&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0E&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0F&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0G&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0H&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0I&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0N&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0P&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;0Q&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1B&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1D&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1E&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1H&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1L&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1M&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1N&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1O&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;4&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;E&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;H&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;J&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;M&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;N&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;O&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;P&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;Q&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;T&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;Z&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;9&quot;, &quot;IVA 10% SU BUONI E 22% SU SPESE&quot;,
&quot;0K&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;1W&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;2K&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;2C&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;2X&quot;, &quot;IVA  22% SU BUONI E SPESE&quot;,
&quot;Nessun Valore di Default&quot;)</expression>
    </formulas>
    <formulas>
        <name>RemainingCodes</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!ID_Codes},({!Lenght}-20)))</expression>
    </formulas>
    <formulas>
        <name>RemainingGroups</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!IndGroup2},({!LenghtGroups}-20)))</expression>
    </formulas>
    <formulas>
        <name>ServiceTypeVAT</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2F&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1X&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1Z&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2G&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2J&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0J&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0D&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0E&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0F&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0G&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0H&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0I&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0N&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0P&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0Q&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1B&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1D&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1E&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1H&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1L&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1M&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1N&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1O&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;4&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;E&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;H&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;J&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;M&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;N&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;O&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;P&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;Q&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;T&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;Z&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;0K&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;1W&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2K&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2C&quot;),
ISPICKVAL({!FCRecord.IT_Service__c}, &quot;2X&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>ShortCompanyNameCharacters</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX({!FCRecord.IT_Short_Name__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>TipoCommissione</name>
        <dataType>String</dataType>
        <expression>CASE({!CommissionType},
&quot;0&quot;,&quot;COMMISSIONE ESISTENTE&quot;,
&quot;1&quot;,&quot;ESENTE DA COMMISSIONE&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>TipoSconto</name>
        <dataType>String</dataType>
        <expression>
CASE({!DiscountType},
&quot;2&quot;,&quot;SCONTO CON N. CREDITO A PARTE&quot;,
&quot;3&quot;,&quot;SCONTO IN FATTURA&quot;,
&quot;4&quot;,&quot;SCONTO IN FATTURA SU VAL.BUONO&quot;,
&quot;A&quot;,&quot;SCONTO PERIODICO ANNUALE&quot;,
&quot;B&quot;,&quot;SCONTO PERIODICO BIMESTRALE&quot;,
&quot;Q&quot;,&quot;SCONTO PERIODICO QUADRIMESTRAL&quot;,
&quot;S&quot;,&quot;SCONTO PERIODICO SEMESTRALE&quot;,
&quot;T&quot;,&quot;SCONTO PERIODICO TRIMESTRALE&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>IT Manage Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT35 Manage Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewContactDetail_1_0</name>
        <label>NewContact</label>
        <locationX>230</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>Attivit_Screen_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate</targetReference>
        </faultConnector>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>NewContactDetail_1_0_0</name>
        <label>NewContactDetail</label>
        <locationX>1070</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>DetailId</assignRecordIdToReference>
        <connector>
            <targetReference>Gestisci_Recapito_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroreRecapito</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IT_Account__c</field>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Apparatus_Type__c</field>
            <value>
                <elementReference>Tipo_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Code__c</field>
            <value>
                <elementReference>ContactSoc.IT_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact_Info__c</field>
            <value>
                <elementReference>DetailInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact__c</field>
            <value>
                <elementReference>ContactSoc.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DetailInfo</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Contact_Detail__c</object>
    </recordCreates>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>305</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attivit_Screen_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R1__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R2__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R3__c</queriedFields>
        <queriedFields>IT_Short_Name__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Accepts_New_Billing_System__c</queriedFields>
        <queriedFields>IT_Accepts_New_Billing_System_PA__c</queriedFields>
        <queriedFields>IT_Office_Code__c</queriedFields>
        <queriedFields>IT_CUP_Code__c</queriedFields>
        <queriedFields>IT_Order_Code__c</queriedFields>
        <queriedFields>IT_EORI_Code__c</queriedFields>
        <queriedFields>IT_Invoice_Register_Wording__c</queriedFields>
        <queriedFields>IT_PEC_Mail__c</queriedFields>
        <queriedFields>IT_Don_t_Send_Debt_Note__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ER_Bank_Account__c</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_Circuit_Code__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Admin_Data_Validity_Start_Date__c</queriedFields>
        <queriedFields>IT_Extended_Company_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Attivit_Screen_0_0_0</name>
        <label>Recapiti Screen</label>
        <locationX>541</locationX>
        <locationY>821</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attivit_0_0_0</targetReference>
        </connector>
        <fields>
            <name>ManageDetail_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Gestisci Recapiti&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recapiti_Esistenti_0</name>
            <choiceReferences>ContactDetailChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aggiungi Associazione per Recapito Esistente</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crea_Nuovo_Recapito_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Crea Nuovo Recapito</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Crea_Nuovo_Referente_2</name>
            <dataType>Boolean</dataType>
            <fieldText>Crea Nuovo Referente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crea_Recapito_0</name>
        <label>Crea Referente</label>
        <locationX>821</locationX>
        <locationY>1321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewContactAssignment</targetReference>
        </connector>
        <fields>
            <name>NewContact_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nuovo Referente&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nome</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewContact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+39 </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewContact.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crea_Recapito_0_0</name>
        <label>Crea Recapito</label>
        <locationX>1067</locationX>
        <locationY>1075</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewContactDetail_1_0_0</targetReference>
        </connector>
        <fields>
            <name>NewDetail_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nuovo Recapito&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_0</name>
            <choiceReferences>ApparatusType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_0_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recapito</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DetailInfo</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tipo_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_0_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recapito</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+39 </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DetailInfo</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>002</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tipo_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>001</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate</name>
        <label>Duplicate</label>
        <locationX>50</locationX>
        <locationY>829</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attivit_Screen_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Errore</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroreRecapito</name>
        <label>ErroreRecapito</label>
        <locationX>689</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attivit_Screen_0_0_0</targetReference>
        </connector>
        <fields>
            <name>ErrorRecapito</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>84</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestisci_Recapito_0</name>
        <label>Gestisci_Recapito</label>
        <locationX>831</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Attivit_Screen_0_0_0</targetReference>
        </connector>
        <flowName>IT_Create_Contact_Association</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>DetailId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allContractGroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>allContractGroupWithDifferentNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>allDifferentDurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>allFCofFrameworkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>allRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Request__c</objectType>
    </variables>
    <variables>
        <name>allWithDifferentRenewalType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>BankAccountSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>CheckBanck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>CheckDistribution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>child</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChoiceTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>ChoiceToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>CircuitCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CircuitService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactAssociationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>ContactDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactProgressive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactSoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContractHeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractTypeCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>controlcheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counterTOOMANYSOQL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountListDifferentContractNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countWithDifferentContractDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countWithDifferentContractRenewal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DeliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>deliveryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliverySiteSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionPointSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>EmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorTxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaxId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCHeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>FCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenterAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>getcontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GroupCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeadRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Request__c</objectType>
    </variables>
    <variables>
        <name>ID_Codes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndCodes1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>IndGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndGroup2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCard</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>LoopControloService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>LoopTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewContact_choice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>newContactDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDetail_Choice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PECId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordBankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>recordDeliverySite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>RecordDistributionPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Screen_Comm_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Comm_Fax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Comm_PEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Comm_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Invoice_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Invoice_Fax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Invoice_PEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Invoice_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Order_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Order_Fax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Order_PEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Order_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Order_Phone_old</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_PEC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_SUT_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_SUT_Fax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_SUT_PEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_SUT_Phone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestFCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestFCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
