src/flows/IT36_Other_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Name</name>
        <label>Name</label>
        <locationX>434</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteRecord.ER_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCNAME</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>nodev</name>
        <label>nodev</label>
        <locationX>471</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>getFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nodelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherDelivery</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>nodelivery</label>
        </rules>
    </decisions>
    <formulas>
        <name>FRMMatch</name>
        <dataType>String</dataType>
        <expression>TEXT({!DeliverySiteRecord.IT_Matched_Delivery__c})</expression>
    </formulas>
    <interviewLabel>IT36_Other_Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT36_Other_Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>837</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherDelivery.ER_Account_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ACCrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getdelivery</name>
        <label>getdelivery</label>
        <locationX>270</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDelivery2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliverySiteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDelivery2</name>
        <label>getDelivery2</label>
        <locationX>271</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nodev</targetReference>
        </connector>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FRMMatch</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>OtherDelivery</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Name_and_Address__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_AC_and_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC</name>
        <label>getFC</label>
        <locationX>675</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherDelivery.ER_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Delivery</name>
        <label>Delivery</label>
        <locationX>920</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DETTAGLI</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Dettagli Consegna&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CodiceConsegna</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Codice Consegna Abbinata:﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OtherDelivery.IT_Delivery_AC__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherAdresss</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Altro Indirizzo di Consegna:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OtherDelivery.IT_Name_and_Address__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinacialCenter</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Financial Center:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OtherDelivery.ER_Financial_Center__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RagioneSociale</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Ragione Sociale:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OtherDelivery.ER_Account_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>924</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errore</name>
            <fieldText>&lt;p&gt;Non esiste un&apos;altra consegna&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>getdelivery</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACCrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DeliverySiteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>FCNAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>OtherDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
