src/flows/IT37_GroupCode.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignGroupCode</name>
        <label>AssignGroupCode</label>
        <locationX>514</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>RECGroupCode.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecFinancialCenter.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECGroupCode.IT_Group_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecGroup.IT_Group_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECGroupCode.IT_Group_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecGroup.IT_Group_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECGroupCode.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupNameFRM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RECGroupCode.IT_Validity_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>creategroupcode</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ChoiceFC</name>
        <dataType>String</dataType>
        <displayField>IT_Financial_Center_Code__c</displayField>
        <object>IT_Group__c</object>
        <valueField>IT_Financial_Center_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceGroup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>IT_Group__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FCChoice2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecGroup.IT_Parent_Company__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>GroupNameFRM</name>
        <dataType>String</dataType>
        <expression>{!RecGroup.IT_Group_Code__c} + &quot; - &quot; + TEXT({!RecGroup.IT_Group_Type__c})</expression>
    </formulas>
    <interviewLabel>IT37_GroupCode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT37_GroupCode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creategroupcode</name>
        <label>creategroupcode</label>
        <locationX>514</locationX>
        <locationY>116</locationY>
        <inputReference>RECGroupCode</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getFC</name>
        <label>getFinancialCenter</label>
        <locationX>367</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGroupCode</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RECGroupCode.ER_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>RecFinancialCenter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getGroup</name>
        <label>getGroup</label>
        <locationX>253</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Group__c</object>
        <outputReference>RecGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Group_Type__c</queriedFields>
        <queriedFields>IT_Group_Code__c</queriedFields>
    </recordLookups>
    <screens>
        <name>group</name>
        <label>group</label>
        <locationX>249</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getFC</targetReference>
        </connector>
        <fields>
            <name>group1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Gruppo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IT_Group_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecCode.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RECGroupCode.IT_Group__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Financial Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ER_Financial_Center__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IT_Group_Code__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RECGroupCode.ER_Financial_Center__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>getGroup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Group_Code__c</objectType>
    </variables>
    <variables>
        <name>RecFinancialCenter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>RecGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Group__c</objectType>
    </variables>
    <variables>
        <name>RECGroupCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Group_Code__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
