src/flows/IT38_CreateGroup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssigneGroup</name>
        <label>AssigneGroup</label>
        <locationX>451</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>recGroup.IT_Group_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Gruppo_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Group_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Gruppo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Key_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Codice_Gruppo}{!Tipo}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RECFC.IT_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrizione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Parent_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RECFC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroup.IT_Validity_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Inizio_Validit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateGroup</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Tipo_Gruppo_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Group_Type__c</picklistField>
        <picklistObject>IT_Group__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>KeyGroupFRM</name>
        <dataType>String</dataType>
        <expression>{!Codice_Gruppo}+
TEXT({!recGroup.IT_Group_Type__c})</expression>
    </formulas>
    <interviewLabel>IT38_CreateGroup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT38_CreateGroup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateGroup</name>
        <label>CreateGroup</label>
        <locationX>591</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>FineFlow</targetReference>
        </connector>
        <inputReference>recGroup</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>450</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigneGroup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGroup.IT_Parent_Company__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>RECFC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getGroup</name>
        <label>getGroup</label>
        <locationX>181</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Group__c</object>
        <outputReference>recGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Key_Group__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Group_Code__c</queriedFields>
        <queriedFields>IT_Financial_Center_Code__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Group_Type__c</queriedFields>
        <queriedFields>IT_Description__c</queriedFields>
        <queriedFields>IT_Parent_Company__c</queriedFields>
        <queriedFields>IT_Validity_Start_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>FineFlow</name>
        <label>FineFlow</label>
        <locationX>784</locationX>
        <locationY>164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fine</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nuovo Gruppo creato correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Group</name>
        <label>Screen Group</label>
        <locationX>278</locationX>
        <locationY>110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
        <fields>
            <name>FC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Parent_Company__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capogruppo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IT_Group__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recGroup.IT_Parent_Company__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Codice_Gruppo</name>
            <dataType>String</dataType>
            <fieldText>Codice Gruppo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 14, 14);&quot;&gt;Il Codice Gruppo deve essere di 6 cifre&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Codice_Gruppo})=6</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>Tipo_Gruppo_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Gruppo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descrizione</name>
            <dataType>String</dataType>
            <fieldText>Descrizione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Inizio_Validit</name>
            <dataType>Date</dataType>
            <fieldText>Data Inizio Validità</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La Data Inizio Validità deve essere minore o uguale alla data odierna&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Data_Inizio_Validit} &lt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>getGroup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RECFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Group__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
