src/flows/IT39_ContractP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignContract_0</name>
        <label>assignContract</label>
        <locationX>1004</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>028</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_Scan_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Scansione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_Barcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_Registration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Registrazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recFC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.IT_AC_User_Doc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRMACUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCONTRACT.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recFC.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError</name>
        <label>AssignError</label>
        <locationX>116</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGroupCode</name>
        <label>AssignGroupCode</label>
        <locationX>203</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>recGroupCode.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupCodeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroupCode.IT_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupCodeGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsGroupPopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsGroupCodeIdNull</name>
        <label>IsGroupCodeIdNull?</label>
        <locationX>247</locationX>
        <locationY>19</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupCodeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGroupCode</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGroupPopulated</name>
        <label>IsGroupPopulated?</label>
        <locationX>225</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>AssignError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGroupCode.IT_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGroupCode.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOtherCodes</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOtherClientActive</name>
        <label>IsOtherClientActive?</label>
        <locationX>477</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>getContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherClientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATTIVO</stringValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToutContractPresent</name>
        <label>IsToutContractPresent?</label>
        <locationX>775</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinancialCenter</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TipoDocumento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Document_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FRMACUser</name>
        <dataType>String</dataType>
        <expression>{!$User.IT_AC_User_Code__c}</expression>
    </formulas>
    <interviewLabel>IT39_ContractP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT39_ContractP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContract</name>
        <label>createContract</label>
        <locationX>1160</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>EndContract</targetReference>
        </connector>
        <inputReference>recCONTRACT</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>429</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsToutContractPresent</targetReference>
        </connector>
        <filters>
            <field>IT_Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>028</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>ContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>656</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>recFC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getGroupCode</name>
        <label>getGroupCode</label>
        <locationX>139</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGroupCodeIdNull</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Group_Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>K</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Group_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <object>IT_Group_Code__c</object>
        <outputAssignments>
            <assignToReference>GroupCodeGroup</assignToReference>
            <field>IT_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GroupCodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOtherCodes</name>
        <label>getOtherCodes</label>
        <locationX>353</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOtherClientActive</targetReference>
        </connector>
        <filters>
            <field>IT_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGroupCode.IT_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATTIVO</stringValue>
            </value>
        </filters>
        <object>IT_Group_Code__c</object>
        <outputAssignments>
            <assignToReference>OtherClientStatus</assignToReference>
            <field>IT_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EndContract</name>
        <label>EndContract</label>
        <locationX>1318</locationX>
        <locationY>451</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;Contratto Creato Correttamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>222</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Il gruppo procacciatori non è stato allineato correttamente in Salesforce.&lt;/p&gt;&lt;p&gt;Contattare l&apos;amministratore del sistema&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenContract</name>
        <label>ScreenContract</label>
        <locationX>824</locationX>
        <locationY>451</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignContract_0</targetReference>
        </connector>
        <fields>
            <name>ToutMessage</name>
            <fieldText>&lt;p&gt;Immettere il barcode del contratto Procacciatore&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Barcode</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Il barcode deve avere 11 caratteri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Barcode}) = 11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Data_Registrazione</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data Registrazione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Scansione</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data Scansione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>getGroupCode</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collGroupCode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Group_Code__c</objectType>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupCodeGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherClientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCONTRACT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recGroupCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Group_Code__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
