src/flows/IT40_AddContract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>test2</name>
        <label>test2</label>
        <locationX>999</locationX>
        <locationY>158</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>testw</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matteo.ghioni@tengroup.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>matteo.ghioni@tengroup.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>text</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>testemail</name>
        <label>testemail</label>
        <locationX>735</locationX>
        <locationY>38</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templetetest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>stefano.masaneo@tengroup.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templetetest</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assContract</name>
        <label>assContract</label>
        <locationX>545</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>recContract.IT_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Documento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_Scan_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Scansione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_Registration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Registrazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_Barcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recFC.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recFC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_BarcodeCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recFC.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ciao</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Document_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT40_AddContract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContract</name>
        <label>createContract</label>
        <locationX>719</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>recContract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>376</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenContract</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recFC.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>recContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Barcode__c</queriedFields>
        <queriedFields>IT_Scan_Date__c</queriedFields>
        <queriedFields>IT_Registration_Date__c</queriedFields>
        <queriedFields>IT_Document_Type__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>IT_Document_Progressive__c</queriedFields>
        <queriedFields>IT_Contract_Progressive__c</queriedFields>
        <queriedFields>IT_Contract_Number__c</queriedFields>
        <queriedFields>IT_BarcodeCheck__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>209</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>recFC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
    </recordLookups>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>863</locationX>
        <locationY>266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>test2</targetReference>
        </connector>
        <fields>
            <name>EndContract</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Documento creato correttamente&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenContract</name>
        <label>ScreenContract</label>
        <locationX>391</locationX>
        <locationY>266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assContract</targetReference>
        </connector>
        <fields>
            <name>ADDDoc</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Aggiungi Documento&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Code</name>
            <fieldText>&lt;p&gt;Codice Cliente:&lt;/p&gt;&lt;p&gt;{!recFC.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numbe</name>
            <fieldText>&lt;p&gt;Protocollo:&lt;/p&gt;&lt;p&gt;{!recContract.IT_Contract_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Documento</name>
            <choiceReferences>DocumentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Barcode:&lt;/p&gt;&lt;p&gt;-la lunghezza deve essere 11&lt;/p&gt;&lt;p&gt;-non può contenere caratteri in minuscolo&lt;/p&gt;&lt;p&gt;-Il primo carattere deve essere &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;una lettera&lt;/span&gt;&lt;/p&gt;&lt;p&gt;-l&#39;ultimo carattere deve essere una lettera&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!Barcode} == UPPER({!Barcode}),
REGEX(LEFT({!Barcode} , 1), &quot;^[A-Z]*$&quot; ),
LEN({!Barcode}) == 11,
REGEX(RIGHT({!Barcode} , 1), &quot;^[A-Z]*$&quot; )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Data_Registrazione</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data Registrazione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Scansione</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data Scansione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>templetetest</name>
        <text>&lt;p&gt;&amp;lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;html style=&quot;overflow-y: hidden;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;head&amp;gt;&amp;lt;meta content=&quot;text/html; charset=utf-8&quot;&amp;gt;&amp;lt;meta content=&quot;width=device-width, initial-scale=1.0&quot; name=&quot;viewport&quot;&amp;gt;&amp;lt;meta content=&quot;noindex,nofollow&quot; name=&quot;robots&quot;&amp;gt;&amp;lt;meta content=&quot;telephone=no&quot; name=&quot;format-detection&quot;&amp;gt;&amp;lt;meta content=&quot;Ordina i tuoi Ticket Compliments®&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;title&amp;gt;Ordina i tuoi Ticket Compliments&amp;amp;reg;&amp;lt;/title&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;/* Email clients fixes*/&lt;/p&gt;&lt;p&gt;	#outlook a{padding:0;}&lt;/p&gt;&lt;p&gt;	.ReadMsgBody{width:100%;}&lt;/p&gt;&lt;p&gt;	.ExternalClass{width:100%;}&lt;/p&gt;&lt;p&gt;	.yshortcuts,a .yshortcuts,a .yshortcuts:hover,a .yshortcuts:active,a .yshortcuts:focus{background-color:transparent !important;border:none !important;color:inherit !important;} 	&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;body{margin:0;padding:0;-ms-text-size-adjust:none;}&lt;/p&gt;&lt;p&gt;	.backgroundTable,.backgroundTd{width:100% !important;height:100% !important;margin:0;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;img {border:0;outline:none;text-decoration:none;line-height:100%;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;table,td,tr{border-collapse:collapse !important;}&amp;nbsp;&lt;/p&gt;&lt;p&gt;	td.spacer,.spacer td,.contentTable td.spacer{font-size:0%;line-height:0%;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	/* Template */&lt;/p&gt;&lt;p&gt;	body,.backgroundTable{background-color:#ffffff;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;.backgroundTd{padding-left:10px;padding-right:10px;padding-top:0px;padding-bottom:0px;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.colTd{padding-left:18px;padding-right:18px;}&lt;/p&gt;&lt;p&gt;	.colTdLeft{padding-left:18px;padding-right:9px;}&lt;/p&gt;&lt;p&gt;	.colTdMid{padding-left:9px;padding-right:9px;}&lt;/p&gt;&lt;p&gt;	.colTdRight{padding-left:9px;padding-right:18px;}&lt;/p&gt;&lt;p&gt;	.colTdInner{padding-left:50px;padding-right:50px;}&lt;/p&gt;&lt;p&gt;	.colTdInner2{padding-left:30px;padding-right:30px;}&lt;/p&gt;&lt;p&gt;	.colTdInner2Mid{padding-left:30px;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.fullTable{background-color:#ffffff;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.contentTable{}&lt;/p&gt;&lt;p&gt;	.contentTd,.contentTd td{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:16px;line-height:24px;color:#666666;text-align:left;}&lt;/p&gt;&lt;p&gt;	.contentTd a{color:#666666;text-decoration:none;font-weight:normal;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:16px;}&lt;/p&gt;&lt;p&gt;	.contentTd a:hover {text-decoration: underline !important;}	&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.articleTable{background-color: #ffffff;}&lt;/p&gt;&lt;p&gt;	.articleTd{padding-top:20px;padding-bottom:20px;}&lt;/p&gt;&lt;p&gt;	td.articleImage{padding-bottom:15px;line-height: 100%;font-size: 0%;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleImage2{padding-bottom:0px;line-height: 100%;font-size: 0%;border-bottom:1px solid #f0f0f0;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleImage2{padding-bottom:0px;line-height: 100%;font-size: 0%;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleTitle{padding-top:14px;padding-bottom:7px;}&lt;/p&gt;&lt;p&gt;	td.articleTitle,td.articleTitle a{color:#1d1f4d;font-size:34px;line-height:36px;font-weight:normal;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleTitle2{padding-top:19px;padding-bottom:10px;}&lt;/p&gt;&lt;p&gt;	td.articleTitle2,td.articleTitle2 a{color:#1d1f4d;font-size:20px;line-height:22px;font-weight:bold;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleTitleSection{text-align:center;padding-top:12px;padding-bottom:12px;}&lt;/p&gt;&lt;p&gt;	td.articleTitleSection,td.articleTitleSection a{color:#1d1f4d;font-size:26px;line-height:30px;font-weight:normal;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleDescription{padding-top:4px;padding-bottom:6px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleDescription2{padding-top:0px;padding-bottom:6px;text-align:left;color:#1d1f4d;line-height: 16px;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer{padding-top:10px;padding-bottom:20px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer2{padding-top:6px;padding-bottom:16px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer3{padding-top:10px;padding-bottom:10px;text-align:center;background-color: #ffffff;}&lt;/p&gt;&lt;p&gt;	td.articleReadmore{padding-top:15px;padding-bottom:14px;padding-left:30px;padding-right:30px;border-radius: 3px;background-color: #0072b8; }&lt;/p&gt;&lt;p&gt;	td.articleReadmore,td.articleReadmore a{color:#ffffff;font-size:11px;line-height:13px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	td.articleReadmore3{text-align:center;padding-top:15px;padding-bottom:14px;width:100%;border-radius: 3px;background-color: #0072b8; }&lt;/p&gt;&lt;p&gt;	td.articleReadmore3,td.articleReadmore3 a{color:#ffffff;font-size:11px;line-height:13px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	td.sconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;text-align:center;color:#ffffff;font-size:50px;line-height:50px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	td.sconto .perc{font-size:32px;}&lt;/p&gt;&lt;p&gt;	td.scontotext{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;text-align:center;color:#ffffff;font-size:12px;line-height:14px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	td.specialText{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:8px;padding-right:8px;color:#3da8f4;font-size:11px;line-height: 17px;}&lt;/p&gt;&lt;p&gt;	td.specialText2{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:8px;color:#c2dff1;font-size:11px;line-height: 11px;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;	td.specialSconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:14px;color:#ffffff;font-size:30px;line-height: 30px;font-weight:bold;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;	td.textSpecialSconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:4px;color:#ffffff;font-size:14px;line-height: 14px;font-weight:normal;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.headerTable{background-color:#e1e1e1;}&lt;/p&gt;&lt;p&gt;	.headerTd{padding-top:8px;padding-bottom:6px;color:#19425b;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:11px;text-align:center;text-align:right;}&lt;/p&gt;&lt;p&gt;	.headerTd a{color:#19425b;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:11px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.logoTable{border-left:10px solid #0072b8;border-bottom:1px solid #f3f3f3;}&lt;/p&gt;&lt;p&gt;	td.logoTd{padding-top:18px;padding-bottom:22px;padding-left:30px;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.footerTable{background-color:#1d1f4d;}&lt;/p&gt;&lt;p&gt;	.footerTd{padding-top:40px;padding-bottom:25px;}&lt;/p&gt;&lt;p&gt;	.footerTdTitle{color:#ffffff;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:14px;text-align:left;}&lt;/p&gt;&lt;p&gt;	.socialTd{padding-left:5px;padding-right:5px;}&lt;/p&gt;&lt;p&gt;	td.copy, td.copy a{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:12px;line-height:27px;font-weight:normal;}&lt;/p&gt;&lt;p&gt;	td.datiSoc{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:12px;line-height:17px;font-weight:normal;}&lt;/p&gt;&lt;p&gt;	td.datiSoc .title{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:14px;line-height:14px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	/* classi per le linee */&lt;/p&gt;&lt;p&gt;	.borderLogoBottomClass{border-bottom:1px solid #d6d6d6;}&lt;/p&gt;&lt;p&gt;	.borderLogoTopClass{border-top:1px solid #d6d6d6;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	@media only screen and (max-width: 640px){&lt;/p&gt;&lt;p&gt;		body,table,td,p,a,li,div{-webkit-text-size-adjust:none !important;}&lt;/p&gt;&lt;p&gt;		body{width:auto !important;}&lt;/p&gt;&lt;p&gt;		.fixTable{width:100% !important;max-width:600px !important;}&lt;/p&gt;&lt;p&gt;		.fixImage{height:auto !important;width:100% !important;max-width:none !important;}&lt;/p&gt;&lt;p&gt;		.fixTable50{width:48% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable35{width:32% !important;}		&lt;/p&gt;&lt;p&gt;		.fixTable65{width:65% !important;}&lt;/p&gt;&lt;p&gt;		.footerBarTable{float:none !important;margin:0 auto !important;}		&lt;/p&gt;&lt;p&gt;		.articleImage img{}&lt;/p&gt;&lt;p&gt;		.colTd{padding-left:3% !important;padding-right:3% !important;}&lt;/p&gt;&lt;p&gt;		.colTdInner{padding-left:6% !important;padding-right:6% !important;}&lt;/p&gt;&lt;p&gt;		.colTdInner2{padding-left:4% !important;padding-right:4% !important;}&lt;/p&gt;&lt;p&gt;		.colTdLeft{padding-left:3% !important;padding-right:1% !important;}&lt;/p&gt;&lt;p&gt;		.colTdMid{padding-left:2% !important;padding-right:2% !important;}&lt;/p&gt;&lt;p&gt;		.colTdRight{padding-left:1% !important;padding-right:3% !important;}	&lt;/p&gt;&lt;p&gt;		.colTdInner2Mid{padding-left:4% !important;}&lt;/p&gt;&lt;p&gt;	}&lt;/p&gt;&lt;p&gt;	@media only screen and (max-width: 520px){&lt;/p&gt;&lt;p&gt;		.backgroundTd{padding:0 !important;}&lt;/p&gt;&lt;p&gt;		.articleReadmore {text-align:left;}&lt;/p&gt;&lt;p&gt;		.left{text-align:left !important;}&lt;/p&gt;&lt;p&gt;		.fixTable50{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable35{width:100% !important;}		&lt;/p&gt;&lt;p&gt;		.fixTable65{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable{width:100% !important; float: none !important;}&lt;/p&gt;&lt;p&gt;		.articleImage img{width:auto !important;}&lt;/p&gt;&lt;p&gt;		.articleImage .fixImage{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.colTdLeft,.colTdMid,.colTdRight{display:block !important;padding-left:3% !important;padding-right:3% !important;}&lt;/p&gt;&lt;p&gt;		.secondTableMobile{margin-top:20px !important;}&lt;/p&gt;&lt;p&gt;		.td100mobile{width:100% !important; display: block !important;}&lt;/p&gt;&lt;p&gt;	}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;a[href^=&quot;x-apple-data-detectors:&quot;] {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;color: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;text-decoration: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-size: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-weight: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;line-height: inherit;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@font-face {&lt;/p&gt;&lt;p&gt;font-family: &#39;Montserrat&#39;;&lt;/p&gt;&lt;p&gt;font-style: normal;&lt;/p&gt;&lt;p&gt;font-weight: 400;&lt;/p&gt;&lt;p&gt;src: local(&#39;Montserrat-Regular&#39;), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format(&#39;woff&#39;);&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@media screen {*{-webkit-text-size-adjust: none;}}&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/head&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;body style=&quot;background-color: rgb(255, 255, 255); padding: 0px; margin: 0px; height: auto; min-height: auto;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;backgroundTable&quot; style=&quot;background-color: #ffffff;margin: 0;width: 100% !important;border-collapse: collapse !important;height: 100% !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;		&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;td align=&quot;center&quot; class=&quot;backgroundTd&quot; style=&quot;padding-top: 0px;margin: 0;padding-left: 10px;width: 100% !important;padding-bottom: 0px;border-collapse: collapse !important;padding-right: 10px;height: 100% !important;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td align=&quot;center&quot; style=&quot;border-collapse: collapse !important;width: 0; max-height: 0;overflow: hidden; float: left; display: none !important; color: #ffffff;line-height:0px;font-size:0%;&quot; valign=&quot;top&quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;headerTable fixTable&quot; style=&quot;background-color: #e1e1e1;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;headerTd colTd&quot; style=&quot;padding-top: 8px;color: #19425b;padding-left: 18px;padding-bottom: 6px;font-size: 11px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 11px;border-collapse: collapse !important;padding-right: 18px;text-align: right;&quot; valign=&quot;top&quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;div&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;logoTable fixTable&quot; style=&quot;border-bottom: 1px solid #f3f3f3;border-collapse: collapse !important;max-width:600px;border-left:10px solid #00BFF0;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;logoTd&quot; style=&quot;padding-top: 18px;padding-left: 30px;padding-bottom: 22px;border-collapse: collapse !important;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;span&amp;gt;&amp;lt;img alt=&quot;Ticket Compliments Edenred&quot; border=&quot;0&quot; src=&quot;https://repo.edenred.it/OrdiniTC/logo.jpg&quot; style=&quot;border: 0;outline: none;text-decoration: none;line-height: 100%;&quot; width=&quot;211&quot; /&amp;gt; &amp;lt;/span&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/div&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;contentTd articleTd&quot; style=&quot;padding-top: 20px;color: #666666;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;articleImage&quot; style=&quot;color: #666666;font-size: 0%;padding-bottom: 15px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 100%;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;a href=&quot;https://clienti.edenred.it/web/portale-clienti/ordine-compliments?token={{{Case.IT_Incentive_URL__c}}}&quot; style=&quot;color: #666666;font-weight: normal;text-decoration: none;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&quot; target=&quot;_blank&quot; title=&quot;&quot;&amp;gt;&amp;lt;img border=&quot;0&quot; class=&quot;fixImage&quot; src=&quot;https://repo.edenred.it/OrdiniTC/header_ordinetc.jpg&quot; style=&quot;border: 0;outline: none;text-decoration: none;display: block;line-height: 100%;margin: 0 auto;&quot; title=&quot;&quot; width=&quot;600&quot; /&amp;gt; &amp;lt;/a&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd colTdInner&quot; style=&quot;color: #666666;padding-left: 50px;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 50px;text-align: left;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;articleDescription&quot; style=&quot;padding-top: 4px;color: #666666;font-size: 16px;padding-bottom: 6px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;p&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;Gentile Cliente,&amp;lt;/span&amp;gt;&amp;lt;br /&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;br /&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;ti ringraziamo per l&amp;amp;#39;interesse dimostrato.&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;p&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;&amp;lt;strong&amp;gt;Accedi al portale&amp;lt;/strong&amp;gt; per completare il tuo ordine e &amp;lt;strong&amp;gt;ricevere &amp;lt;/strong&amp;gt;i buoni acquisto &amp;lt;strong&amp;gt;Ticket Compliments&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt; Selection Easy&amp;lt;/strong&amp;gt;.&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;articleReadmoreContainer&quot; style=&quot;padding-top: 30px;color: #666666;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;center&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;articleReadmore&quot; style=&quot;border-radius: 3px;padding-top: 15px;color: #ffffff;font-weight: bold;padding-left: 30px;font-size: 11px;padding-bottom: 14px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 13px;border-collapse: collapse !important;text-align: left;padding-right: 30px;background-color:#00BFF0;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;a href=&quot;https://clienti.edenred.it/web/portale-clienti/ordine-compliments?token={{{Case.IT_Incentive_URL__c}}}&quot; style=&quot;color: #ffffff;font-weight: bold;text-decoration: none;font-size: 18px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 13px;&quot; target=&quot;_blank&quot; title=&quot;&quot;&amp;gt;ACQUISTA ORA&amp;lt;/a&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px;color: #666666;padding-left: 18px;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px; padding-left: 18px;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;articleTable&quot; style=&quot;background-color: #ffffff;border-collapse: collapse !important;border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #ffffff;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px; color: #1d1f4d;padding-left: 18px;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;articleTable&quot; style=&quot;background-color: #ffffff;border-collapse: collapse !important;border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #ffffff;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd&quot; style=&quot;padding-top: 10px;color: #666666;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;contentTd colTdInner&quot; style=&quot;color: #666666;padding-left: 50px;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 50px;text-align: left;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;articleDescription&quot; style=&quot;padding-top: 4px;color: #666666;font-size: 16px;padding-bottom: 6px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;div style=&quot;text-align: left;&quot;&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;Per qualsiasi richiesta contattaci al numero verde&amp;lt;span style=&quot;color: #04af20;&quot;&amp;gt; &amp;lt;strong&amp;gt;800.411.817&amp;lt;/strong&amp;gt;&amp;lt;/span&amp;gt; oppure scrivici una e-mail all&amp;amp;#39;indirizzo:&amp;lt;/span&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;p style=&quot;text-align: center&quot;&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;&amp;lt;span&amp;gt;&amp;lt;strong&amp;gt;&amp;lt;span style=&quot;text-decoration: underline;&quot;&amp;gt;&amp;lt;span style=&quot;font-weight: bold; align: center;&quot;&amp;gt;&amp;lt;a href=&quot;mailto:assistenza-IT@edenred.com&quot; rel=&quot;noopener noreferrer&quot; style=&quot;font-weight: normal;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;color: #121f49; text-decoration: underline;&quot; target=&quot;_blank&quot;&amp;gt;&amp;lt;span style=&quot;text-decoration: underline;&quot;&amp;gt;&amp;lt;span style=&quot;font-weight: bold;&quot;&amp;gt;assistenza-IT@edenred.com&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/strong&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;specificando il tuo &amp;lt;em&amp;gt;codice cliente&amp;lt;/em&amp;gt; e la tua &amp;lt;em&amp;gt;Partita IVA&amp;lt;/em&amp;gt;.&amp;lt;/span&amp;gt;&amp;lt;/div&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;footerTable fixTable&quot; style=&quot;background-color: #1d1f4d;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;footerTd colTd&quot; style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;padding-top:18px;padding-left: 18px;padding-bottom: 25px;border-collapse: collapse !important;padding-right: 18px;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;border-collapse: collapse !important;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;left&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;right&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable secondTableMobile&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;colTd&quot; style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;padding-left: 18px;border-collapse: collapse !important;padding-right: 18px;padding-top:5px;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;border-collapse: collapse !important;&quot; valign=&quot;middle&quot; width=&quot;44&quot;&amp;gt;&amp;lt;img alt=&quot;Edenred&quot; border=&quot;0&quot; src=&quot;https://repo.edenred.it/OrdiniTC/logo_footer.png&quot; style=&quot;border: 0;outline: none;text-decoration: none;line-height: 100%;&quot; width=&quot;44&quot; /&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;copy&quot; style=&quot;text-align: left;color: #c2dff1;font-weight: normal;text-decoration: none;font-size: 12px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 27px;border-collapse: collapse !important;&quot; valign=&quot;middle&quot; width=&quot;100%&quot;&amp;gt;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;lt;span&amp;gt;&amp;amp;copy; 2018 Edenred Italia All rights reserved.&amp;lt;/span&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;		&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/body&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/html&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testw</name>
        <text>&lt;p&gt;&amp;lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;html style=&quot;overflow-y: hidden;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;head&amp;gt;&amp;lt;meta content=&quot;text/html; charset=utf-8&quot;&amp;gt;&amp;lt;meta content=&quot;width=device-width, initial-scale=1.0&quot; name=&quot;viewport&quot;&amp;gt;&amp;lt;meta content=&quot;noindex,nofollow&quot; name=&quot;robots&quot;&amp;gt;&amp;lt;meta content=&quot;telephone=no&quot; name=&quot;format-detection&quot;&amp;gt;&amp;lt;meta content=&quot;Ordina i tuoi Ticket Compliments®&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;title&amp;gt;Ordina i tuoi Ticket Compliments&amp;amp;reg;&amp;lt;/title&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;/* Email clients fixes*/&lt;/p&gt;&lt;p&gt;	#outlook a{padding:0;}&lt;/p&gt;&lt;p&gt;	.ReadMsgBody{width:100%;}&lt;/p&gt;&lt;p&gt;	.ExternalClass{width:100%;}&lt;/p&gt;&lt;p&gt;	.yshortcuts,a .yshortcuts,a .yshortcuts:hover,a .yshortcuts:active,a .yshortcuts:focus{background-color:transparent !important;border:none !important;color:inherit !important;} 	&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;body{margin:0;padding:0;-ms-text-size-adjust:none;}&lt;/p&gt;&lt;p&gt;	.backgroundTable,.backgroundTd{width:100% !important;height:100% !important;margin:0;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;img {border:0;outline:none;text-decoration:none;line-height:100%;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;table,td,tr{border-collapse:collapse !important;}&amp;nbsp;&lt;/p&gt;&lt;p&gt;	td.spacer,.spacer td,.contentTable td.spacer{font-size:0%;line-height:0%;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	/* Template */&lt;/p&gt;&lt;p&gt;	body,.backgroundTable{background-color:#ffffff;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;.backgroundTd{padding-left:10px;padding-right:10px;padding-top:0px;padding-bottom:0px;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.colTd{padding-left:18px;padding-right:18px;}&lt;/p&gt;&lt;p&gt;	.colTdLeft{padding-left:18px;padding-right:9px;}&lt;/p&gt;&lt;p&gt;	.colTdMid{padding-left:9px;padding-right:9px;}&lt;/p&gt;&lt;p&gt;	.colTdRight{padding-left:9px;padding-right:18px;}&lt;/p&gt;&lt;p&gt;	.colTdInner{padding-left:50px;padding-right:50px;}&lt;/p&gt;&lt;p&gt;	.colTdInner2{padding-left:30px;padding-right:30px;}&lt;/p&gt;&lt;p&gt;	.colTdInner2Mid{padding-left:30px;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.fullTable{background-color:#ffffff;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.contentTable{}&lt;/p&gt;&lt;p&gt;	.contentTd,.contentTd td{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:16px;line-height:24px;color:#666666;text-align:left;}&lt;/p&gt;&lt;p&gt;	.contentTd a{color:#666666;text-decoration:none;font-weight:normal;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:16px;}&lt;/p&gt;&lt;p&gt;	.contentTd a:hover {text-decoration: underline !important;}	&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.articleTable{background-color: #ffffff;}&lt;/p&gt;&lt;p&gt;	.articleTd{padding-top:20px;padding-bottom:20px;}&lt;/p&gt;&lt;p&gt;	td.articleImage{padding-bottom:15px;line-height: 100%;font-size: 0%;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleImage2{padding-bottom:0px;line-height: 100%;font-size: 0%;border-bottom:1px solid #f0f0f0;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleImage2{padding-bottom:0px;line-height: 100%;font-size: 0%;}&lt;/p&gt;&lt;p&gt;	td.articleImage img{display:block;}&lt;/p&gt;&lt;p&gt;	td.articleTitle{padding-top:14px;padding-bottom:7px;}&lt;/p&gt;&lt;p&gt;	td.articleTitle,td.articleTitle a{color:#1d1f4d;font-size:34px;line-height:36px;font-weight:normal;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleTitle2{padding-top:19px;padding-bottom:10px;}&lt;/p&gt;&lt;p&gt;	td.articleTitle2,td.articleTitle2 a{color:#1d1f4d;font-size:20px;line-height:22px;font-weight:bold;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleTitleSection{text-align:center;padding-top:12px;padding-bottom:12px;}&lt;/p&gt;&lt;p&gt;	td.articleTitleSection,td.articleTitleSection a{color:#1d1f4d;font-size:26px;line-height:30px;font-weight:normal;text-decoration:none;}&lt;/p&gt;&lt;p&gt;	td.articleDescription{padding-top:4px;padding-bottom:6px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleDescription2{padding-top:0px;padding-bottom:6px;text-align:left;color:#1d1f4d;line-height: 16px;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer{padding-top:10px;padding-bottom:20px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer2{padding-top:6px;padding-bottom:16px;text-align:left;}&lt;/p&gt;&lt;p&gt;	td.articleReadmoreContainer3{padding-top:10px;padding-bottom:10px;text-align:center;background-color: #ffffff;}&lt;/p&gt;&lt;p&gt;	td.articleReadmore{padding-top:15px;padding-bottom:14px;padding-left:30px;padding-right:30px;border-radius: 3px;background-color: #0072b8; }&lt;/p&gt;&lt;p&gt;	td.articleReadmore,td.articleReadmore a{color:#ffffff;font-size:11px;line-height:13px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	td.articleReadmore3{text-align:center;padding-top:15px;padding-bottom:14px;width:100%;border-radius: 3px;background-color: #0072b8; }&lt;/p&gt;&lt;p&gt;	td.articleReadmore3,td.articleReadmore3 a{color:#ffffff;font-size:11px;line-height:13px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	td.sconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;text-align:center;color:#ffffff;font-size:50px;line-height:50px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	td.sconto .perc{font-size:32px;}&lt;/p&gt;&lt;p&gt;	td.scontotext{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;text-align:center;color:#ffffff;font-size:12px;line-height:14px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	td.specialText{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:8px;padding-right:8px;color:#3da8f4;font-size:11px;line-height: 17px;}&lt;/p&gt;&lt;p&gt;	td.specialText2{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:8px;color:#c2dff1;font-size:11px;line-height: 11px;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;	td.specialSconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:14px;color:#ffffff;font-size:30px;line-height: 30px;font-weight:bold;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;	td.textSpecialSconto{font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;padding-left:4px;color:#ffffff;font-size:14px;line-height: 14px;font-weight:normal;mso-line-height-rule: exactly;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	.headerTable{background-color:#e1e1e1;}&lt;/p&gt;&lt;p&gt;	.headerTd{padding-top:8px;padding-bottom:6px;color:#19425b;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:11px;text-align:center;text-align:right;}&lt;/p&gt;&lt;p&gt;	.headerTd a{color:#19425b;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:11px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.logoTable{border-left:10px solid #0072b8;border-bottom:1px solid #f3f3f3;}&lt;/p&gt;&lt;p&gt;	td.logoTd{padding-top:18px;padding-bottom:22px;padding-left:30px;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	.footerTable{background-color:#1d1f4d;}&lt;/p&gt;&lt;p&gt;	.footerTd{padding-top:40px;padding-bottom:25px;}&lt;/p&gt;&lt;p&gt;	.footerTdTitle{color:#ffffff;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:11px;line-height:14px;text-align:left;}&lt;/p&gt;&lt;p&gt;	.socialTd{padding-left:5px;padding-right:5px;}&lt;/p&gt;&lt;p&gt;	td.copy, td.copy a{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:12px;line-height:27px;font-weight:normal;}&lt;/p&gt;&lt;p&gt;	td.datiSoc{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:12px;line-height:17px;font-weight:normal;}&lt;/p&gt;&lt;p&gt;	td.datiSoc .title{color:#c2dff1;text-decoration:none;font-family:&amp;nbsp;&#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&lt;/p&gt;&lt;p&gt;font-size:14px;line-height:14px;font-weight:bold;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	/* classi per le linee */&lt;/p&gt;&lt;p&gt;	.borderLogoBottomClass{border-bottom:1px solid #d6d6d6;}&lt;/p&gt;&lt;p&gt;	.borderLogoTopClass{border-top:1px solid #d6d6d6;}&lt;/p&gt;&lt;p&gt;	&lt;/p&gt;&lt;p&gt;	@media only screen and (max-width: 640px){&lt;/p&gt;&lt;p&gt;		body,table,td,p,a,li,div{-webkit-text-size-adjust:none !important;}&lt;/p&gt;&lt;p&gt;		body{width:auto !important;}&lt;/p&gt;&lt;p&gt;		.fixTable{width:100% !important;max-width:600px !important;}&lt;/p&gt;&lt;p&gt;		.fixImage{height:auto !important;width:100% !important;max-width:none !important;}&lt;/p&gt;&lt;p&gt;		.fixTable50{width:48% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable35{width:32% !important;}		&lt;/p&gt;&lt;p&gt;		.fixTable65{width:65% !important;}&lt;/p&gt;&lt;p&gt;		.footerBarTable{float:none !important;margin:0 auto !important;}		&lt;/p&gt;&lt;p&gt;		.articleImage img{}&lt;/p&gt;&lt;p&gt;		.colTd{padding-left:3% !important;padding-right:3% !important;}&lt;/p&gt;&lt;p&gt;		.colTdInner{padding-left:6% !important;padding-right:6% !important;}&lt;/p&gt;&lt;p&gt;		.colTdInner2{padding-left:4% !important;padding-right:4% !important;}&lt;/p&gt;&lt;p&gt;		.colTdLeft{padding-left:3% !important;padding-right:1% !important;}&lt;/p&gt;&lt;p&gt;		.colTdMid{padding-left:2% !important;padding-right:2% !important;}&lt;/p&gt;&lt;p&gt;		.colTdRight{padding-left:1% !important;padding-right:3% !important;}	&lt;/p&gt;&lt;p&gt;		.colTdInner2Mid{padding-left:4% !important;}&lt;/p&gt;&lt;p&gt;	}&lt;/p&gt;&lt;p&gt;	@media only screen and (max-width: 520px){&lt;/p&gt;&lt;p&gt;		.backgroundTd{padding:0 !important;}&lt;/p&gt;&lt;p&gt;		.articleReadmore {text-align:left;}&lt;/p&gt;&lt;p&gt;		.left{text-align:left !important;}&lt;/p&gt;&lt;p&gt;		.fixTable50{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable35{width:100% !important;}		&lt;/p&gt;&lt;p&gt;		.fixTable65{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.fixTable{width:100% !important; float: none !important;}&lt;/p&gt;&lt;p&gt;		.articleImage img{width:auto !important;}&lt;/p&gt;&lt;p&gt;		.articleImage .fixImage{width:100% !important;}&lt;/p&gt;&lt;p&gt;		.colTdLeft,.colTdMid,.colTdRight{display:block !important;padding-left:3% !important;padding-right:3% !important;}&lt;/p&gt;&lt;p&gt;		.secondTableMobile{margin-top:20px !important;}&lt;/p&gt;&lt;p&gt;		.td100mobile{width:100% !important; display: block !important;}&lt;/p&gt;&lt;p&gt;	}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;a[href^=&quot;x-apple-data-detectors:&quot;] {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;color: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;text-decoration: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-size: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-weight: inherit;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;line-height: inherit;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@font-face {&lt;/p&gt;&lt;p&gt;font-family: &#39;Montserrat&#39;;&lt;/p&gt;&lt;p&gt;font-style: normal;&lt;/p&gt;&lt;p&gt;font-weight: 400;&lt;/p&gt;&lt;p&gt;src: local(&#39;Montserrat-Regular&#39;), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format(&#39;woff&#39;);&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@media screen {*{-webkit-text-size-adjust: none;}}&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;style type=&quot;text/css&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/style&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/head&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;body style=&quot;background-color: rgb(255, 255, 255); padding: 0px; margin: 0px; height: auto; min-height: auto;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;backgroundTable&quot; style=&quot;background-color: #ffffff;margin: 0;width: 100% !important;border-collapse: collapse !important;height: 100% !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;		&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;td align=&quot;center&quot; class=&quot;backgroundTd&quot; style=&quot;padding-top: 0px;margin: 0;padding-left: 10px;width: 100% !important;padding-bottom: 0px;border-collapse: collapse !important;padding-right: 10px;height: 100% !important;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td align=&quot;center&quot; style=&quot;border-collapse: collapse !important;width: 0; max-height: 0;overflow: hidden; float: left; display: none !important; color: #ffffff;line-height:0px;font-size:0%;&quot; valign=&quot;top&quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;headerTable fixTable&quot; style=&quot;background-color: #e1e1e1;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;headerTd colTd&quot; style=&quot;padding-top: 8px;color: #19425b;padding-left: 18px;padding-bottom: 6px;font-size: 11px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 11px;border-collapse: collapse !important;padding-right: 18px;text-align: right;&quot; valign=&quot;top&quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;div&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;logoTable fixTable&quot; style=&quot;border-bottom: 1px solid #f3f3f3;border-collapse: collapse !important;max-width:600px;border-left:10px solid #00BFF0;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;logoTd&quot; style=&quot;padding-top: 18px;padding-left: 30px;padding-bottom: 22px;border-collapse: collapse !important;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;span&amp;gt;&amp;lt;img alt=&quot;Ticket Compliments Edenred&quot; border=&quot;0&quot; src=&quot;https://repo.edenred.it/OrdiniTC/logo.jpg&quot; style=&quot;border: 0;outline: none;text-decoration: none;line-height: 100%;&quot; width=&quot;211&quot; /&amp;gt; &amp;lt;/span&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/div&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;contentTd articleTd&quot; style=&quot;padding-top: 20px;color: #666666;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;articleImage&quot; style=&quot;color: #666666;font-size: 0%;padding-bottom: 15px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 100%;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;a href=&quot;https://clienti.edenred.it/web/portale-clienti/ordine-compliments?token={{{Case.IT_Incentive_URL__c}}}&quot; style=&quot;color: #666666;font-weight: normal;text-decoration: none;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;&quot; target=&quot;_blank&quot; title=&quot;&quot;&amp;gt;&amp;lt;img border=&quot;0&quot; class=&quot;fixImage&quot; src=&quot;https://repo.edenred.it/OrdiniTC/header_ordinetc.jpg&quot; style=&quot;border: 0;outline: none;text-decoration: none;display: block;line-height: 100%;margin: 0 auto;&quot; title=&quot;&quot; width=&quot;600&quot; /&amp;gt; &amp;lt;/a&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd colTdInner&quot; style=&quot;color: #666666;padding-left: 50px;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 50px;text-align: left;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;articleDescription&quot; style=&quot;padding-top: 4px;color: #666666;font-size: 16px;padding-bottom: 6px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;p&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;Gentile Cliente,&amp;lt;/span&amp;gt;&amp;lt;br /&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;br /&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;ti ringraziamo per l&amp;amp;#39;interesse dimostrato.&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;p&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;&amp;lt;strong&amp;gt;Accedi al portale&amp;lt;/strong&amp;gt; per completare il tuo ordine e &amp;lt;strong&amp;gt;ricevere &amp;lt;/strong&amp;gt;i buoni acquisto &amp;lt;strong&amp;gt;Ticket Compliments&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt; Selection Easy&amp;lt;/strong&amp;gt;.&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;articleReadmoreContainer&quot; style=&quot;padding-top: 30px;color: #666666;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;center&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;articleReadmore&quot; style=&quot;border-radius: 3px;padding-top: 15px;color: #ffffff;font-weight: bold;padding-left: 30px;font-size: 11px;padding-bottom: 14px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 13px;border-collapse: collapse !important;text-align: left;padding-right: 30px;background-color:#00BFF0;&quot; valign=&quot;top&quot;&amp;gt;&amp;lt;a href=&quot;https://clienti.edenred.it/web/portale-clienti/ordine-compliments?token={{{Case.IT_Incentive_URL__c}}}&quot; style=&quot;color: #ffffff;font-weight: bold;text-decoration: none;font-size: 18px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 13px;&quot; target=&quot;_blank&quot; title=&quot;&quot;&amp;gt;ACQUISTA ORA&amp;lt;/a&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px;color: #666666;padding-left: 18px;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px; padding-left: 18px;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;articleTable&quot; style=&quot;background-color: #ffffff;border-collapse: collapse !important;border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #ffffff;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd colTd&quot; style=&quot;padding-top: 0px; color: #1d1f4d;padding-left: 18px;font-size: 16px;padding-bottom: 0px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 18px;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;articleTable&quot; style=&quot;background-color: #ffffff;border-collapse: collapse !important;border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #ffffff;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table bgcolor=&quot;#ffffff&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;contentTd articleTd&quot; style=&quot;padding-top: 10px;color: #666666;font-size: 16px;padding-bottom: 20px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;contentTd colTdInner&quot; style=&quot;color: #666666;padding-left: 50px;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;padding-right: 50px;text-align: left;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;articleDescription&quot; style=&quot;padding-top: 4px;color: #666666;font-size: 16px;padding-bottom: 6px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;border-collapse: collapse !important;text-align: left;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;div style=&quot;text-align: left;&quot;&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;Per qualsiasi richiesta contattaci al numero verde&amp;lt;span style=&quot;color: #04af20;&quot;&amp;gt; &amp;lt;strong&amp;gt;800.411.817&amp;lt;/strong&amp;gt;&amp;lt;/span&amp;gt; oppure scrivici una e-mail all&amp;amp;#39;indirizzo:&amp;lt;/span&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;p style=&quot;text-align: center&quot;&amp;gt;&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;&amp;lt;span&amp;gt;&amp;lt;strong&amp;gt;&amp;lt;span style=&quot;text-decoration: underline;&quot;&amp;gt;&amp;lt;span style=&quot;font-weight: bold; align: center;&quot;&amp;gt;&amp;lt;a href=&quot;mailto:assistenza-IT@edenred.com&quot; rel=&quot;noopener noreferrer&quot; style=&quot;font-weight: normal;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;color: #121f49; text-decoration: underline;&quot; target=&quot;_blank&quot;&amp;gt;&amp;lt;span style=&quot;text-decoration: underline;&quot;&amp;gt;&amp;lt;span style=&quot;font-weight: bold;&quot;&amp;gt;assistenza-IT@edenred.com&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/strong&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;span style=&quot;color: #121f49;&quot;&amp;gt;specificando il tuo &amp;lt;em&amp;gt;codice cliente&amp;lt;/em&amp;gt; e la tua &amp;lt;em&amp;gt;Partita IVA&amp;lt;/em&amp;gt;.&amp;lt;/span&amp;gt;&amp;lt;/div&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;footerTable fixTable&quot; style=&quot;background-color: #1d1f4d;border-collapse: collapse !important;&quot; width=&quot;600&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;td class=&quot;footerTd colTd&quot; style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;padding-top:18px;padding-left: 18px;padding-bottom: 25px;border-collapse: collapse !important;padding-right: 18px;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;border-collapse: collapse !important;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;left&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table align=&quot;right&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;fixTable secondTableMobile&quot; style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;td class=&quot;colTd&quot; style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;padding-left: 18px;border-collapse: collapse !important;padding-right: 18px;padding-top:5px;&quot; valign=&quot;top&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse: collapse !important;&quot; width=&quot;100%&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td style=&quot;color: #666666;font-size: 16px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 24px;text-align: left;border-collapse: collapse !important;&quot; valign=&quot;middle&quot; width=&quot;44&quot;&amp;gt;&amp;lt;img alt=&quot;Edenred&quot; border=&quot;0&quot; src=&quot;https://repo.edenred.it/OrdiniTC/logo_footer.png&quot; style=&quot;border: 0;outline: none;text-decoration: none;line-height: 100%;&quot; width=&quot;44&quot; /&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;															&amp;lt;td class=&quot;copy&quot; style=&quot;text-align: left;color: #c2dff1;font-weight: normal;text-decoration: none;font-size: 12px;font-family: &#39;Century Gothic&#39;, CenturyGothic, AppleGothic, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Segoe, &#39;Segoe UI&#39;, Arial, sans-serif;line-height: 27px;border-collapse: collapse !important;&quot; valign=&quot;middle&quot; width=&quot;100%&quot;&amp;gt;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;lt;span&amp;gt;&amp;amp;copy; 2018 Edenred Italia All rights reserved.&amp;lt;/span&amp;gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;														&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;													&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;												&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;tr style=&quot;border-collapse: collapse !important;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;											&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;										&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;									&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;								&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;							&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;						&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;					&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;				&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;			&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;		&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;	&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/table&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/body&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/html&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
