src/flows/IT41_ComplimentsEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compliments_Easy</name>
        <label>Compliments Easy</label>
        <locationX>987</locationX>
        <locationY>50</locationY>
        <actionName>Case.IT_Compliments_Easy</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NO_Financial_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Caserecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Compliments_Selection</name>
        <label>Compliments Selection</label>
        <locationX>1101</locationX>
        <locationY>169</locationY>
        <actionName>Case.IT_Compliments_Selection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NO_Financial_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Caserecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IT_Compliments_Spesa</name>
        <label>IT Compliments Spesa</label>
        <locationX>1102</locationX>
        <locationY>295</locationY>
        <actionName>Case.IT_Compliments_Spesa</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NO_Financial_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Caserecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IT_Compliments_Top_Premium</name>
        <label>IT Compliments Top Premium</label>
        <locationX>985</locationX>
        <locationY>425</locationY>
        <actionName>Case.IT_Compliments_Top_Premium</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NO_Financial_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Caserecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Sevice</name>
        <label>Sevice</label>
        <locationX>859</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliments_Easy1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliments_Easy</targetReference>
            </connector>
            <label>Compliments Easy?</label>
        </rules>
        <rules>
            <name>Compliments_Selection1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliments_Selection</targetReference>
            </connector>
            <label>Compliments Selection?</label>
        </rules>
        <rules>
            <name>Compliments_Top_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Compliments_Top_Premium</targetReference>
            </connector>
            <label>Compliments Top Premium?</label>
        </rules>
        <rules>
            <name>Compliments_Spesa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Compliments_Spesa</targetReference>
            </connector>
            <label>Compliments Spesa?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sevice_0</name>
        <label>Sevice</label>
        <locationX>483</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>NoProduct_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noservice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_Financial</targetReference>
            </connector>
            <label>Noservice</label>
        </rules>
        <rules>
            <name>Compliments_Easy1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Compliments Easy?</label>
        </rules>
        <rules>
            <name>Compliments_Selection1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Compliments Selection?</label>
        </rules>
        <rules>
            <name>Compliments_Top_Premium_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Compliments Top Premium?</label>
        </rules>
        <rules>
            <name>Compliments_Spesa_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Compliments Spesa?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simple_Client</name>
        <label>Simple Client?</label>
        <locationX>344</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Sevice_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO_simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCrecord.IT_Single_Client_Multiactivity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoProduct_0</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <interviewLabel>IT41_ComplimentsEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT41_ComplimentsEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>134</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caserecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>232</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Simple_Client</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caserecord.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Single_Client_Multiactivity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>NO_Financial</name>
        <label>NO Financial</label>
        <locationX>578</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoFC</name>
            <fieldText>&lt;p&gt;Nessun Financial Center associato&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NO_Financial_0</name>
        <label>Email Sent</label>
        <locationX>1390</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoFC_0</name>
            <fieldText>&lt;p&gt;Email inviata con successo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoProduct_0</name>
        <label>NoProduct</label>
        <locationX>362</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NO_0</name>
            <fieldText>&lt;p&gt;Per il cliente collegato al caso non è possibile inviare il link&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>703</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sevice</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Premere Avanti per inviare l&#39;email con il link al Wizard al referente collegato al caso (email: {!Caserecord.ContactEmail})&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caserecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FCrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
