src/flows/IT_Add_Codes_Welfare_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_FC</name>
        <label>Assign FC</label>
        <locationX>364</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>FC_NameAndLegalName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCRecord.IT_Name_and_Legal_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FC_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Codes_Choice_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CodesAssignment</name>
        <label>CodesAssignment</label>
        <locationX>540</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>IDCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codici_da_aggiungere</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Codes1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CodesAssignment_0</name>
        <label>CodesAssignment</label>
        <locationX>538</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>IDCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codici_da_aggiungere_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Codes1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remaining_Codes</name>
        <label>Remaining Codes</label>
        <locationX>942</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>IDCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCodes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Codes1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FinancialCenter</name>
        <choiceText>{!FC_NameAndLegalName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FC_Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Circuit_Code_Populated</name>
        <label>Circuit Code Populated?</label>
        <locationX>359</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Assign_FC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.IT_Circuit_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Codes_Choice</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Circuit_Codes</name>
        <label>Other Circuit Codes?</label>
        <locationX>421</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inserire_altri_codici_circuito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_Code_Insert</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Codes1</name>
        <label>Remaining Codes?</label>
        <locationX>759</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Other_Circuit_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCodes</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OtherCodes</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Legal_Name__c</displayField>
        <filters>
            <field>IT_Circuit_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Circuit_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1B</stringValue>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Lenght}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IDda15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FCRecord.Id},15)</expression>
    </formulas>
    <formulas>
        <name>IndCodes</name>
        <dataType>String</dataType>
        <expression>LEFT({!IDCodes},18)</expression>
    </formulas>
    <formulas>
        <name>Lenght</name>
        <dataType>Number</dataType>
        <expression>LEN({!IDCodes})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingCodes</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!IDCodes},({!Lenght}-20)))</expression>
    </formulas>
    <interviewLabel>Add Codes Welfare Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Codes Welfare Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCircuit</name>
        <label>getCircuit</label>
        <locationX>717</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Codice_Circuito</elementReference>
            </value>
        </filters>
        <object>IT_Circuit__c</object>
        <outputAssignments>
            <assignToReference>CircuitId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetFC</name>
        <label>GetFC</label>
        <locationX>259</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Circuit_Code_Populated</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Codice_Circuito</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Circuit_Code__c</queriedFields>
        <queriedFields>IT_Name_and_Legal_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFCCircuit</name>
        <label>getFCCircuit</label>
        <locationX>825</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>IT_Circuit_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Codice_Circuito</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Circuit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWP</name>
        <label>GetWP</label>
        <locationX>160</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Circuit_Code_Insert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Welfare_Project__c</object>
        <outputReference>WPRecord1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCodes</name>
        <label>UpdateCodes</label>
        <locationX>1003</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Remaining_Codes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndCodes</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IT_Welfare_Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Financial_Center__c</object>
    </recordUpdates>
    <screens>
        <name>Circuit_Code_Insert</name>
        <label>Circuit Code Insert</label>
        <locationX>160</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFC</targetReference>
        </connector>
        <fields>
            <name>Insert_Circuit</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Inserire un Codice Cliente:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Circuito</name>
            <dataType>String</dataType>
            <fieldText>Codice Cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Codes_Choice</name>
        <label>Codes Choice</label>
        <locationX>369</locationX>
        <locationY>42</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CodesAssignment</targetReference>
        </connector>
        <fields>
            <name>Codici_da_aggiungere</name>
            <choiceReferences>OtherCodes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aggiungi Codici</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inserire_altri_codici_circuito</name>
            <dataType>Boolean</dataType>
            <fieldText>Inserire altri codici?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Codes_Choice_0</name>
        <label>Codes Choice</label>
        <locationX>536</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CodesAssignment_0</targetReference>
        </connector>
        <fields>
            <name>Codici_da_aggiungere_0</name>
            <choiceReferences>FinancialCenter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aggiungi Codice</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inserire_altri_codici_circuito_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Inserire altri codici?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>162</locationX>
        <locationY>545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen</name>
            <fieldText>&lt;p&gt;Codici aggiunti correttamente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWP</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CircuitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FC_NameAndLegalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>FinancialCenters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>IDCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WPRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Welfare_Project__c</objectType>
    </variables>
</Flow>
