src/flows/IT_Create_Contact_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addPhoneToInsertList</name>
        <label>addToInsertList</label>
        <locationX>1030</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>detailListFutureInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPhonetoUpdateList</name>
        <label>addtoUpdateList</label>
        <locationX>1652</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>detailListFutureUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oldDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchContactDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FaxAssignment</name>
        <label>FaxAssignment</label>
        <locationX>371</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>ContactDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>002</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPhoneDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>flag_Main_Phone</name>
        <label>flag Main</label>
        <locationX>1906</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>oldDetail.IT_Main_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContactAlreadyPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPhonetoUpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>flagFalse</name>
        <label>flagFalse</label>
        <locationX>1147</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>isContactAlreadyPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MailAssignment</name>
        <label>MailAssignment</label>
        <locationX>371</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>ContactDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPhoneDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MailPECAssignment</name>
        <label>MailPECAssignment</label>
        <locationX>358</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>ContactDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.IT_PEC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>007</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPhoneDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MobileAssignment</name>
        <label>MobileAssignment</label>
        <locationX>372</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>ContactDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPhoneDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newPhoneDetail</name>
        <label>newDetail</label>
        <locationX>1028</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>newDetail.IT_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDetail.IT_Apparatus_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetailType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDetail.IT_Main_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDetail.IT_Contact_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDetail.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPhoneToInsertList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PhoneAssignment</name>
        <label>PhoneAssignment</label>
        <locationX>370</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>ContactDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPhoneDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_Main_0</name>
        <label>Unflag Main</label>
        <locationX>1538</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>oldDetail.IT_Main_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_same_detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Detail_already_Present</name>
        <label>Contact Detail already Present?</label>
        <locationX>1460</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>newPhoneDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContactAlreadyPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flagFalse</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fax_Changed</name>
        <label>Fax Changed?</label>
        <locationX>192</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Mail_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fax not Changed</defaultConnectorLabel>
        <rules>
            <name>Fax_isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>faxChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FaxAssignment</targetReference>
            </connector>
            <label>Fax Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_same_detail</name>
        <label>Is it same detail?</label>
        <locationX>1702</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>addPhonetoUpdateList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Same_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldDetail.IT_Contact_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactDetail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flag_Main_Phone</targetReference>
            </connector>
            <label>Same Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPhoneChanged</name>
        <label>Phone Changed?</label>
        <locationX>196</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Mobile_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone Not Changed</defaultConnectorLabel>
        <rules>
            <name>Phone_Changed_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phoneChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PhoneAssignment</targetReference>
            </connector>
            <label>Phone Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mail_Changed</name>
        <label>Mail Changed?</label>
        <locationX>198</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Mail_PEC_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mail Not Changed</defaultConnectorLabel>
        <rules>
            <name>Mail_Changed_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mailChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailAssignment</targetReference>
            </connector>
            <label>Mail Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mail_PEC_Changed</name>
        <label>Mail PEC Changed?</label>
        <locationX>202</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Something_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mail PEC Not Changed</defaultConnectorLabel>
        <rules>
            <name>Mail_PEC_Changed_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mailPECChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailPECAssignment</targetReference>
            </connector>
            <label>Mail PEC Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Changed</name>
        <label>Mobile Changed?</label>
        <locationX>192</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Fax_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile Not Changed</defaultConnectorLabel>
        <rules>
            <name>Mobile_Changed_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mobileChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MobileAssignment</targetReference>
            </connector>
            <label>Mobile Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Already_Present</name>
        <label>Already Present?</label>
        <locationX>1025</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>newPhoneDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone not Present</defaultConnectorLabel>
        <rules>
            <name>Phone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldDetailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchContactDetails</targetReference>
            </connector>
            <label>Phone Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Something_To_Insert</name>
        <label>Something To Insert?</label>
        <locationX>201</locationX>
        <locationY>1489</locationY>
        <defaultConnectorLabel>No Insert</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>detailListFutureInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertList</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Something_to_Update</name>
        <label>Something to Update?</label>
        <locationX>202</locationX>
        <locationY>1277</locationY>
        <defaultConnector>
            <targetReference>Something_To_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>detailListFutureUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateList</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeDecision</name>
        <label>TypeDecision</label>
        <locationX>757</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Something_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPDATE</defaultConnectorLabel>
        <rules>
            <name>PHONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Changed</targetReference>
            </connector>
            <label>MOBILE</label>
        </rules>
        <rules>
            <name>FAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fax_Changed</targetReference>
            </connector>
            <label>FAX</label>
        </rules>
        <rules>
            <name>MAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_Changed</targetReference>
            </connector>
            <label>MAIL</label>
        </rules>
        <rules>
            <name>MAIL_PEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_PEC_Changed</targetReference>
            </connector>
            <label>MAIL PEC</label>
        </rules>
    </decisions>
    <interviewLabel>IT_Create_Contact_Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT_Create_Contact_Details</label>
    <loops>
        <name>searchContactDetails</name>
        <label>searchContactDetails</label>
        <locationX>1302</locationX>
        <locationY>156</locationY>
        <assignNextValueToReference>oldDetail</assignNextValueToReference>
        <collectionReference>oldDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unflag_Main_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_Detail_already_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sflagEverything</name>
        <label>sflagEverything</label>
        <locationX>1032</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>oldDetail</assignNextValueToReference>
        <collectionReference>oldDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertList</name>
        <label>InsertList</label>
        <locationX>501</locationX>
        <locationY>1480</locationY>
        <inputReference>detailListFutureInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPhoneDetail</name>
        <label>getDetail</label>
        <locationX>771</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phone_Already_Present</targetReference>
        </connector>
        <filters>
            <field>IT_Apparatus_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactDetailType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newContact.Id</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputReference>oldDetailList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Main_Contact__c</queriedFields>
        <queriedFields>IT_Contact_Info__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateList</name>
        <label>UpdateList</label>
        <locationX>501</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Something_To_Insert</targetReference>
        </connector>
        <inputReference>detailListFutureUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>isPhoneChanged</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDetailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>detailListFutureInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>detailListFutureUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>detailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>faxChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isContactAlreadyPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mailChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mailPECChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mobileChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>oldDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>oldDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>phoneChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
