src/flows/IT_Create_Update_Delivery_Site_on_Distribution_Point.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Call_APIT12</name>
        <label>Call APIT12</label>
        <locationX>1763</locationX>
        <locationY>1378</locationY>
        <actionName>APIT12_CallOutbound</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>flowDelSites</name>
            <value>
                <elementReference>delSiteList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowString</name>
            <value>
                <elementReference>IdStringList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowDistPoints</name>
            <value>
                <elementReference>distPointList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addToLists</name>
        <label>addToLists</label>
        <locationX>1340</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>delSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordDeliveryInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>distPointList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_APIT12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToLists_0</name>
        <label>addToLists</label>
        <locationX>1495</locationX>
        <locationY>1230</locationY>
        <assignmentItems>
            <assignToReference>delSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordDeliveryInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>distPointList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_APIT12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFCId</name>
        <label>assignFCId</label>
        <locationX>536</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>FCId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCId15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityACOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_AC_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldDeliveryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.ER_Delivery_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountCollection</name>
        <label>CountCollection</label>
        <locationX>1196</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>NumDistrPoint</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DistributionPointCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumDelSite</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeliverySiteCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Courier_Field_Assignment</name>
        <label>Courier Field Assignment</label>
        <locationX>2096</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>streetFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Street_additionnal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocAggFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowCAP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>provinceFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_State_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>provinceCodeFlow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Delivery_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Site_Field_Assignment</name>
        <label>Delivery Site Field Assignment</label>
        <locationX>1267</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Delivery_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modalit_di_ConsegnaScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NominativoScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Validity_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Inizio_ValiditScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Assignment</name>
        <label>Id Assignment</label>
        <locationX>2332</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>DistributionRecord.ER_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordDeliveryInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery_on_Distribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Assignment_0</name>
        <label>Id Assignment</label>
        <locationX>660</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>DistributionRecord.ER_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordDeliveryInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery_on_Distribution_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vector_Changed_Assignment</name>
        <label>Vector Changed Assignment</label>
        <locationX>1962</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forzatura_VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Courier_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vector_Not_Changed_Assignment</name>
        <label>Vector Not Changed Assignment</label>
        <locationX>1947</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Vehicle__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Courier_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0001</name>
        <label>Vehicle 0001</label>
        <locationX>1568</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>DeliveryRecord.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0023</name>
        <label>Vehicle 0023</label>
        <locationX>1622</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>DeliveryRecord.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0023</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0031</name>
        <label>Vehicle 0031</label>
        <locationX>1564</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>DeliveryRecord.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0031</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0032</name>
        <label>Vehicle 0032</label>
        <locationX>1491</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>DeliveryRecord.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0032</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0033</name>
        <label>Vehicle 0033</label>
        <locationX>1632</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>DeliveryRecord.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0033</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Client</name>
        <label>Active Client?</label>
        <locationX>660</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Delivery_Site</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Actual_DeliveryAC_populated</name>
        <label>Actual DeliveryAC populated?</label>
        <locationX>309</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>getFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>NotPopulated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DistributionRecord.ER_Delivery_Site__r.IT_Delivery_AC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionRecord.ER_Delivery_Site__r.IT_Delivery_AC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionRecord.ER_Delivery_Site__r.IT_Delivery_AC__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ErrorPopulated</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Vector</name>
        <label>Changed Vector?</label>
        <locationX>1856</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Vector_Not_Changed_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeVectorYes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vector_Changed_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_0</name>
        <label>Count = 0 ?</label>
        <locationX>1313</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>UpdateControl_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumDelSite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumDistrPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseOldDelivery</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>958</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>DeliveryUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CREA_CONSEGNA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_variations_existing</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Changed</name>
        <label>Delivery Changed</label>
        <locationX>788</locationX>
        <locationY>1102</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_delchang</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordDeliveryInsert.Id</elementReference>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Type</name>
        <label>Delivery Type</label>
        <locationX>1380</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>Other_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Courier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Vehicle</targetReference>
            </connector>
            <label>Courier</label>
        </rules>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BranchChoice</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_variations_existing</name>
        <label>Future variations existing?</label>
        <locationX>960</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>New_Delivery_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Existing</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_Economic_Conditions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_FC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorVariations</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Vehicle</name>
        <label>Service/Vehicle</label>
        <locationX>1381</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>CourierScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_for_Vehicle_0032</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0032</targetReference>
            </connector>
            <label>Service for Vehicle 0032</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0031</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0031</targetReference>
            </connector>
            <label>Service for Vehicle 0031</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0033</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0033</targetReference>
            </connector>
            <label>Service for Vehicle 0033</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0023</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryRecord.IT_Region_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0023</targetReference>
            </connector>
            <label>Service for Vehicle 0023</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryRecord.IT_Region_code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0001</targetReference>
            </connector>
            <label>Service for Vehicle 0001</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateControl_0</name>
        <label>UpdateControl</label>
        <locationX>1327</locationX>
        <locationY>1240</locationY>
        <defaultConnector>
            <targetReference>addToLists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Control_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdControlUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToLists_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConsegnaChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Delivery_AC_and_Name__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Service__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FCId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FinancialCenterRecord.Id} , 15)</expression>
    </formulas>
    <formulas>
        <name>MatchedDelAC_number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!DeliveryRecord.IT_Delivery_AC__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MatchedOLD</name>
        <dataType>Number</dataType>
        <expression> VALUE({!getDeliverySite_OLD.IT_Delivery_AC__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IT Create/Update Delivery Site on Distribution Point {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Create/Update Delivery Site on Distribution Point</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Delivery_Site</name>
        <label>Insert Delivery Site</label>
        <locationX>2208</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Id_Assignment</targetReference>
        </connector>
        <inputReference>recordDeliveryInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>669</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_Assignment_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryRecord.Id</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>recordDeliveryInsert</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_Street_additionnal__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>IT_Provider__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite_OLD</name>
        <label>getDeliverySiteOLD</label>
        <locationX>243</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actual_DeliveryAC_populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionRecord.ER_Delivery_Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Delivery_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>145</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDeliverySite_OLD</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Delivery_Site_Filtered__c</queriedFields>
        <queriedFields>IT_AC_Activity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Technical_Data_Progressive__c</queriedFields>
        <queriedFields>IT_Contact_Code__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_SF_Activity__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC</name>
        <label>getFC</label>
        <locationX>424</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignFCId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionRecord.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_Future_Change_Economic_Conditions__c</queriedFields>
        <queriedFields>IT_Future_Change_FC__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOtherDelSite</name>
        <label>GetOtherDelSite</label>
        <locationX>1062</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountCollection</targetReference>
        </connector>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getDeliverySite_OLD.IT_Delivery_AC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedOLD</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliverySiteCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOtherDistPoint</name>
        <label>GetOtherDistPoint</label>
        <locationX>871</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOtherDelSite</targetReference>
        </connector>
        <filters>
            <field>ER_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldDeliveryId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPointCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CloseOldDelivery</name>
        <label>CloseOldDelivery</label>
        <locationX>1470</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>UpdateControl_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldDeliveryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IT_Activity_AC__c</field>
            <value>
                <elementReference>activityACOld</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Validity_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Delivery_Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DeliveryUpdate</name>
        <label>DeliveryUpdate</label>
        <locationX>965</locationX>
        <locationY>327</locationY>
        <inputReference>DistributionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Delivery_on_Distribution</name>
        <label>Update Delivery on Distribution</label>
        <locationX>2468</locationX>
        <locationY>411</locationY>
        <inputReference>DistributionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Delivery_on_Distribution_0</name>
        <label>Update Delivery on Distribution</label>
        <locationX>650</locationX>
        <locationY>991</locationY>
        <connector>
            <targetReference>GetOtherDistPoint</targetReference>
        </connector>
        <inputReference>DistributionRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>BranchChoice</name>
        <label>Branch</label>
        <locationX>1478</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CourierScreen</name>
        <label>Courier</label>
        <locationX>1731</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Changed_Vector</targetReference>
        </connector>
        <fields>
            <name>DefaultVector</name>
            <fieldText>&lt;p&gt;Vettore Default: {!DeliveryRecord.IT_Vehicle__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChangeVector</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Cambio Vettore</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Mantieni Vettore di Default</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ChangeVectorYes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cambio Vettore</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChangeVectorYes</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>VettoreScreen</name>
            <choiceReferences>Vector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vettore</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChangeVectorYes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Forzatura_VettoreScreen</name>
            <dataType>Boolean</dataType>
            <fieldText>Forzatura Vettore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChangeVectorYes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Servizio_SpecialeScreen</name>
            <choiceReferences>SpecialService</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Servizio Speciale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>670</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Impossibile effettuare modifiche! Il cliente non  attivo!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorPopulated</name>
        <label>ErrorPopulated</label>
        <locationX>302</locationX>
        <locationY>822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorPopulate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione! Non  possibile effettuare modifiche perch la consegna associata non ha il codice consegna popolato! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorVariations</name>
        <label>ErrorVariations</label>
        <locationX>966</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageVariations</name>
            <fieldText>&lt;p&gt;Impossibile creare una nuova consegna per il cliente! Sono previste delle variazioni future!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Delivery_Site</name>
        <label>New Delivery Site</label>
        <locationX>1137</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delivery_Site_Field_Assignment</targetReference>
        </connector>
        <fields>
            <name>Modalit_di_ConsegnaScreen</name>
            <choiceReferences>DeliveryType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modalit di Consegna</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NominativoScreen</name>
            <dataType>String</dataType>
            <fieldText>Nominativo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Inizio_ValiditScreen</name>
            <dataType>Date</dataType>
            <fieldText>Data Inizio Validit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryAddress</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>flowCAP</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>flowCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>flowCityCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowLocAgg</name>
                <value>
                    <elementReference>LocAggFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>provinceFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>provinceCodeFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>streetFlow</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowCAP</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowCity</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowCityCode</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocAggFlow</assignToReference>
                <name>flowLocAgg</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>provinceFlow</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>provinceCodeFlow</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>streetFlow</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Address</name>
        <label>Other Address</label>
        <locationX>1538</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Data_di_Inizio_ValiditScreen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data di Inizio Validit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_or_Creation</name>
        <label>Update or Creation</label>
        <locationX>831</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <fields>
            <name>Aggiorna_Consegna_Choice2</name>
            <choiceReferences>ConsegnaChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aggiorna Consegna</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CREA_CONSEGNA</name>
            <dataType>Boolean</dataType>
            <fieldText>CREA CONSEGNA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateDelivery</name>
        <label>UpdateDelivery</label>
        <locationX>801</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Delivery</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Delivery_Site_Filtered__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consegna</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ER_Distribution_Point__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DistributionRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DistributionRecord.ER_Delivery_Site__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>getDistributionPoint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Define_Delivery_Site</name>
        <label>Define Delivery Site</label>
        <locationX>674</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>getDeliverySite</targetReference>
        </connector>
        <flowName>IT_Delivery_Site_Subflow</flowName>
        <inputAssignments>
            <name>FinancialCenterId</name>
            <value>
                <elementReference>FinancialCenterRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IdControlUpdate</assignToReference>
            <name>DeliveryChoiceId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeliveryRecord</assignToReference>
            <name>insertedDelSite</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>activityACOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangeVectorYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliverySiteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>delSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>distPointList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionPointCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>flowCAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdControlUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocAggFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedDelAC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumDelSite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumDistrPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OldDeliveryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>provinceCodeFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provinceFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordDeliveryInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>streetFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
