src/flows/IT_Create_Contact_Association.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToInsertList</name>
        <label>addToInsertList</label>
        <locationX>3326</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>assoToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAssociations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>1019</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingFinCent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDDelSiteAssoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0</name>
        <label>addToList</label>
        <locationX>1404</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDelSite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0</name>
        <label>addToList</label>
        <locationX>1909</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPointChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDistPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0_0</name>
        <label>List_blank</label>
        <locationX>2298</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>associationsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_nuove_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToUpdateList</name>
        <label>addToUpdateList</label>
        <locationX>2585</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>assoToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAssociations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDelivery</name>
        <label>assignDelivery</label>
        <locationX>2842</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>associationLoop.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>distributionNull_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDistribution</name>
        <label>assignDistribution</label>
        <locationX>2957</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>associationLoop.IT_Distribution_Point__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>getDuplicateAssociation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFinCent</name>
        <label>assignFinCent</label>
        <locationX>2714</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>associationLoop.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>deliveryNull_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignId</name>
        <label>assignId</label>
        <locationX>3327</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>associationLoop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateAss.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeSOC</name>
        <label>assignTypeSOC</label>
        <locationX>284</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeSOC_0</name>
        <label>assignTypeREF</label>
        <locationX>376</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clientCodeForSoc</name>
        <label>clientCodeForSoc</label>
        <locationX>962</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AC{!ClientCode}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Detail_Assingment</name>
        <label>Contact Detail Assingment</label>
        <locationX>625</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Main_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetailRecord.IT_Main_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Apparatus_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetailRecord.IT_Apparatus_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetailRecord.IT_Contact_Info__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDDelSiteAssoc</name>
        <label>IDDelSiteAssoc</label>
        <locationX>1135</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Site_SCREEN_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DelSiteScelti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDDistPointAssoc</name>
        <label>IDDistPointAssoc</label>
        <locationX>1704</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_Point_SCREEN_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DistPointScelti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDFinCenterAssoc</name>
        <label>IDFinCenterAssoc</label>
        <locationX>576</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Center_SCREEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation</name>
        <label>newAssociation</label>
        <locationX>670</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialTempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0</name>
        <label>newAssociation</label>
        <locationX>1325</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_SF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_AC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0</name>
        <label>newAssociation</label>
        <locationX>1807</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Distribution_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indDistPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_SF_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_AC_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0</name>
        <label>newAssociationBlank</label>
        <locationX>600</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialTempId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Send_SUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Notifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContactDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0</name>
        <label>newAssociation_001</label>
        <locationX>297</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0</name>
        <label>newAssociation_002</label>
        <locationX>50</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Ordini</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0</name>
        <label>newAssociation_002</label>
        <locationX>112</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Ordini</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Send_SUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invio_SUT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Notifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comunicazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>857</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_SOC_REF_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1956</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1466</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>realAccountId</name>
        <label>realAccountId</label>
        <locationX>411</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>choiceFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leftAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbianca</name>
        <label>sbianca</label>
        <locationX>1095</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>sbianca_0</name>
        <label>sbianca</label>
        <locationX>1590</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IDDistPointAssoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbianca_0_0</name>
        <label>sbianca</label>
        <locationX>1850</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Distribution_Point__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Crea_nuove_associazioni</name>
        <label>Crea nuove associazioni?</label>
        <locationX>2187</locationX>
        <locationY>1015</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>SI_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aggiungi_associazioni</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>deliveryNull_0</name>
        <label>deliveryNull?</label>
        <locationX>2825</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>distributionNull_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associationLoop.IT_Delivery_Site__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDelivery</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>DelSiteScelti</name>
        <label>DelSiteScelti?</label>
        <locationX>1210</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>IDDistPointAssoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OK_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDeliverySite</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>DistPointScelti</name>
        <label>DistPointScelti?</label>
        <locationX>1701</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>recordRimanenti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OK_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributionPointChoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointChoiceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDistributionPoint</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>distributionNull_0_0</name>
        <label>distributionNull?</label>
        <locationX>2940</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>getDuplicateAssociation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associationLoop.IT_Distribution_Point__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDistribution</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Found</name>
        <label>Duplicate Found?</label>
        <locationX>3319</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>addToInsertList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateAss</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignId</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>fincenterNull</name>
        <label>fincenterNull?</label>
        <locationX>2715</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>deliveryNull_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associationLoop.IT_Financial_Center__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFinCent</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti</name>
        <label>record Rimanenti?</label>
        <locationX>1114</locationX>
        <locationY>1110</locationY>
        <defaultConnector>
            <targetReference>loopAssociations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingFinCent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0</name>
        <label>record Rimanenti?</label>
        <locationX>1519</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>sbianca_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingDelSite</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0</name>
        <label>record Rimanenti?</label>
        <locationX>1838</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>sbianca_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingDistPoint</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0_0</name>
        <label>scelte?</label>
        <locationX>483</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>newAssociation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>indFinCent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Scelta_associazioni</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Something_to_Insert</name>
        <label>Something to Insert?</label>
        <locationX>2590</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Tutto_Ok_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assoToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creaAssociations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Something_to_Update</name>
        <label>Something to Update?</label>
        <locationX>2588</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Something_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assoToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAssociations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo</name>
        <label>Tipo?</label>
        <locationX>40</locationX>
        <locationY>483</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0</targetReference>
            </connector>
            <label>001</label>
        </rules>
        <rules>
            <name>X002</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>002</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0</targetReference>
            </connector>
            <label>002</label>
        </rules>
        <rules>
            <name>X005_o_007</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0_0</targetReference>
            </connector>
            <label>005 o 007</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_SOC_REF</name>
        <label>Type SOC/REF?</label>
        <locationX>360</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>assignTypeSOC_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>SOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.IT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTypeSOC</targetReference>
            </connector>
            <label>SOC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_SOC_REF_0</name>
        <label>Type SOC/REF?</label>
        <locationX>905</locationX>
        <locationY>908</locationY>
        <defaultConnector>
            <targetReference>addToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>SOC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.IT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clientCodeForSoc</targetReference>
            </connector>
            <label>SOC</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>deliveryChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Address__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialTempId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>distributionChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Address__c</displayField>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialTempId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>financialChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Circuit__c</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CeilingDelSite</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthDelSite}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CeilingDistPoint</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthDistPoint}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CeilingFinCent</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthFinCent}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>indDelSite</name>
        <dataType>String</dataType>
        <expression>LEFT({!DeliverySiteChoicesId},18)</expression>
    </formulas>
    <formulas>
        <name>indDistPoint</name>
        <dataType>String</dataType>
        <expression>LEFT({!DistributionPointChoiceId},18)</expression>
    </formulas>
    <formulas>
        <name>indFinCent</name>
        <dataType>String</dataType>
        <expression>LEFT({!FincenterChoicesId},18)</expression>
    </formulas>
    <formulas>
        <name>Invoce_FRM</name>
        <dataType>Boolean</dataType>
        <expression>{!Conferma_Fatture}</expression>
    </formulas>
    <formulas>
        <name>leftAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!accountId}, 15)</expression>
    </formulas>
    <formulas>
        <name>LengthDelSite</name>
        <dataType>Number</dataType>
        <expression>LEN({!DeliverySiteChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LengthDistPoint</name>
        <dataType>Number</dataType>
        <expression>LEN({!DeliverySiteChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LengthFinCent</name>
        <dataType>Number</dataType>
        <expression>LEN({!FincenterChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Not_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!DetailType_txt}=&quot;001&quot;,{!DetailType_txt}=&quot;002&quot;),false,{!Comunicazioni})</expression>
    </formulas>
    <formulas>
        <name>Order_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF({!DetailType_txt}=&apos;001&apos;,false,{!Conferma_Ordini})</expression>
    </formulas>
    <formulas>
        <name>RemainingDelSite</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DeliverySiteChoicesId},({!LengthDelSite}-20)))</expression>
    </formulas>
    <formulas>
        <name>RemainingDistPoint</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DistributionPointChoiceId},({!LengthDistPoint}-20)))</expression>
    </formulas>
    <formulas>
        <name>RemainingFinCent</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!FincenterChoicesId},({!LengthFinCent}-20)))</expression>
    </formulas>
    <formulas>
        <name>SUT_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!DetailType_txt}=&apos;001&apos;,{!DetailType_txt}=&apos;002&apos;),false,{!Invio_SUT})</expression>
    </formulas>
    <interviewLabel>IT_Create_Contact_Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Associazioni Referenti</label>
    <loops>
        <name>loopAssociations</name>
        <label>loopAssociations</label>
        <locationX>2584</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>associationLoop</assignNextValueToReference>
        <collectionReference>associationsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fincenterNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Something_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creaAssociations</name>
        <label>creaAssociations</label>
        <locationX>2795</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Tutto_Ok_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroreInsert</targetReference>
        </faultConnector>
        <inputReference>assoToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>294</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>realAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>492</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_SOC_REF</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactDetailRecord.IT_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContactDetail</name>
        <label>getContactDetail</label>
        <locationX>735</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Detail_Assingment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputReference>ContactDetailRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Main_Contact__c</queriedFields>
        <queriedFields>IT_Contact_Info__c</queriedFields>
        <queriedFields>IT_Apparatus_Type__c</queriedFields>
        <queriedFields>IT_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContactId</name>
        <label>getContactId</label>
        <locationX>158</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputAssignments>
            <assignToReference>DetailType_txt</assignToReference>
            <field>IT_Apparatus_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactCode</assignToReference>
            <field>IT_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>IT_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IT_ContactProgressive</assignToReference>
            <field>IT_Contact_progressive__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>1284</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliveryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDistributionPoint</name>
        <label>GetDistributionPoint</label>
        <locationX>1888</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indDistPoint</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_SF_Activity__c</queriedFields>
        <queriedFields>IT_AC_Activity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDuplicateAssociation</name>
        <label>getDuplicateAssociation</label>
        <locationX>3062</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Found</targetReference>
        </connector>
        <filters>
            <field>IT_Contact_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>associationLoop.IT_Contact_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>associationLoop.IT_Delivery_Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Distribution_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>associationLoop.IT_Distribution_Point__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>associationLoop.IT_Financial_Center__c</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Association__c</object>
        <outputReference>duplicateAss</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>795</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>ClientCode</assignToReference>
            <field>IT_Financial_Center__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FCName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateAssociations</name>
        <label>updateAssociations</label>
        <locationX>2794</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Something_to_Insert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroreUpdate</targetReference>
        </faultConnector>
        <inputReference>assoToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ErroreInsert</name>
        <label>ErroreInsert</label>
        <locationX>2790</locationX>
        <locationY>838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextUp_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(247, 10, 10);&quot;&gt;Qualcosa  andato storto durante l&apos;inserimento dei record. Contattare l&apos;amministratore.&lt;/b&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroreUpdate</name>
        <label>ErroreUpdate</label>
        <locationX>2959</locationX>
        <locationY>503</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextUp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(247, 10, 10); font-size: 16px;&quot;&gt;Qualcosa  andato storto durante l&apos;aggiornamento dei record. Contattare l&apos;amministratore.&lt;/b&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni</name>
        <label>Scelta associazioni</label>
        <locationX>410</locationX>
        <locationY>918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IDFinCenterAssoc</targetReference>
        </connector>
        <fields>
            <name>Financial_Center_SCREEN</name>
            <choiceReferences>financialChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Center</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0</name>
        <label>Scelta associazioni</label>
        <locationX>916</locationX>
        <locationY>464</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textFCName</name>
            <fieldText>&lt;p&gt;Codice: {!FCName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delivery_Site_SCREEN_0</name>
            <choiceReferences>deliveryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Distribution_Point_SCREEN_0</name>
            <choiceReferences>distributionChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attivit</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0_0</name>
        <label>Scelta associazioni</label>
        <locationX>217</locationX>
        <locationY>481</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tipo</targetReference>
        </connector>
        <fields>
            <name>Conferma_Ordini</name>
            <dataType>Boolean</dataType>
            <fieldText>Conferma Ordini</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>002</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Conferma_Fatture</name>
            <dataType>Boolean</dataType>
            <fieldText>Conferma Fatture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comunicazioni</name>
            <dataType>Boolean</dataType>
            <fieldText>Comunicazioni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invio_SUT</name>
            <dataType>Boolean</dataType>
            <fieldText>Invio SUT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tutto_Ok</name>
        <label>Tutto Ok</label>
        <locationX>2361</locationX>
        <locationY>678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>yes</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Associazioni Create Correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aggiungi_associazioni</name>
            <dataType>Boolean</dataType>
            <fieldText>Aggiungi associazioni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tutto_Ok_0</name>
        <label>Tutto Ok</label>
        <locationX>3334</locationX>
        <locationY>607</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>yes_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Associazioni Create Correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>getContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>associationLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>associationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>associationTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>assoToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>assoToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>choiceFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Detail__c</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliverySiteChoicesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailType_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionPointChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>duplicateAss</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>FCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>financialTempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FincenterChoicesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IT_ContactProgressive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
