src/flows/IT_Closing_Code.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>254</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.IT_Contract_Closing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Chiusura_Contratto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Fine_Contratto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.IT_Contract_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>03</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attendance_or_Renewal_Assignment</name>
        <label>Attendance or Renewal Assignment</label>
        <locationX>855</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.IT_Attendance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_FrequenzaScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.IT_Contract_Renewal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_RinnovoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Renewal_and_Attendance_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FC_Cancelled</name>
        <label>FC Cancelled</label>
        <locationX>870</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>FCRecord.IT_Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_FC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_Codes_Assignment</name>
        <label>ID Codes Assignment</label>
        <locationX>542</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>ID_Codes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllFC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Code_Assignment</name>
        <label>New Code Assignment</label>
        <locationX>335</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>FCRecord.IT_New_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nuovo_Codice_OrdinanteScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Code_Empty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FinancialCenter</name>
        <choiceText>{!FCRecord.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Closing_Type_061</name>
        <label>Closing Type 061?</label>
        <locationX>50</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.IT_Contract_Closing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>061</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Code</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Renewal_and_Attendance_Populated</name>
        <label>Contract Renewal and Attendance Populated?</label>
        <locationX>939</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Request_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.IT_Attendance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.IT_Contract_Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.IT_Contract_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_attendance_and_renewal</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Code_Empty</name>
        <label>New Code Empty?</label>
        <locationX>358</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>getFC_New_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.IT_New_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Code</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Code_OK</name>
        <label>New Code OK</label>
        <locationX>341</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>UpdateFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Code</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Existing</name>
        <label>Opportunity Existing</label>
        <locationX>1306</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Existing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.IT_Opportunity_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Existing</name>
        <label>Request Existing</label>
        <locationX>713</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Service_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK1</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.IT_Count_Request__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestRecord.IT_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Existing_Screen</targetReference>
            </connector>
            <label>KO1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Change</name>
        <label>Service Change</label>
        <locationX>519</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Closing_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK2</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestRecord.IT_New_Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCRecord.IT_New_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FCRecord.IT_Client_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Change_Screen</targetReference>
            </connector>
            <label>KO2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Active</name>
        <label>Status Active</label>
        <locationX>515</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>NoClosing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>In_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoClosing_0</targetReference>
            </connector>
            <label>In Definition</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AttendanceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Attendance_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChildCodes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IT_DEMO_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDda15</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>child</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosingContractType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Contract_Closing_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractRenewalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Contract_Renewal_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>IDda15</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},15)</expression>
    </formulas>
    <formulas>
        <name>IndCodes</name>
        <dataType>String</dataType>
        <expression>LEFT({!ID_Codes},18)</expression>
    </formulas>
    <interviewLabel>Closing Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closing Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllFC</name>
        <label>getAllFC</label>
        <locationX>692</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndCodes</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_New_Code__c</queriedFields>
        <queriedFields>IT_Count_Request__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>1115</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Renewal_and_Attendance_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_Contract__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ContractRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Opportunity_Code__c</queriedFields>
        <queriedFields>IT_Contract_Closing_Type__c</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>IT_No_Sign_Activation_Authorization__c</queriedFields>
        <queriedFields>IT_Contract_Sign_Date__c</queriedFields>
        <queriedFields>IT_Sign_Sending_date__c</queriedFields>
        <queriedFields>IT_Contract_Number__c</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>IT_Attendance_Type__c</queriedFields>
        <queriedFields>IT_Contract_Renewal_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC</name>
        <label>getFC</label>
        <locationX>260</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Active</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
        <queriedFields>IT_Count_Request__c</queriedFields>
        <queriedFields>IT_New_Code__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC_New_Code</name>
        <label>getFC New Code</label>
        <locationX>469</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Code_OK</targetReference>
        </connector>
        <filters>
            <field>IT_Client_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.IT_New_Code__c</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_New_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>976</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCRecord.Id</elementReference>
            </value>
        </filters>
        <object>IT_Request__c</object>
        <outputReference>RequestRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Request_Status__c</queriedFields>
        <queriedFields>IT_New_Service__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_FC</name>
        <label>Cancel FC</label>
        <locationX>1036</locationX>
        <locationY>259</locationY>
        <inputReference>FCRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContract</name>
        <label>UpdateContract</label>
        <locationX>59</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Closing_Type_061</targetReference>
        </connector>
        <inputReference>ContractRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFC</name>
        <label>UpdateFC</label>
        <locationX>198</locationX>
        <locationY>906</locationY>
        <connector>
            <targetReference>screen</targetReference>
        </connector>
        <inputReference>FCRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Closing_Contract</name>
        <label>Closing Contract</label>
        <locationX>379</locationX>
        <locationY>348</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>ClosingContract</name>
            <fieldText>&lt;p&gt;Per poter chiudere il cliente è necessario valorizzare i seguenti campi di annullamento contratto:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractNumber</name>
            <fieldText>&lt;p&gt;Numero Contratto {!ContractRecord.IT_Contract_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Chiusura_Contratto</name>
            <choiceReferences>ClosingContractType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Chiusura Contratto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartDate</name>
            <fieldText>&lt;p&gt;Data Inizio Contratto {!ContractRecord.StartDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Fine_Contratto</name>
            <dataType>Date</dataType>
            <fieldText>Data Fine Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Code_Choice</name>
        <label>Code Choice</label>
        <locationX>267</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ID_Codes_Assignment</targetReference>
        </connector>
        <fields>
            <name>Codes</name>
            <choiceReferences>FinancialCenter</choiceReferences>
            <choiceReferences>ChildCodes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Codici da chiudere</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_attendance_and_renewal</name>
        <label>Error attendance and renewal</label>
        <locationX>967</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attendance_or_Renewal_Assignment</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Il tipo rinnovo contratto e il tipo frequenza devono essere popolati!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_FrequenzaScreen</name>
            <choiceReferences>AttendanceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Frequenza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_RinnovoScreen</name>
            <choiceReferences>ContractRenewalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Rinnovo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Code</name>
        <label>New Code</label>
        <locationX>204</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Code_Assignment</targetReference>
        </connector>
        <fields>
            <name>NewCodeMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Per la tipologia di contratto &quot;FUSIONE PER INCORPORAZIONE&quot; è necessario inserire il Nuovo Codice Ordinante e deve essere attivo!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuovo_Codice_OrdinanteScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Nuovo Codice Ordinante</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoClosing</name>
        <label>NoClosing</label>
        <locationX>402</locationX>
        <locationY>113</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;E&apos; possibile chiudere solo un codice Attivo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoClosing_0</name>
        <label>NoClosing</label>
        <locationX>740</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FC_Cancelled</targetReference>
        </connector>
        <fields>
            <name>Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 10, 10);&quot;&gt;Stai per cancellare un cliente in definizione, premere &apos;Avanti &apos;per continuare.&lt;/b&gt;&lt;b style=&quot;color: rgb(250, 0, 16);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Existing_Screen</name>
        <label>Opportunity Existing Screen</label>
        <locationX>1316</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Impossibile chiudere il codice: per il cliente selezionato è stata censita un&apos;opportunità, per cui non sarà possibile procedere con la chiusura finché questa non verrà caricata in anagrafica!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Existing_Screen</name>
        <label>Request Existing Screen</label>
        <locationX>722</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;Impossibile chiudere il cliente: sono in corso delle richieste di cambio condizioni/cambio prodotto non ancora evase!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>66</locationX>
        <locationY>907</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Closed</name>
            <fieldText>&lt;p&gt;Cliente chiuso correttamente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Change_Screen</name>
        <label>Service Change Screen</label>
        <locationX>531</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ServiceChange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Per il cliente selezionato, è stata richiesta la modifica del prodotto: verificare che non sia stato generato il nuovo cliente ma che lo stato sia ancora IN DEFINIZIONE!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>getFC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>child</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>FCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>ID_Codes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Request__c</objectType>
    </variables>
</Flow>
