src/flows/IT_Contract_Activation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assegna_Dettaglio_in_Fattura</name>
        <label>Assegna Dettaglio in Fattura</label>
        <locationX>592</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Invoice_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dettaglio_in_FatturaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Detail_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date</name>
        <label>Assignment Date</label>
        <locationX>1735</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Expiration_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Scadenza_ContrattoScreen1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Firma_ContrattoScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Sign_Date1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_1</name>
        <label>Assignment Date 1</label>
        <locationX>1950</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Firma_ContrattoScreen3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Sign_Date1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Renewal</name>
        <label>Assignment Renewal</label>
        <locationX>2161</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Renewal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Renewal_TypeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Renewal_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Type</name>
        <label>Assignment Type</label>
        <locationX>2394</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_TypeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commission_Percentage_Assignment</name>
        <label>Commission Percentage Assignment</label>
        <locationX>3589</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Commission_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percentuale_CommissioneScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commission_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commission_Type_Assignment</name>
        <label>Commission Type Assignment</label>
        <locationX>3533</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Commission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_CommissioneScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commission_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Type_Assignment</name>
        <label>Contract Type Assignment</label>
        <locationX>4465</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_ContrattoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Type_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cost_or_Reason_Assignment</name>
        <label>Cost or Reason Assignment</label>
        <locationX>3289</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_No_Cost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivazione_Assenza_SpeseScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Percentage_Assignment_0</name>
        <label>Discount Percentage Assignment</label>
        <locationX>3851</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Discount_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percentuale_ScontoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Type_Assignment</name>
        <label>Discount Type Assignment</label>
        <locationX>3821</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Discount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_ScontoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_Due_Date</name>
        <label>Error Assignment Due Date</label>
        <locationX>828</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Expiration_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Scadenza_ContrattoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_Due_Date_0</name>
        <label>Error Assignment Due Date</label>
        <locationX>1082</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Expiration_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Inizio_Contratto1Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractVar.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Inizio_Contratto1Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_Due_Date_0_0</name>
        <label>Error Assignment Due Date</label>
        <locationX>1242</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Expiration_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Scadenza_ContrattoScreen2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_No_Firm</name>
        <label>Error Assignment No Firm</label>
        <locationX>1509</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Contract_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Firma_ContrattoScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractVar.IT_No_Sign_Activation_Authorization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autorizzazione_Attivazione_senza_FirmaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Sign_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Errors_Assignment_Invoice_Detail</name>
        <label>Errors Assignment Invoice Detail</label>
        <locationX>315</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Invoice_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dettaglio_in_FatturaScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_cost_reason_assignment</name>
        <label>No cost reason assignment</label>
        <locationX>4831</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_No_Cost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_Assenza_SpeseScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>no_reason_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Std_VAT_Assignment</name>
        <label>Not Std VAT Assignment</label>
        <locationX>2594</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Not_Standard_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Stamp_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Assignment</name>
        <label>Stamp Assignment</label>
        <locationX>2829</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Stamp_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spese_BolloScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Assignment_0</name>
        <label>Stamp Assignment</label>
        <locationX>3066</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContractVar.IT_Stamp_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spese_BolloScreen_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Commission_Percentage</name>
        <label>Commission Percentage</label>
        <locationX>3633</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Discount_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO12</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Percentage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Type_and_Percentage_Error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commission_Percentage_0</name>
        <label>Commission Percentage</label>
        <locationX>3635</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Discount_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO12_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Percentage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Type_and_Percentage_Error_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commission_Type</name>
        <label>Commission Type</label>
        <locationX>3637</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Discount_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO11</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Percentage</targetReference>
            </connector>
            <label>KO</label>
        </rules>
        <rules>
            <name>KO13</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Commission_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Percentage_0</targetReference>
            </connector>
            <label>KO1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Renewal_Type</name>
        <label>Contract Renewal Type</label>
        <locationX>2079</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Service_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Renewal_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Renewal_Type1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Sign_Date</name>
        <label>Contract Sign Date</label>
        <locationX>1399</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Contract_Sign_Date1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Sign_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forcing_Activation</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Sign_Date1</name>
        <label>Contract Sign Date</label>
        <locationX>1771</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Contract_Renewal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Sign_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContractVar.IT_Expiration_Contract_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Firma_Data_Scadenza</targetReference>
            </connector>
            <label>KO</label>
        </rules>
        <rules>
            <name>KO4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Sign_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Firma_Data_Odierna</targetReference>
            </connector>
            <label>KO2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Type</name>
        <label>Contract Type</label>
        <locationX>2339</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Not_Std_VAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Type2</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Type_01</name>
        <label>Contract Type 01</label>
        <locationX>4379</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Service_no_reason_07</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Contract_type1</targetReference>
            </connector>
            <label>01</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Type_no_03</name>
        <label>Contract Type no 03</label>
        <locationX>4738</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>03</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_reason_07</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Percentage</name>
        <label>Discount Percentage</label>
        <locationX>3931</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Service_Line_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO12_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Type_and_Percentage_Error_0_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Percentage1</name>
        <label>Discount Percentage</label>
        <locationX>3941</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>Service_Line_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO12_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Percentage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Type_and_Percentage_Error_0_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Type</name>
        <label>Discount Type</label>
        <locationX>3931</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Service_Line_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO11_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Percentage</targetReference>
            </connector>
            <label>KO</label>
        </rules>
        <rules>
            <name>KO13_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Discount_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Percentage1</targetReference>
            </connector>
            <label>KO1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Date</name>
        <label>Due Date</label>
        <locationX>979</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Service_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Expiration_Contract_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Scadenza_Contratto</targetReference>
            </connector>
            <label>KO</label>
        </rules>
        <rules>
            <name>KO_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Expiration_Contract_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ContractVar.StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Inizio_Contratto</targetReference>
            </connector>
            <label>KO 2</label>
        </rules>
        <rules>
            <name>KO_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Expiration_Contract_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Odierna</targetReference>
            </connector>
            <label>KO 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forcing_Activation</name>
        <label>Forcing Activation</label>
        <locationX>1401</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>Contratto_non_Firmato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_No_Sign_Activation_Authorization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Sign_Date1</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Detail</name>
        <label>Invoice Detail</label>
        <locationX>279</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Dettaglio_in_Fattura1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK_Detail</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Invoice_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Invoice_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Invoice_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Detail_Existing</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Detail_Existing</name>
        <label>Invoice Detail Existing</label>
        <locationX>516</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Dettaglio_in_fattura_nullo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Invoice_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_Date</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_reason</name>
        <label>No reason</label>
        <locationX>3186</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Commission_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_No_Cost_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_No_Cost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Cost_Error</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_reason_07</name>
        <label>no reason 07</label>
        <locationX>4733</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X07</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_No_Cost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_no_cost_reason</targetReference>
            </connector>
            <label>07</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Std_VAT</name>
        <label>Not Std VAT</label>
        <locationX>2587</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Service_Stamp_Expense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK11</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Std_VAT_Assignment</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_2</name>
        <label>Service 2</label>
        <locationX>1389</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Contract_Sign_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK4</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Sign_Date1</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_3</name>
        <label>Service 3</label>
        <locationX>2338</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Not_Std_VAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO6</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Type</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Line_Type</name>
        <label>Service Line Type</label>
        <locationX>4379</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Service_no_reason_07</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Line3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Type_01</targetReference>
            </connector>
            <label>Line 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_no_reason_07</name>
        <label>Service no reason 07</label>
        <locationX>4736</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Service_no_reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Type_no_03</targetReference>
            </connector>
            <label>Service no reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Stamp_Expense</name>
        <label>Service Stamp Expense</label>
        <locationX>2782</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Stamp_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK12</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Expense</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servicesplit</name>
        <label>Service</label>
        <locationX>412</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Invoice_Detail_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Detail</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stamp</name>
        <label>Stamp</label>
        <locationX>2941</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Transport_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Stamp_Expense__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Expense1_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stamp_Expense</name>
        <label>Stamp Expense</label>
        <locationX>2782</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Stamp_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Stamp_Expense__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Expense1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stamp_True</name>
        <label>Stamp True</label>
        <locationX>2941</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Transport_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>OK13</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterVar.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Cost</name>
        <label>Transport Cost</label>
        <locationX>3183</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Commission_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContractVar.IT_Transport_Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractVar.IT_Transport_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_reason</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CommissionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Commission_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_Type1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Contract_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractRenewalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Contract_Renewal_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiscountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Discount_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoiceDetail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Invoice_Detail__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NoCostReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_No_Cost_Reason__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Service__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransportCost</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Transport_Cost__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IT Contract Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Contract Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>795</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterVar.IT_Contract__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ContractVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Contract_Number__c</queriedFields>
        <queriedFields>IT_Contract_Type__c</queriedFields>
        <queriedFields>IT_Contract_Duration__c</queriedFields>
        <queriedFields>IT_Contract_Renewal_Type__c</queriedFields>
        <queriedFields>IT_Sign_Sending_date__c</queriedFields>
        <queriedFields>IT_Accepts_Privacy__c</queriedFields>
        <queriedFields>IT_Commercial__c</queriedFields>
        <queriedFields>IT_Contract_Status__c</queriedFields>
        <queriedFields>IT_Expiration_Contract_Date__c</queriedFields>
        <queriedFields>IT_Contract_Sign_Date__c</queriedFields>
        <queriedFields>IT_Supply_Conditions__c</queriedFields>
        <queriedFields>IT_Only_Client_Copy__c</queriedFields>
        <queriedFields>IT_No_Exclusivity__c</queriedFields>
        <queriedFields>IT_Waiting_for_SEPA__c</queriedFields>
        <queriedFields>IT_No_Massive_Print__c</queriedFields>
        <queriedFields>IT_No_Sign_Activation_Authorization__c</queriedFields>
        <queriedFields>IT_Delivery_Date_Bond__c</queriedFields>
        <queriedFields>IT_Delivery_Term__c</queriedFields>
        <queriedFields>IT_Delivery_Fixed_Day__c</queriedFields>
        <queriedFields>IT_Order_Reception_Term__c</queriedFields>
        <queriedFields>IT_Penal_Presence__c</queriedFields>
        <queriedFields>IT_Term_Type__c</queriedFields>
        <queriedFields>IT_Fixed_Day_Type__c</queriedFields>
        <queriedFields>IT_Order_Reception_Term_Type__c</queriedFields>
        <queriedFields>IT_Document_Type__c</queriedFields>
        <queriedFields>IT_Registration_Date__c</queriedFields>
        <queriedFields>IT_Barcode__c</queriedFields>
        <queriedFields>IT_Scan_Date__c</queriedFields>
        <queriedFields>IT_Discount_Type__c</queriedFields>
        <queriedFields>IT_Commission_Type__c</queriedFields>
        <queriedFields>IT_No_Cost_Reason__c</queriedFields>
        <queriedFields>IT_Debt_Notes__c</queriedFields>
        <queriedFields>IT_Debt_Notes_Percentage__c</queriedFields>
        <queriedFields>IT_Debt_Notes_Effective_Date__c</queriedFields>
        <queriedFields>IT_Debt_Notes_Locale_Type__c</queriedFields>
        <queriedFields>IT_Fine_Interest_type__c</queriedFields>
        <queriedFields>IT_Invoice_Detail__c</queriedFields>
        <queriedFields>IT_Promo_Code__c</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>IT_Not_Standard_VAT__c</queriedFields>
        <queriedFields>IT_Stamp_Expense__c</queriedFields>
        <queriedFields>IT_Transport_Cost__c</queriedFields>
        <queriedFields>IT_Discount_Percentage__c</queriedFields>
        <queriedFields>IT_Commission_Percentage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Financial_Center</name>
        <label>Get From Financial Center</label>
        <locationX>659</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Contract__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Commission_Type_and_Percentage_Error</name>
        <label>Commission Type and Percentage Error</label>
        <locationX>3634</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Commission_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>CommissionError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Percentuale Commissione impostata,  necessario specificarne la tipologia!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_CommissioneScreen</name>
            <choiceReferences>CommissionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Commissione</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Commission_Type_and_Percentage_Error_0</name>
        <label>Commission Type and Percentage Error</label>
        <locationX>3713</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Commission_Percentage_Assignment</targetReference>
        </connector>
        <fields>
            <name>CommissionError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Tipologia Commissione impostata,  necessario specificarne la percentuale&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Percentuale_CommissioneScreen</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Commission_Percentage__c</elementReference>
            </defaultValue>
            <fieldText>Percentuale Commissione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Commission_Type_and_Percentage_Error_0_0</name>
        <label>Commission Type and Percentage Error</label>
        <locationX>3964</locationX>
        <locationY>899</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Discount_Percentage_Assignment_0</targetReference>
        </connector>
        <fields>
            <name>DiscountError_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Tipologia Sconto impostata,  necessario specificarne la percentuale&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Percentuale_ScontoScreen</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Discount_Percentage__c</elementReference>
            </defaultValue>
            <fieldText>Percentuale Sconto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Renewal_Type1</name>
        <label>Contract Renewal Type</label>
        <locationX>2031</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Renewal</targetReference>
        </connector>
        <fields>
            <name>Error_Contract_Renewal_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Contratto: verificare che il rinnovo del cliente sia stato valorizzato sulla videata del contratto!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Renewal_TypeScreen</name>
            <choiceReferences>ContractRenewalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Renewal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Type2</name>
        <label>Contract Type</label>
        <locationX>2270</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Type</targetReference>
        </connector>
        <fields>
            <name>Error_Contract_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Per servizi di tipo WELFARE - FLEXBENEFIT l&apos;unico tipo di contratto ammesso : WELFARE!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_TypeScreen</name>
            <choiceReferences>Contract_Type1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contratto_non_Firmato</name>
        <label>Contratto non Firmato</label>
        <locationX>1368</locationX>
        <locationY>798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Assignment_No_Firm</targetReference>
        </connector>
        <fields>
            <name>Errore_Firma_Contratto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Il contratto non  stato firmato: Impossibile attivare il cliente!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Firma_ContrattoScreen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Contract_Sign_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Firma Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Autorizzazione_Attivazione_senza_FirmaScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_No_Sign_Activation_Authorization__c</elementReference>
            </defaultValue>
            <fieldText>Autorizzazione Attivazione senza Firma</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Firma_Data_Odierna</name>
        <label>Data Firma Data Odierna</label>
        <locationX>1857</locationX>
        <locationY>719</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Date_1</targetReference>
        </connector>
        <fields>
            <name>Error_Data_Firma_Odierna</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Contratto: data firma maggiore alla data odierna!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Firma_ContrattoScreen3</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Contract_Sign_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Firma Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Firma_Data_Scadenza</name>
        <label>Data Firma Data Scadenza</label>
        <locationX>1642</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Date</targetReference>
        </connector>
        <fields>
            <name>Errore_data_firma_scadenza</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Contratto: data firma maggiore alla data scadenza!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Firma_ContrattoScreen1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Contract_Sign_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Firma Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Scadenza_ContrattoScreen1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Expiration_Contract_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Scadenza Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Inizio_Contratto</name>
        <label>Data Inizio Contratto</label>
        <locationX>932</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Assignment_Due_Date_0</targetReference>
        </connector>
        <fields>
            <name>Errore_Data_Inizio_Contratto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Contratto: data scadenza minore alla data inizio contratto!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Inizio_Contratto1Screen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.StartDate</elementReference>
            </defaultValue>
            <fieldText>Data Inizio Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Scadenza_Contratto1Screen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Expiration_Contract_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Scadenza Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Odierna</name>
        <label>Data Odierna</label>
        <locationX>1132</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Assignment_Due_Date_0_0</targetReference>
        </connector>
        <fields>
            <name>Errore_Data_odierna</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial;&quot;&gt;Contratto: data scadenza minore alla data odierna!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Scadenza_ContrattoScreen2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Expiration_Contract_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Scadenza Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Scadenza_Contratto</name>
        <label>Data Scadenza Contratto</label>
        <locationX>723</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Assignment_Due_Date</targetReference>
        </connector>
        <fields>
            <name>Errore_Data_Scadenza</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Cliente senza data scadenza contratto: Obbligatorio inserire la data!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Scadenza_ContrattoScreen</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Expiration_Contract_Date__c</elementReference>
            </defaultValue>
            <fieldText>Data Scadenza Contratto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dettaglio_in_Fattura1</name>
        <label>Dettaglio in Fattura</label>
        <locationX>180</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Errors_Assignment_Invoice_Detail</targetReference>
        </connector>
        <fields>
            <name>Errore_Dettaglio_Fattura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(250, 4, 4);&quot;&gt;- Per il servizio associato al cliente  possibile gestire solo i dettagli fattura SENZA TAGLIO!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dettaglio_in_FatturaScreen1</name>
            <choiceReferences>InvoiceDetail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dettaglio in Fattura</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dettaglio_in_fattura_nullo</name>
        <label>Dettaglio in fattura nullo</label>
        <locationX>451</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Dettaglio_in_Fattura</targetReference>
        </connector>
        <fields>
            <name>Errore_dettaglio_in_fattura_nullo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Manca il taglio generico!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dettaglio_in_FatturaScreen</name>
            <choiceReferences>InvoiceDetail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dettaglio in Fattura</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Discount_Type_and_Percentage_Error_0_0</name>
        <label>Discount Type and Percentage Error</label>
        <locationX>3947</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Discount_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>CommissionError_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Percentuale Sconto impostata,  necessario specificarne la tipologia!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_ScontoScreen</name>
            <choiceReferences>DiscountType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Sconto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Contract_type1</name>
        <label>Error Contract type</label>
        <locationX>4308</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contract_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>ContractType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Tipo contratto non ammesso per questo servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_ContrattoScreen</name>
            <choiceReferences>Contract_Type1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Contratto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_no_cost_reason</name>
        <label>error no cost reason</label>
        <locationX>4673</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_cost_reason_assignment</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Il motivo di assenza spese NUOVI PRODOTTI non  valido per il servizio scelto!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo_Assenza_SpeseScreen</name>
            <choiceReferences>NoCostReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo Assenza Spese</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stamp_Expense1</name>
        <label>Stamp Expense</label>
        <locationX>2694</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Assignment</targetReference>
        </connector>
        <fields>
            <name>StampError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Le spese bollo non devono essere impostate per questo tipo di servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spese_BolloScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Stamp_Expense__c</elementReference>
            </defaultValue>
            <fieldText>Spese Bollo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stamp_Expense1_0</name>
        <label>Stamp Expense</label>
        <locationX>2949</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Assignment_0</targetReference>
        </connector>
        <fields>
            <name>StampError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- Le spese bollo devono essere impostate per questo tipo di servizio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spese_BolloScreen_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ContractVar.IT_Stamp_Expense__c</elementReference>
            </defaultValue>
            <fieldText>Spese Bollo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transport_Cost_Error</name>
        <label>Transport Cost Error</label>
        <locationX>3187</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cost_or_Reason_Assignment</targetReference>
        </connector>
        <fields>
            <name>Transport_Reason_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Le spese di trasporto sono obbligatorie, se non esistono definire la motivazione!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivazione_Assenza_SpeseScreen</name>
            <choiceReferences>NoCostReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivazione Assenza Spese</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Servicesplit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
