src/flows/IT_Case_Level_And_Team_Assigment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>IT19_Update_Team_opening_case</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>IT_UPDATE_TEAM_OPENING_TEAM</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>IT19_Update_Team_opening_case</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>IT19_Update_Team_opening_case</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>IT_Team_Closing_Case</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <actionName>IT19_Update_Team_opening_case</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>isChangedDecision5_myRule_4_Status</name>
        <label>isChangedDecision5_myRule_4_Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_5_myRule_4_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_5_myRule_4_Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Team apertura caso</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_5_myRule_4_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Team closing case</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId,&quot;005&quot;),
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Front&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;FRONT&quot;)),&quot;FRONT OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Back&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;BACK&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Provisioning&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;PROVISIONING&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))), 
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;FRONT&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Front&quot;)),&quot;FRONT OFFICE&quot;, 
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;BACK&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Back&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;PROVISIONING&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Provisioning&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0688096457</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId},&quot;005&quot;),
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Front&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;FRONT&quot;)),&quot;FRONT OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Back&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;BACK&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Provisioning&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;PROVISIONING&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))), 
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;FRONT&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Front&quot;)),&quot;FRONT OFFICE&quot;, 
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;BACK&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Back&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;PROVISIONING&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Provisioning&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId,&quot;005&quot;),
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Front&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;FRONT&quot;)),&quot;FRONT OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Back&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;BACK&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:User.Profile.Name,&quot;Provisioning&quot;),CONTAINS([Case].Owner:User.Profile.Name,&quot;PROVISIONING&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))), 
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;FRONT&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Front&quot;)),&quot;FRONT OFFICE&quot;, 
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;BACK&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Back&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS([Case].Owner:Queue.Name, &quot;PROVISIONING&quot;),CONTAINS([Case].Owner:Queue.Name, &quot;Provisioning&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_4_A1_9529115632</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId},&quot;005&quot;),
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Front&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;FRONT&quot;)),&quot;FRONT OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Back&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;BACK&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;Provisioning&quot;),CONTAINS({!myVariable_current.Owner:User.Profile.Name},&quot;PROVISIONING&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))), 
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;FRONT&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Front&quot;)),&quot;FRONT OFFICE&quot;, 
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;BACK&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Back&quot;)),&quot;BACK OFFICE&quot;,
IF(OR(CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;PROVISIONING&quot;),CONTAINS({!myVariable_current.Owner:Queue.Name}, &quot;Provisioning&quot;)),&quot;PROVISIONING&quot;,&quot;&quot;))
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>IT_Case_Level_And_Team_Assigment-3_InterviewLabel</interviewLabel>
    <label>IT_Case_Level And Team Assigment</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>IT_Update_Level_Opening_Case</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Livello apertura caso</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>IT_Level_Opening_Case__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0688096457</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>IT_Update_Level_Closing_Case</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Livello chiusura caso</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>IT_Level_Closing_Case__c</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_9529115632</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>isChangedDecision5_myRule_4_Status</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
