src/flows/IT_Delivery_Site_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assign_hamlet_code</name>
        <label>assign hamlet code</label>
        <locationX>1214</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000000000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMMsi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_hamlet_code_0</name>
        <label>assign hamlet code</label>
        <locationX>2267</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>getOtherDeliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Matched_Delivery</name>
        <label>assign Matched Delivery</label>
        <locationX>2238</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Matched_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedDeliveryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOtherDeliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAMM</name>
        <label>assignAMM</label>
        <locationX>1078</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEDE AMMINISTRATIVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Ticket_Naming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEDE AMMINISTRATIVA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Site_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChoice</name>
        <label>AssignChoice</label>
        <locationX>825</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>DeliveryChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aggiorna_Consegna_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCOUNT</name>
        <label>assignCOUNT</label>
        <locationX>694</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>NUMdelivery</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>countDeliverySite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Delivery_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeliveryAC</name>
        <label>assignDeliveryAC</label>
        <locationX>1941</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>testmatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Altra_Consegna</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignDeliveryAC_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeliveryAC_0</name>
        <label>assignDeliveryAC</label>
        <locationX>2120</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Matched_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberDeliveryAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOtherDeliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFCId</name>
        <label>assignFCId</label>
        <locationX>492</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>FCId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCId15</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future_variations_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFCProvince</name>
        <label>assignFCProvince</label>
        <locationX>886</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_State_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_State_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCountDeliverySite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNOMINATIVO</name>
        <label>assignNOMINATIVO</label>
        <locationX>1214</locationX>
        <locationY>970</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NominativoScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Ticket_Naming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NominativoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Site_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPass</name>
        <label>assignToPass</label>
        <locationX>2680</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>insertedDelSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordDeliveryInsert</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Branch_Assignment</name>
        <label>Branch Assignment</label>
        <locationX>1618</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filiale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Delivery_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Site_Field_Assignment</name>
        <label>Delivery Site Field Assignment</label>
        <locationX>1233</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Delivery_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modalit_di_ConsegnaScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.ER_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.ER_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Assignment</name>
        <label>Id Assignment</label>
        <locationX>2958</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>DistributionRecord.ER_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordDeliveryInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delivery_on_Distribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Assignment</name>
        <label>Other Assignment</label>
        <locationX>1770</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0011</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Other_Assignment_0</name>
        <label>Other Assignment</label>
        <locationX>1770</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0017</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Vector_Changed_Assignment</name>
        <label>Vector Changed Assignment</label>
        <locationX>1940</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forzatura_VettoreScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hamlet_empty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0001</name>
        <label>Vehicle 0001</label>
        <locationX>1543</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0023</name>
        <label>Vehicle 0023</label>
        <locationX>1612</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0023</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0031</name>
        <label>Vehicle 0031</label>
        <locationX>1542</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0031</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0032</name>
        <label>Vehicle 0032</label>
        <locationX>1469</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0032</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_0033</name>
        <label>Vehicle 0033</label>
        <locationX>1610</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0033</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Assignment</name>
        <label>Vehicle Assignment</label>
        <locationX>1752</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMatchedDelivery</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultChoice</name>
        <choiceText>Selezionare una consegna esistente...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Esposito</name>
        <choiceText>ESPOSITO MARIO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TicketService</name>
        <choiceText>SERVIZI TICKET</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Withdraw</name>
        <choiceText>RITIRO DA PARTE DEL CLIENTE</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Active_Client</name>
        <label>Active Client?</label>
        <locationX>646</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_or_Creation</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>AMMsi</name>
        <label>AMMsi</label>
        <locationX>1074</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>assignNOMINATIVO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NUMdelivery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAMM</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Vector</name>
        <label>Changed Vector?</label>
        <locationX>2045</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>hamlet_empty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vector_Changed_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>936</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Create_or_Update_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CREA_CONSEGNA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFCProvince</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_0</name>
        <label>Default?</label>
        <locationX>1043</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aggiorna_Consegna_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_or_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>deliveriesPresent</name>
        <label>deliveriesPresent?</label>
        <locationX>1524</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>NoDeliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRESENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deliveryCHECKRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Address</targetReference>
            </connector>
            <label>PRESENT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Type</name>
        <label>Delivery Type</label>
        <locationX>1341</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>getAllDeliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Courier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Vehicle</targetReference>
            </connector>
            <label>Courier</label>
        </rules>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BranchChoice</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_variations_existing</name>
        <label>Future variations existing?</label>
        <locationX>559</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Active_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Existing</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_Economic_Conditions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_FC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Future_Change_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorVariations</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>hamlet_empty</name>
        <label>hamlet empty?</label>
        <locationX>986</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>AMMsi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Hamlet_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Hamlet_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_hamlet_code</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>hamlet_empty_0</name>
        <label>hamlet empty?</label>
        <locationX>2051</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>getOtherDeliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Hamlet_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00000000000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_hamlet_code_0</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Control_Populated</name>
        <label>Payment Control Populated?</label>
        <locationX>1510</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Vehicle_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CourierScreen</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Control_Populated_0</name>
        <label>Payment Control Populated?</label>
        <locationX>1734</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>errorscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordDeliveryInsert.IT_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CourierScreen</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Vehicle</name>
        <label>Service/Vehicle</label>
        <locationX>1359</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_for_Vehicle_0032</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0032</targetReference>
            </connector>
            <label>Service for Vehicle 0032</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0031</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0031</targetReference>
            </connector>
            <label>Service for Vehicle 0031</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0033</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0033</targetReference>
            </connector>
            <label>Service for Vehicle 0033</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0023</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryRecord.IT_Region_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0023</targetReference>
            </connector>
            <label>Service for Vehicle 0023</label>
        </rules>
        <rules>
            <name>Service_for_Vehicle_0001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenterRecord.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliveryRecord.IT_Region_code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>38000000004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_0001</targetReference>
            </connector>
            <label>Service for Vehicle 0001</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Branch</name>
        <label>Vehicle/Branch</label>
        <locationX>1320</locationX>
        <locationY>1162</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RomeVehicle</targetReference>
            </connector>
            <label>Rome</label>
        </rules>
        <rules>
            <name>Naples</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>52</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NaplesVehicle</targetReference>
            </connector>
            <label>Naples</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Selected</name>
        <label>Vehicle Selected</label>
        <locationX>1639</locationX>
        <locationY>1078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0011</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TicketService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Assignment</targetReference>
            </connector>
            <label>0011</label>
        </rules>
        <rules>
            <name>withdraw1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdraw</elementReference>
                </rightValue>
            </conditions>
            <label>withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Selected_0</name>
        <label>Vehicle Selected</label>
        <locationX>1646</locationX>
        <locationY>1238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0017</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Esposito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Assignment_0</targetReference>
            </connector>
            <label>0017</label>
        </rules>
        <rules>
            <name>withdraw2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VettoriScreen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdraw</elementReference>
                </rightValue>
            </conditions>
            <label>withdraw</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>allDeliveries</name>
        <dataType>String</dataType>
        <displayField>IT_Client_Delivery_Code_Name__c</displayField>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_Delivery_AC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_State_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Street_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_Street_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Validity_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>IT_Delivery_AC__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BranchChoicePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Branch__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsegnaChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Delivery_AC_and_Name__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Validity_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Service__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ActivityNameFRM</name>
        <dataType>String</dataType>
        <expression>IF({!NUMdelivery} = 0, &quot;SEDE AMMINISTRATIVA&quot;, &quot;SEDE CONSEGNA&quot;)</expression>
    </formulas>
    <formulas>
        <name>FCId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!FinancialCenterRecord.Id} , 15)</expression>
    </formulas>
    <formulas>
        <name>MatchedDeliveryNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!MatchedDeliveryCode})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberDeliveryAC</name>
        <dataType>Number</dataType>
        <expression>VALUE({!testmatch})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Vehicle_Picklist_Value</name>
        <dataType>String</dataType>
        <expression>CASE({!VettoreScreen},
&quot;0032&quot;,&quot;GLS&quot;,
&quot;0001&quot;,&quot;DHL&quot;,
&quot;0002&quot;,&quot;TAKE AGENZIA&quot;,
&quot;0003&quot;,&quot;WILLY EXPRESS LOMBARDIA&quot;,
&quot;0006&quot;,&quot;RDS&quot;,
&quot;0007&quot;,&quot;SECURPOL&quot;,
&quot;0008&quot;,&quot;TAKE LOMBARDIA&quot;,
&quot;0009&quot;,&quot;LINEA EXPRESS&quot;,
&quot;0010&quot;,&quot;WILLY EXPRESS AGENZIA&quot;,
&quot;0011&quot;,&quot;SERVIZI TICKET&quot;,
&quot;0012&quot;,&quot;POSTE ITALIANE&quot;,
&quot;0015&quot;,&quot;TNT GLOBAL EXPRESS&quot;,
&quot;0017&quot;,&quot;ESPOSITO MARIO&quot;,
&quot;0018&quot;,&quot;MOTOTAXI SDA&quot;,
&quot;0019&quot;,&quot;PLICHI &amp; BUSTE&quot;,
&quot;0020&quot;,&quot;RITIRO DA PARTE DEL CLIENTE&quot;,
&quot;0021&quot;,&quot;DUIMEX&quot;,
&quot;0022&quot;,&quot;SEND ITALIA&quot;,
&quot;0023&quot;,&quot;DHL LOMBARDIA&quot;,
&quot;0024&quot;,&quot;DHL LOMBARDIA CONTESTUALE&quot;,
&quot;0025&quot;,&quot;ATTESA PAGAMENTO&quot;,
&quot;0026&quot;,&quot;DHL P.A.&quot;,
&quot;0027&quot;,&quot;PPTT - POSTE ITALIANE&quot;,
&quot;0028&quot;,&quot;TNT - TRAFFICO B2C&quot;,
&quot;0029&quot;,&quot;DHL - CONCILIAZIONE&quot;,
&quot;0031&quot;,&quot;VETTORE ESTERNO&quot;,
&quot;0033&quot;,&quot;PRT-DHL&quot;,
&quot;0034&quot;,&quot;PRT-TNT GLOBAL EXPRESS&quot;,
&quot;0035&quot;,&quot;PRT-TNT - TRAFFICO B2C&quot;,
&quot;0036&quot;,&quot;PRT-DHL LOMBARDIA&quot;,
&quot;0037&quot;,&quot;PRT-GLS&quot;,
&quot;0038&quot;,&quot;PRT-SECURPOL&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>Vehicle_Record_Value</name>
        <dataType>String</dataType>
        <expression>CASE({!recordDeliveryInsert.IT_Vehicle__c},
&quot;0032&quot;,&quot;GLS&quot;,
&quot;0001&quot;,&quot;DHL&quot;,
&quot;0002&quot;,&quot;TAKE AGENZIA&quot;,
&quot;0003&quot;,&quot;WILLY EXPRESS LOMBARDIA&quot;,
&quot;0006&quot;,&quot;RDS&quot;,
&quot;0007&quot;,&quot;SECURPOL&quot;,
&quot;0008&quot;,&quot;TAKE LOMBARDIA&quot;,
&quot;0009&quot;,&quot;LINEA EXPRESS&quot;,
&quot;0010&quot;,&quot;WILLY EXPRESS AGENZIA&quot;,
&quot;0011&quot;,&quot;SERVIZI TICKET&quot;,
&quot;0012&quot;,&quot;POSTE ITALIANE&quot;,
&quot;0015&quot;,&quot;TNT GLOBAL EXPRESS&quot;,
&quot;0017&quot;,&quot;ESPOSITO MARIO&quot;,
&quot;0018&quot;,&quot;MOTOTAXI SDA&quot;,
&quot;0019&quot;,&quot;PLICHI &amp; BUSTE&quot;,
&quot;0020&quot;,&quot;RITIRO DA PARTE DEL CLIENTE&quot;,
&quot;0021&quot;,&quot;DUIMEX&quot;,
&quot;0022&quot;,&quot;SEND ITALIA&quot;,
&quot;0023&quot;,&quot;DHL LOMBARDIA&quot;,
&quot;0024&quot;,&quot;DHL LOMBARDIA CONTESTUALE&quot;,
&quot;0025&quot;,&quot;ATTESA PAGAMENTO&quot;,
&quot;0026&quot;,&quot;DHL P.A.&quot;,
&quot;0027&quot;,&quot;PPTT - POSTE ITALIANE&quot;,
&quot;0028&quot;,&quot;TNT - TRAFFICO B2C&quot;,
&quot;0029&quot;,&quot;DHL - CONCILIAZIONE&quot;,
&quot;0031&quot;,&quot;VETTORE ESTERNO&quot;,
&quot;0033&quot;,&quot;PRT-DHL&quot;,
&quot;0034&quot;,&quot;PRT-TNT GLOBAL EXPRESS&quot;,
&quot;0035&quot;,&quot;PRT-TNT - TRAFFICO B2C&quot;,
&quot;0036&quot;,&quot;PRT-DHL LOMBARDIA&quot;,
&quot;0037&quot;,&quot;PRT-GLS&quot;,
&quot;0038&quot;,&quot;PRT-SECURPOL&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>IT Delivery Site Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Delivery Site Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Delivery_Site</name>
        <label>Insert Delivery Site</label>
        <locationX>2541</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>assignToPass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandledError</targetReference>
        </faultConnector>
        <inputReference>recordDeliveryInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get</name>
        <label>getDeliverySiteForUpdate</label>
        <locationX>941</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryChoiceId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>insertedDelSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Vehicle</name>
        <label>Get Default Vehicle</label>
        <locationX>1416</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Control_Populated</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Hamlet_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_Hamlet_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Payment_Term__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.ER_Zip_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Provider_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>ControlRecord</assignToReference>
            <field>IT_Payment_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <field>IT_Vehicle_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Vehicle_0</name>
        <label>Get Default Vehicle</label>
        <locationX>1626</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Control_Populated_0</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Hamlet_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_Hamlet_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.ER_Zip_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Provider_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>recordDeliveryInsert.IT_Vehicle__c</assignToReference>
            <field>IT_Vehicle_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAllDeliveries</name>
        <label>getAllDeliveries</label>
        <locationX>1476</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deliveriesPresent</targetReference>
        </connector>
        <filters>
            <field>IT_City_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_City_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_State_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Street_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordDeliveryInsert.IT_Street_Code__c</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>deliveryCHECKRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCountDeliverySite</name>
        <label>getCountDeliverySite</label>
        <locationX>696</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCOUNT</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterRecord.Id</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>countDeliverySite</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>366</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionRecord.ER_Delivery_Site__c</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliveryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Validity_Start_Date__c</queriedFields>
        <queriedFields>IT_Forcing__c</queriedFields>
        <queriedFields>IT_Special_Service__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Transport_Cost__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDistributionPoint</name>
        <label>getDistributionPoint</label>
        <locationX>268</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDeliverySite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Delivery_Site_Filtered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFC</name>
        <label>getFC</label>
        <locationX>144</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProviderCode</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_Future_Change_Economic_Conditions__c</queriedFields>
        <queriedFields>IT_Future_Change_FC__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Payment_Term__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Future_Change_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMatchedDelivery</name>
        <label>getMatchedDelivery</label>
        <locationX>2240</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Matched_Delivery</targetReference>
        </connector>
        <filters>
            <field>IT_Matched_Delivery_Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Matched_Delivery_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerCode</elementReference>
            </value>
        </filters>
        <object>IT_Control__c</object>
        <outputAssignments>
            <assignToReference>MatchedDeliveryCode</assignToReference>
            <field>IT_Matched_Delivery_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOtherDeliveries</name>
        <label>getOtherDeliveries</label>
        <locationX>2222</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Delivery_Site</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>deliveryCheckRecordForFirstInsert</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProviderCode</name>
        <label>getProviderCode</label>
        <locationX>406</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignFCId</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Service__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>providerCode</assignToReference>
            <field>IT_Provider_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>DeliveryUpdate</name>
        <label>DeliveryUpdate</label>
        <locationX>269</locationX>
        <locationY>208</locationY>
        <inputReference>DistributionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Delivery_on_Distribution</name>
        <label>Update Delivery on Distribution</label>
        <locationX>2954</locationX>
        <locationY>385</locationY>
        <inputReference>DistributionRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>BranchChoice</name>
        <label>Branch</label>
        <locationX>1366</locationX>
        <locationY>916</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Branch_Assignment</targetReference>
        </connector>
        <fields>
            <name>Filiale</name>
            <choiceReferences>BranchChoicePick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filiale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CourierScreen</name>
        <label>Courier</label>
        <locationX>1755</locationX>
        <locationY>516</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Changed_Vector</targetReference>
        </connector>
        <fields>
            <name>SelectedVector</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Vettore Selezionato: {!VettoreScreen}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DefaultVector</name>
            <fieldText>&lt;p&gt;Vettore Default: {!Vehicle_Record_Value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Forzatura_VettoreScreen</name>
            <dataType>Boolean</dataType>
            <fieldText>Forzatura Vettore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VettoreScreen</name>
            <choiceReferences>Vector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vettore</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Forzatura_VettoreScreen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>645</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Impossibile effettuare modifiche! Il cliente non  attivo!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorscreen</name>
        <label>errorscreen</label>
        <locationX>1882</locationX>
        <locationY>647</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_or_Creation</targetReference>
        </connector>
        <fields>
            <name>error3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 2, 2);&quot;&gt;Vettore non trovato, riprovare o uscire dalla schermata.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorVariations</name>
        <label>ErrorVariations</label>
        <locationX>564</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageVariations</name>
            <fieldText>&lt;p&gt;Impossibile creare una nuova consegna per il cliente! Sono previste delle variazioni future!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HandledError</name>
        <label>HandledError</label>
        <locationX>2546</locationX>
        <locationY>636</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_or_Creation</targetReference>
        </connector>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(237, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NaplesVehicle</name>
        <label>Naples</label>
        <locationX>1511</locationX>
        <locationY>1235</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Selected_0</targetReference>
        </connector>
        <fields>
            <name>Message_Branch_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Per la filiale di Napoli  possibile scegliere tra due vettori:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoriScreen_0</name>
            <choiceReferences>Withdraw</choiceReferences>
            <choiceReferences>Esposito</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Withdraw</defaultSelectedChoiceReference>
            <fieldText>Vettori</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Delivery_Site</name>
        <label>New Delivery Site</label>
        <locationX>998</locationX>
        <locationY>1226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>hamlet_empty</targetReference>
        </connector>
        <fields>
            <name>TitleScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Consegna&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NominativoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ActivityNameFRM</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Attenzione! Il nome dell&apos;attivit non pu superare i 40 caratteri!&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!NominativoScreen}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Modalit_di_ConsegnaScreen</name>
            <choiceReferences>DeliveryType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modalit di Consegna</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryAddress</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>FinancialCenterRecord.ER_Zip_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>FinancialCenterRecord.ER_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_City_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowLocAgg</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Additional_Locality__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_State_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>FinancialCenterRecord.ER_Street__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefX</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_GeoRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefY</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_GeoRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamlet</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Hamlet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamletCode</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Hamlet_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefY</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_MetRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefX</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_MetRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRegionRef</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Region_code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreetCode</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Street_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToponym</name>
                <value>
                    <elementReference>FinancialCenterRecord.IT_Toponym__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>ER_Financial_Center__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FinancialCenterId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.ER_Zip_Code__c</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.ER_City__c</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_City_Code__c</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.ER_Street_additionnal__c</assignToReference>
                <name>flowLocAgg</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Province__c</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_State_Code__c</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.ER_Street__c</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_GeoRef_Loc_X__c</assignToReference>
                <name>flowGeoRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_GeoRef_Loc_Y__c</assignToReference>
                <name>flowGeoRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Hamlet__c</assignToReference>
                <name>flowHamlet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Hamlet_Code__c</assignToReference>
                <name>flowHamletCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_MetRef_Loc_X__c</assignToReference>
                <name>flowMetRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_MetRef_Loc_Y__c</assignToReference>
                <name>flowMetRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Region_code__c</assignToReference>
                <name>flowRegionRef</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Street_Code__c</assignToReference>
                <name>flowStreetCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordDeliveryInsert.IT_Toponym__c</assignToReference>
                <name>flowToponym</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDeliveries</name>
        <label>NoDeliveries</label>
        <locationX>1206</locationX>
        <locationY>1054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Delivery_Site</targetReference>
        </connector>
        <fields>
            <name>No_Deliveries</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(237, 12, 12);&quot;&gt;Nessun&apos;altra consegna presente per questo cliente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Address</name>
        <label>Other Address</label>
        <locationX>1647</locationX>
        <locationY>733</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDeliveryAC</targetReference>
        </connector>
        <fields>
            <name>Altra_Consegna</name>
            <choiceReferences>allDeliveries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Altra Consegna (Codice Cliente, Codice Consegna , Nome Consegna))</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RomeVehicle</name>
        <label>Rome</label>
        <locationX>1514</locationX>
        <locationY>1073</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Selected</targetReference>
        </connector>
        <fields>
            <name>Message_Branch</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Per la filiale di Roma  possibile scegliere tra due vettori:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VettoriScreen</name>
            <choiceReferences>Withdraw</choiceReferences>
            <choiceReferences>TicketService</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Withdraw</defaultSelectedChoiceReference>
            <fieldText>Vettori</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_or_Creation</name>
        <label>Update or Creation</label>
        <locationX>756</locationX>
        <locationY>500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignChoice</targetReference>
        </connector>
        <fields>
            <name>Aggiorna_Consegna_Choice</name>
            <choiceReferences>DefaultChoice</choiceReferences>
            <choiceReferences>ConsegnaChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scegli consegna esistente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CREA_CONSEGNA</name>
            <dataType>Boolean</dataType>
            <fieldText>Crea nuova consegna</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateDelivery</name>
        <label>UpdateDelivery</label>
        <locationX>364</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Delivery</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IT_Delivery_Site_Filtered__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consegna</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ER_Distribution_Point__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DistributionRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DistributionRecord.ER_Delivery_Site__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>getFC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangeVectorYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ControlRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>countDeliverySite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliveryAC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>deliveryCHECKRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>deliveryCheckRecordForFirstInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliveryChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DistributionPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>flowCAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>insertedDelSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>LocAggFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedDeliveryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NUMdelivery</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>providerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>provinceCodeFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provinceFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordDeliveryInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>streetFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testmatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
