src/flows/IT_Financial_Center.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AcceptsNewBillingSystemPA</name>
        <label>AcceptsNewBillingSystemPA</label>
        <locationX>1289</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accetta_Nuovo_Sistema_di_Fatt_PAScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Stato</name>
        <label>Assegna Stato</label>
        <locationX>1335</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_ClienteScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Type</name>
        <label>Assegna Type</label>
        <locationX>1582</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Special_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Fatturazione_SpecialeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Special_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Type1</name>
        <label>Assegna Type</label>
        <locationX>1820</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Special_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Fatturazione_SpecialeScreen1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Special_Billing_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Correct_Accept_System</name>
        <label>Assign Correct Accept System</label>
        <locationX>396</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Accepts_New_Billing_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adesione_Nuovo_Sist_FattScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adesione_Nuovo_Sist_Fatt_PAScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accepts_New_Billing_System_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Office_Code</name>
        <label>Assign Office Code</label>
        <locationX>1280</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Office_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Univoco_UfficioScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Office_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concurrency_Assignment</name>
        <label>Concurrency Assignment</label>
        <locationX>2505</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Concurrency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcorrenzaScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concurrency_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Elimina_Valori</name>
        <label>Elimina Valori</label>
        <locationX>161</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_CIG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIGScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Derived_CIG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIG_DerivatoScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIG_e_CIG_Derivato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employee_Assignment</name>
        <label>Employee Assignment</label>
        <locationX>2743</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Employee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_FirmeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NO_assignment</name>
        <label>NO assignment</label>
        <locationX>879</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreviousCodeAssignment</name>
        <label>PreviousCodeAssignment</label>
        <locationX>2297</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Previous_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_PrecedenteScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SDI_or_PEC_Assignement</name>
        <label>SDI or PEC Assignement</label>
        <locationX>636</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_SDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDIScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_PEC_Mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mail_PECScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SDI_or_PEC_Presence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Si2</name>
        <label>Si</label>
        <locationX>789</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Special_Billing_Assignment</name>
        <label>Special Billing Assignment</label>
        <locationX>1999</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Special_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opening_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valori_Non_Consentiti</name>
        <label>Valori Non Consentiti</label>
        <locationX>1091</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Billing_Company_Name_R1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ragione_Sociale_Fattura_R1Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Billing_Company_Name_R2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ragione_Sociale_Fattura_R2Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordFinancial.IT_Billing_Company_Name_R3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ragione_Sociale_Fattura_R3Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Company_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nessuno</name>
        <choiceText>Nessuno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accepts_New_Billing_System</name>
        <label>Accepts New Billing System</label>
        <locationX>534</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Billing_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Accepts_New_Billing_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDI_or_PEC_Presence</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accepts_New_Billing_System_PA</name>
        <label>Accepts New Billing System PA</label>
        <locationX>336</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Accepts_New_Billing_System</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Accepts_System_PA</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Company_Name</name>
        <label>Billing Company Name</label>
        <locationX>987</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Client_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Company_Name_R1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Company_Name_R2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Company_Name_R3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valori_non_consentiti1</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scelta</name>
        <label>Check Scelta</label>
        <locationX>705</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Industry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessuno</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adesione_Nuovo_Sist_Fatt_PAScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Si2</targetReference>
            </connector>
            <label>Sì</label>
        </rules>
        <rules>
            <name>NO1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adesione_Nuovo_Sist_Fatt_PAScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_assignment</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIG_e_CIG_Derivato</name>
        <label>CIG e CIG Derivato</label>
        <locationX>153</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Accepts_New_Billing_System_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO1</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_CIG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Derived_CIG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elimina_CIG_0_0_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Status</name>
        <label>Client Status</label>
        <locationX>1269</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisional_Client_Status</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Type</name>
        <label>Company Type</label>
        <locationX>410</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO2</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private (work for Institution)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIG_e_CIG_Derivato</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concurrency_Set</name>
        <label>Concurrency Set</label>
        <locationX>2383</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Opening_Sign_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Concurrency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Concurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Opening_Concurrency</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee</name>
        <label>Employee</label>
        <locationX>2609</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Tutto_ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Employee_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Employee_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opening_Employee</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Industry</name>
        <label>Industry</label>
        <locationX>1038</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Billing_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>103</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>104</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>107</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_Office_Code</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Industry_0</name>
        <label>Industry</label>
        <locationX>1097</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Billing_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK5_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>103</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>104</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Payment</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opening_Concurrency</name>
        <label>Opening Concurrency</label>
        <locationX>2388</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Opening_Sign_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>014</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>026</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concurrency_Set</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opening_Sign_Number</name>
        <label>Opening Sign Number</label>
        <locationX>2622</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Tutto_ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>004</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>009</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>014</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opening_Type</name>
        <label>Opening Type</label>
        <locationX>2197</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>Opening_Concurrency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>022</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>007</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>010</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>011</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>013</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>015</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>017</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>018</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>020</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>021</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>028</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>030</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>023</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>025</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Opening_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>029</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Code</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>PA</name>
        <label>PA</label>
        <locationX>609</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Avviso_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Code</name>
        <label>Previous Code</label>
        <locationX>2196</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Opening_Concurrency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>KO7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Previous_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Previous_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Previous_Code</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDI_or_PEC_Presence</name>
        <label>SDI or PEC Presence</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Billing_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO5</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_SDI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_PEC_Mail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_SDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_PEC_Mail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Presence_PEC_SDI</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service</name>
        <label>Service</label>
        <locationX>1451</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Service_Special_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Billing_Type</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_A_or_Q</name>
        <label>Service A or Q</label>
        <locationX>1993</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Opening_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>O7</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Billing_for_A_or_Q_service</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Special_Billing</name>
        <label>Service Special Billing</label>
        <locationX>1748</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Service_A_or_Q</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK4</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Billing_Set</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Billing_for_A_or_Q_service</name>
        <label>Special Billing for A or Q service</label>
        <locationX>1991</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Special_Billing_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Special_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opening_Type</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Billing_Set</name>
        <label>Special Billing Set</label>
        <locationX>1751</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>Service_A_or_Q</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Special_Billing_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Special_Billing_Not_Set</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Billing_Type</name>
        <label>Special Billing Type</label>
        <locationX>1455</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Error_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Special_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>*</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Special_Billing</targetReference>
            </connector>
            <label>OK</label>
        </rules>
        <rules>
            <name>OK_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Special_Billing_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Special_Billing</targetReference>
            </connector>
            <label>OK 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_Payment</name>
        <label>Split Payment</label>
        <locationX>1227</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Billing_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.IT_Split_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorBillingSystem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Office_Code</name>
        <label>Unique Office Code</label>
        <locationX>1174</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Industry_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordFinancial.IT_Office_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroreOfficeCode</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Name_Lookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bank_Account_Lookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ER_Bank_Account__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cirtuit_Lookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>IT_Circuit__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientSituationPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Client_Situation__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientStatusPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Client_Status__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Concurrency1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Concurrency__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Financial_Center_Name_Lookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ER_Financial_Center__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoicePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Invoice_Detraction__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_Pick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Service__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialBillingPIck</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Billing_Type__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Billing_Company_Name_R1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!RecordFinancial.IT_Billing_Company_Name_R1__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>Billing_Company_Name_R2</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!RecordFinancial.IT_Billing_Company_Name_R2__c}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <formulas>
        <name>Billing_Company_Name_R3</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX({!RecordFinancial.IT_Billing_Company_Name_R3__c} , &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <interviewLabel>IT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT_Financial_Center</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount1</name>
        <label>getAccount</label>
        <locationX>417</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordFinancial.ER_Account_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>GetAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Company_Type__c</queriedFields>
        <queriedFields>IT_Industry__c</queriedFields>
        <queriedFields>IT_Split_Payment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>306</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>RecordFinancial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Circuit__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Client_Status__c</queriedFields>
        <queriedFields>IT_New_Code__c</queriedFields>
        <queriedFields>IT_Previous_Code__c</queriedFields>
        <queriedFields>IT_Client_Situation__c</queriedFields>
        <queriedFields>IT_Client_Activation_Date__c</queriedFields>
        <queriedFields>ER_Bank_Account__c</queriedFields>
        <queriedFields>IT_Fused_Client__c</queriedFields>
        <queriedFields>IT_Associated_Client__c</queriedFields>
        <queriedFields>IT_Sales_Account__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>IT_Short_Name__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R1__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R2__c</queriedFields>
        <queriedFields>IT_Billing_Company_Name_R3__c</queriedFields>
        <queriedFields>IT_Order_Emission_Frequency__c</queriedFields>
        <queriedFields>IT_Send_SUT_Printout__c</queriedFields>
        <queriedFields>IT_Don_t_Send_Debt_Note__c</queriedFields>
        <queriedFields>IT_CIG__c</queriedFields>
        <queriedFields>IT_Derived_CIG__c</queriedFields>
        <queriedFields>IT_Invoice_Register_Wording__c</queriedFields>
        <queriedFields>IT_Special_Billing_Type__c</queriedFields>
        <queriedFields>IT_Invoice_Detraction__c</queriedFields>
        <queriedFields>IT_Accepts_New_Billing_System__c</queriedFields>
        <queriedFields>IT_Office_Code__c</queriedFields>
        <queriedFields>IT_CUP_Code__c</queriedFields>
        <queriedFields>IT_Order_Code__c</queriedFields>
        <queriedFields>IT_EORI_Code__c</queriedFields>
        <queriedFields>IT_Accepts_New_Billing_System_PA__c</queriedFields>
        <queriedFields>IT_Particularities_Progressive_Number__c</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>IT_Contractual_Particularities__c</queriedFields>
        <queriedFields>IT_SDI__c</queriedFields>
        <queriedFields>IT_PEC_Mail__c</queriedFields>
        <queriedFields>IT_Opening_Outcome__c</queriedFields>
        <queriedFields>IT_Concurrency__c</queriedFields>
        <queriedFields>IT_Employee_Number__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Avviso_PA</name>
        <label>Avviso PA</label>
        <locationX>712</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Scelta</targetReference>
        </connector>
        <fields>
            <name>AvvisoPA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Cliente Ente, ma che NON aderisce al nuovo sistema fatturazione P.A.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Adesione_Nuovo_Sist_Fatt_PAScreen1</name>
            <choiceReferences>Nessuno</choiceReferences>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Nessuno</defaultSelectedChoiceReference>
            <fieldText>Adesione Nuovo Sist. Fatt. PA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Elimina_CIG_0_0_0</name>
        <label>Elimina CIG</label>
        <locationX>50</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Elimina_Valori</targetReference>
        </connector>
        <fields>
            <name>Errore_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- Cliente NON ENTE, eliminare il CIG e/o il CIG Derivato!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CIGScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_CIG__c</elementReference>
            </defaultValue>
            <fieldText>CIG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CIG_DerivatoScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Derived_CIG__c</elementReference>
            </defaultValue>
            <fieldText>CIG Derivato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Accepts_System_PA</name>
        <label>Error Accepts System PA</label>
        <locationX>270</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Correct_Accept_System</targetReference>
        </connector>
        <fields>
            <name>Error_PA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Solo un Cliente Ente può aderire al nuovo sistema fatturazione P.A.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Adesione_Nuovo_Sist_FattScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Accepts_New_Billing_System__c</elementReference>
            </defaultValue>
            <fieldText>Adesione Nuovo Sist. Fatt.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Adesione_Nuovo_Sist_Fatt_PAScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</elementReference>
            </defaultValue>
            <fieldText>Adesione Nuovo Sist. Fatt. PA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Opening_Concurrency</name>
        <label>Error Opening Concurrency</label>
        <locationX>2399</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Concurrency_Assignment</targetReference>
        </connector>
        <fields>
            <name>Opening_Concurrency_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Non è stata definita la concorrenza per il cliente con apertura FIRME EX-CONCORRENZA!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConcorrenzaScreen</name>
            <choiceReferences>Concurrency1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Concorrenza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Presence_PEC_SDI</name>
        <label>Error Presence PEC SDI</label>
        <locationX>514</locationX>
        <locationY>989</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDI_or_PEC_Assignement</targetReference>
        </connector>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Se il Cliente aderisce al nuovo sistema fatturazione elettronica, è OBBLIGATORIO inserire il codice SDI o la mail pec!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDIScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_SDI__c</elementReference>
            </defaultValue>
            <fieldText>SDI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mail_PECScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_PEC_Mail__c</elementReference>
            </defaultValue>
            <fieldText>Mail PEC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Previous_Code</name>
        <label>Error Previous Code</label>
        <locationX>2155</locationX>
        <locationY>898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PreviousCodeAssignment</targetReference>
        </connector>
        <fields>
            <name>PreviousCodeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Per il tipo di apertura selezionato è necessario valorizzare il codice del cliente precedente!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_PrecedenteScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Previous_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Precedente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Special_Billing_Not_Set</name>
        <label>Error Special Billing Not Set</label>
        <locationX>1706</locationX>
        <locationY>893</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Type1</targetReference>
        </connector>
        <fields>
            <name>Error_Not_Set</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Fatturazione Speciale: dato obbligatorio per il servizio selezionato!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Fatturazione_SpecialeScreen1</name>
            <choiceReferences>SpecialBillingPIck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Fatturazione Speciale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Type</name>
        <label>Error Type</label>
        <locationX>1462</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Type</targetReference>
        </connector>
        <fields>
            <name>Error_Special_Billing_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Per il servizio selezionato, se definita, può essere impostata solo la fatturazione speciale con tipologia &quot;a consuntivo IVA aggiornata&quot;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_Fatturazione_SpecialeScreen</name>
            <choiceReferences>SpecialBillingPIck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Fatturazione Speciale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorBillingSystem</name>
        <label>ErrorBillingSystem</label>
        <locationX>1387</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AcceptsNewBillingSystemPA</targetReference>
        </connector>
        <fields>
            <name>ErrorBillingsystemPA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Un Ente Pubblico per il settore merceologico selezionato e con lo &quot;Split Payment&quot; deve aderire al nuovo sistema fatturazione P.A.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accetta_Nuovo_Sistema_di_Fatt_PAScreen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Accepts_New_Billing_System_PA__c</elementReference>
            </defaultValue>
            <fieldText>Accetta Nuovo Sistema di Fatt. PA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroreOfficeCode</name>
        <label>Errore</label>
        <locationX>1311</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Office_Code</targetReference>
        </connector>
        <fields>
            <name>Errore_Code</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Per un cliente ENTE con il settore merceologico selezionato il CODICE UNIVOCO UFFICIO è obbligatorio!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Univoco_UfficioScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Office_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Univoco Ufficio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opening_Employee</name>
        <label>Opening Employee</label>
        <locationX>2620</locationX>
        <locationY>905</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Employee_Assignment</targetReference>
        </connector>
        <fields>
            <name>OpeningEmployeeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;Per la tipologia di apertura impostata è necessario inserire il numero firme!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numero_FirmeScreen</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Employee_Number__c</elementReference>
            </defaultValue>
            <fieldText>Numero Firme</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provisional_Client_Status</name>
        <label>Provisional Client Status</label>
        <locationX>1213</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Stato</targetReference>
        </connector>
        <fields>
            <name>Error_Client_Status</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Non è possibile attivare clienti in stato PROVVISORIO!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stato_ClienteScreen</name>
            <choiceReferences>ClientStatusPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stato Cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tutto_ok</name>
        <label>Tutto ok</label>
        <locationX>2967</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Financial_Center_Ok</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(47, 0, 255);&quot;&gt;Dati Financial Center inseriti Correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Valori_non_consentiti1</name>
        <label>Valori non consentiti</label>
        <locationX>929</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valori_Non_Consentiti</targetReference>
        </connector>
        <fields>
            <name>Errore_R1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial; color: rgb(255, 0, 0);&quot;&gt;- La ragione sociale del cliente contiene caratteri non consentiti! (À,È,Ì,Ò,Ù,Á,É,Í,Ó,Ú,Ä,Ë,Ï,Ö,Ü,º,|,€,¿,°)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ragione_Sociale_Fattura_R1Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Billing_Company_Name_R1__c</elementReference>
            </defaultValue>
            <fieldText>Ragione Sociale Fattura R1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ragione_Sociale_Fattura_R2Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Billing_Company_Name_R2__c</elementReference>
            </defaultValue>
            <fieldText>Ragione Sociale Fattura R2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ragione_Sociale_Fattura_R3Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordFinancial.IT_Billing_Company_Name_R3__c</elementReference>
            </defaultValue>
            <fieldText>Ragione Sociale Fattura R3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>121</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Company_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Adesione_Nuovo_Sist_Fatt_PA</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvvisiString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Concurrency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Conferma</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Conferma</elementReference>
        </value>
    </variables>
    <variables>
        <name>ErroreR1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>erroreString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordFinancial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>Recordgiavisto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stefano</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
