src/flows/IT_Master_Data_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assegna_CF</name>
        <label>Assegna CF</label>
        <locationX>162</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.IT_Fiscal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserisci_Codice_FiscaleScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Codice_Fiscale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_0</name>
        <label>Assegna PIVA</label>
        <locationX>384</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.ER_VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserisci_Partita_IVAScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partita_IVA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modifica_Ragione_Sociale</name>
        <label>Modifica Ragione Sociale</label>
        <locationX>614</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserisci_Ragione_SocialeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RagioneSociale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No3</name>
        <label>No</label>
        <locationX>975</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.IT_Split_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VAT_Group_Naming_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SDI_or_PEC_Assignment</name>
        <label>SDI or PEC Assignment</label>
        <locationX>1406</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.IT_VAT_Group_PEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PEC_Gruppo_IVAScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.IT_VAT_Group_SDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDI_Gruppo_IVAScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PEC_or_SDI_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Si2</name>
        <label>Sì</label>
        <locationX>942</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.IT_Split_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VAT_Group_Naming_Populated</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nessuno</name>
        <choiceText>Nessuno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Scelta</name>
        <label>Check Scelta</label>
        <locationX>856</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Errore_Split1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessuno</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_PaymentScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Si2</targetReference>
            </connector>
            <label>Sì</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_PaymentScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No3</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Codice_Fiscale</name>
        <label>Codice Fiscale</label>
        <locationX>153</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>CodiceFiscaleValorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_Fiscal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partita_IVA</targetReference>
            </connector>
            <label>CodiceFiscaleValorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Type</name>
        <label>Company Type</label>
        <locationX>784</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>VAT_Group_Naming_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_Company_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private (work for Institution)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Industry</name>
        <label>Industry</label>
        <locationX>788</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>VAT_Group_Naming_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK2</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>103</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>104</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Payment</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partita_IVA</name>
        <label>Partita IVA</label>
        <locationX>374</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Errore_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>PartitaIvaValorizzata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.ER_VAT_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.ER_VAT_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RagioneSociale</targetReference>
            </connector>
            <label>PartitaIvaValorizzata</label>
        </rules>
    </decisions>
    <decisions>
        <name>PEC_or_SDI_Populated</name>
        <label>PEC or SDI Populated?</label>
        <locationX>1346</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO2</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_VAT_Group_PEC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_VAT_Group_SDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_VAT_Group_PEC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountVar.IT_VAT_Group_SDI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Almost_one_value</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>RagioneSociale</name>
        <label>RagioneSociale</label>
        <locationX>606</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Ragione_Sociale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>RagioneSocialeValorizzata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_Type</targetReference>
            </connector>
            <label>Rag Soc caratteri consentiti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_Payment</name>
        <label>Split Payment</label>
        <locationX>794</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Errore_Split1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_Split_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Scelta</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>VAT_Group_Naming_Populated</name>
        <label>VAT Group Naming Populated?</label>
        <locationX>1348</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar.IT_VAT_Group_Naming__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PEC_or_SDI_Populated</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CompanyPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Company_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Industry__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypesPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>LegalName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX( {!AccountVar.Name}, &quot;[^ÀÈÌÒÙÁÉÍÓÚÄËÏÖÜ°€¿]*&quot;))</expression>
    </formulas>
    <interviewLabel>IT Account Activation Subflow NEW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Account Activation Subflow NEW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>204</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Company_Type__c</queriedFields>
        <queriedFields>ER_Legal_Name__c</queriedFields>
        <queriedFields>IT_Fiscal_Code__c</queriedFields>
        <queriedFields>IT_Industry__c</queriedFields>
        <queriedFields>IT_VAT_Group_Naming__c</queriedFields>
        <queriedFields>IT_VAT_Group_PEC__c</queriedFields>
        <queriedFields>IT_VAT_Group_SDI__c</queriedFields>
        <queriedFields>ER_VAT_Number__c</queriedFields>
        <queriedFields>IT_Split_Payment__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Almost_one_value</name>
        <label>Almost one value</label>
        <locationX>1277</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDI_or_PEC_Assignment</targetReference>
        </connector>
        <fields>
            <name>ErrorPECSDI</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Deve essere inserito almeno un valore tra PEC del Gruppo IVA e SDI del Gruppo IVA!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PEC_Gruppo_IVAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVar.IT_VAT_Group_PEC__c</elementReference>
            </defaultValue>
            <fieldText>PEC Gruppo IVA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SDI_Gruppo_IVAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVar.IT_VAT_Group_SDI__c</elementReference>
            </defaultValue>
            <fieldText>SDI Gruppo IVA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore</name>
        <label>Errore</label>
        <locationX>40</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_CF</targetReference>
        </connector>
        <fields>
            <name>ErroreCF</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;- &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Century Gothic&amp;quot;, Arial;&quot;&gt;Controllare che sia stato inserito un codice fiscale!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_Codice_FiscaleScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVar.IT_Fiscal_Code__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fiscale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_0</name>
        <label>Errore</label>
        <locationX>260</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Valori_0</targetReference>
        </connector>
        <fields>
            <name>ErroreIVA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Manca la partita iva!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_Partita_IVAScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVar.ER_VAT_Number__c</elementReference>
            </defaultValue>
            <fieldText>Partita IVA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Split1</name>
        <label>Errore Split</label>
        <locationX>719</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Scelta</targetReference>
        </connector>
        <fields>
            <name>Errore_Split</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;- Un Ente Pubblico per il settore merceologico selezionato dovrebbe avere lo &quot;Split Payment&quot;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Split_PaymentScreen1</name>
            <choiceReferences>Nessuno</choiceReferences>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Nessuno</defaultSelectedChoiceReference>
            <fieldText>Split Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ragione_Sociale</name>
        <label>Ragione Sociale</label>
        <locationX>488</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Modifica_Ragione_Sociale</targetReference>
        </connector>
        <fields>
            <name>ErroreRA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 9, 9);&quot;&gt;- &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Century Gothic&amp;quot;, Arial; font-size: 11pt;&quot;&gt;La ragione sociale del cliente contiene caratteri non consentiti! &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;docs-Century Gothic&amp;quot;; font-size: 15px; background-color: rgb(255, 255, 255);&quot;&gt;(À,È,Ì,Ò,Ù,Á,É,Í,Ó,Ú,Ä,Ë,Ï,Ö,Ü,º,|,€,¿,°)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_Ragione_SocialeScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVar.Name</elementReference>
            </defaultValue>
            <fieldText>Ragione Sociale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1561</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Informazioni Account aggiornate correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Codice_Fiscale</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AvvisiStringa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Conferma</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Conferma</elementReference>
        </value>
    </variables>
    <variables>
        <name>errorestring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>Recordgiavisto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
