src/flows/IT_New_Delivery_Site.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Call_APIT12</name>
        <label>Call APIT12</label>
        <locationX>1868</locationX>
        <locationY>890</locationY>
        <actionName>APIT12_CallOutbound</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DistributionPointAssignment_0</targetReference>
        </connector>
        <inputParameters>
            <name>flowDelSites</name>
            <value>
                <elementReference>delSiteList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowDistPoints</name>
            <value>
                <elementReference>distPointList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_APIT12_0</name>
        <label>Call APIT12</label>
        <locationX>1157</locationX>
        <locationY>1498</locationY>
        <actionName>APIT12_CallOutbound</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputParameters>
            <name>flowString</name>
            <value>
                <elementReference>idStringList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowDistPoints</name>
            <value>
                <elementReference>distPointList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowDelSites</name>
            <value>
                <elementReference>delSiteList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1155</locationX>
        <locationY>1625</locationY>
        <actionName>c:LNIT06_FlowRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>DistributionPoint.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>1769</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>delSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>distPointList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_APIT12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_0</name>
        <label>Add to List</label>
        <locationX>931</locationX>
        <locationY>1419</locationY>
        <assignmentItems>
            <assignToReference>delSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>distPointList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_0_0_0</name>
        <label>Add to List</label>
        <locationX>2108</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>newDPlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldDistPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>textstandby</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSFActivityDS</name>
        <label>AddSFActivityDS</label>
        <locationX>1661</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>Type.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionPoint.IT_SF_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Type.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSFActivityDS_0</name>
        <label>AddSFActivityDS</label>
        <locationX>1068</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>Type.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionPoint.IT_SF_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Type.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateActivitySF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDistIdToExtVar</name>
        <label>assignDistIdToExtVar</label>
        <locationX>1007</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>DistPointId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionPoint.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MULTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigneCount</name>
        <label>assigneCount</label>
        <locationX>1155</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>CountdistributionNUM</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>countDistributionPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count</name>
        <label>Assignment Count</label>
        <locationX>529</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>CountCdc</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CostCenterRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Cdc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNome</name>
        <label>AssignNome</label>
        <locationX>144</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Ticket_Naming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DistributionPointAssignment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNome_1</name>
        <label>AssignNome1</label>
        <locationX>120</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEDE AMMINISTRATIVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Ticket_Naming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEDE AMMINISTRATIVA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DistributionPointAssignment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNumber</name>
        <label>assignNumber</label>
        <locationX>491</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>CostCenterErrorNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DistPointCostCenter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorCostCenter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProvince</name>
        <label>assignProvince</label>
        <locationX>1007</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type.IT_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_State_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type.IT_State_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCountDistribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>deleteCostCenter</name>
        <label>deleteCostCenter</label>
        <locationX>467</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Distribution_Point_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributionPointAssignment</name>
        <label>DistributionPointAssignment</label>
        <locationX>1593</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>OldDistPoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DistributionPointAssignment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributionPointAssignment_0</name>
        <label>DistributionPointAssignment</label>
        <locationX>1972</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>OldDistPoint.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sede</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributionPointAssignment_0_0</name>
        <label>DistributionPointAssignment</label>
        <locationX>1622</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attività 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>distributionPointId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionPoint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Distribution_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributionPointAssignment_0_0_0</name>
        <label>DistributionPointAssignment</label>
        <locationX>817</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>DistributionPoint.ER_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Centro_di_costo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenter.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Technical_Data_Progressive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgressiveNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPoint.IT_Contact_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenter.IT_Contact_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCostCenters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>idListAssignment</name>
        <label>idListAssignment</label>
        <locationX>1062</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>idStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_APIT12_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>idListAssignment_0</name>
        <label>idListAssignment</label>
        <locationX>1224</locationX>
        <locationY>1352</locationY>
        <assignmentItems>
            <assignToReference>idStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_APIT12_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multi1</name>
        <label>Multi</label>
        <locationX>1348</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>FinancialCenter.IT_Single_Client_Multiactivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Distribution_Point_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Altroindirizzodiconsegna</name>
        <choiceText>Consegna presso altro cliente</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Numero Consegna altro Cliente</promptText>
        </userInput>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </choices>
    <choices>
        <name>BlankChoice</name>
        <choiceText>Scegliere un valore...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>blank</stringValue>
        </value>
    </choices>
    <constants>
        <name>booleanFalse</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>Text0</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ActivityExisting</name>
        <label>ActivityNotExisting?</label>
        <locationX>1540</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Activity0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create</name>
        <label>Create?</label>
        <locationX>1380</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crea_Attivit_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Distribution_Point</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DistPointPresent</name>
        <label>DistPointPresent?</label>
        <locationX>340</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>Create_Distribution_Point_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>CostCenterPopulatedKO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistPointCostCenter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>booleanFalse</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPoint.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPoint.IT_Cost_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNumber</targetReference>
            </connector>
            <label>CostCenterPopulatedKO</label>
        </rules>
        <rules>
            <name>CostCenterEmptyKO</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>DistPointCostCenter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPoint.IT_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPoint.IT_Cost_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCostCenters_0</targetReference>
            </connector>
            <label>CostCenterEmptyKO</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExsistingDeliverySite</name>
        <label>ExsistingDeliverySite</label>
        <locationX>322</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>AssignNome_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountdistributionNUM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNome</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFirstDistPoint</name>
        <label>isFirstDistPoint?</label>
        <locationX>931</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>ErrorCostCenter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FIRST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALLDistPoints</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Distribution_Point_0</targetReference>
            </connector>
            <label>FIRST</label>
        </rules>
    </decisions>
    <decisions>
        <name>MULTI</name>
        <label>MULTI</label>
        <locationX>1062</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>get_Distribution_Point_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sisi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountdistributionNUM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi1</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Cdc</name>
        <label>Other Cdc?</label>
        <locationX>618</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCdc</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Cdc_0</name>
        <label>CDC not empty?</label>
        <locationX>895</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Centro_di_costo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllCDC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_2</name>
        <label>Service?</label>
        <locationX>1265</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Define_Delivery_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X0G_o_0F</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>FinancialCenter.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenter.IT_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinancialCenter.IT_DEMO_Financial_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDeliverySites_0</targetReference>
            </connector>
            <label>0G o 0F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Control</name>
        <label>Update Control</label>
        <locationX>1133</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>idListAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idControlUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>idListAssignment_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Delivery_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Delivery_Type__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaConsegne</name>
        <dataType>String</dataType>
        <displayField>IT_Delivery_Number__c</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>IT_Delivery_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lookupContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Branch__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickProvider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Provider__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordDelivery</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputAssignments>
            <assignToReference>DeliveryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Special_Service__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vehicle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Vehicle__c</picklistField>
        <picklistObject>ER_Delivery_Site__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>nextProgressive</name>
        <dataType>Number</dataType>
        <expression>VALUE({!progressiveText}) +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>New Delivery Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Delivery Site</label>
    <loops>
        <name>LoopDP</name>
        <label>LoopDP</label>
        <locationX>2408</locationX>
        <locationY>569</locationY>
        <assignNextValueToReference>tempDP</assignNextValueToReference>
        <collectionReference>newDPlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateSede</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Distribution_Point</name>
        <label>Create Distribution Point</label>
        <locationX>1547</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>get_Distribution_Point_0</targetReference>
        </connector>
        <inputReference>DistributionPoint</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Distribution_Point_0</name>
        <label>Create Distribution Point</label>
        <locationX>933</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>assignDistIdToExtVar</targetReference>
        </connector>
        <inputReference>DistributionPoint</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contract</name>
        <label>Contract</label>
        <locationX>717</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContractLineItem</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>ContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Distribution_Point</name>
        <label>get Distribution Point</label>
        <locationX>1278</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DistributionPointAssignment</targetReference>
        </connector>
        <filters>
            <field>ER_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionPoint</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Suspension__c</queriedFields>
        <queriedFields>IT_Cancellation__c</queriedFields>
        <queriedFields>IT_Cancellation_Type__c</queriedFields>
        <queriedFields>IT_Employees_Number__c</queriedFields>
        <queriedFields>IT_Technical_Data_Progressive__c</queriedFields>
        <queriedFields>IT_Contact_Code__c</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
        <queriedFields>IT_Free_Description_to_Display__c</queriedFields>
        <queriedFields>IT_Address_to_Display__c</queriedFields>
        <queriedFields>IT_Locality_to_Display__c</queriedFields>
        <queriedFields>IT_Naming_to_Display__c</queriedFields>
        <queriedFields>IT_Raw_Number_for_Display__c</queriedFields>
        <queriedFields>IT_Data_to_Display__c</queriedFields>
        <queriedFields>ER_Delivery_Site__c</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>IT_Sestiere_Code__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Road_Arch_Code__c</queriedFields>
        <queriedFields>IT_Activity_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>ER_Country__c</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Zone__c</queriedFields>
        <queriedFields>IT_Contract_Line_Item__c</queriedFields>
        <queriedFields>IT_Extra_Urban_Specifications__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_Short_Address__c</queriedFields>
        <queriedFields>IT_Sales_Manager__c</queriedFields>
        <queriedFields>IT_Code_and_Name__c</queriedFields>
        <queriedFields>IT_Data_Type_to_Display__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Distribution_Point_0</name>
        <label>get Distribution Point</label>
        <locationX>1584</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddSFActivityDS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionPoint.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputAssignments>
            <assignToReference>DistributionPoint.IT_SF_Activity__c</assignToReference>
            <field>IT_Autonumber_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Distribution_Point_0_0</name>
        <label>get Distribution Point</label>
        <locationX>1445</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActivityExisting</targetReference>
        </connector>
        <filters>
            <field>ER_Delivery_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Text0</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputAssignments>
            <assignToReference>CheckName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Distribution_Point_0_0_0</name>
        <label>get Distribution Point</label>
        <locationX>1416</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddSFActivityDS_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributionPoint.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputAssignments>
            <assignToReference>DistributionPoint.IT_SF_Activity__c</assignToReference>
            <field>IT_Autonumber_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Distribution_Point_0_0_0_0</name>
        <label>get Distribution Point for progressive</label>
        <locationX>281</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <object>ER_Distribution_Point__c</object>
        <outputAssignments>
            <assignToReference>progressiveText</assignToReference>
            <field>IT_Technical_Data_Progressive__c</field>
        </outputAssignments>
        <sortField>IT_Technical_Data_Progressive__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Center</name>
        <label>Get Financial Center</label>
        <locationX>1021</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Service__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
        <queriedFields>IT_Contact_Code__c</queriedFields>
        <queriedFields>IT_DEMO_Financial_Center__c</queriedFields>
        <queriedFields>IT_Single_Client_Multiactivity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAllCDC</name>
        <label>getAllCDC</label>
        <locationX>638</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count</targetReference>
        </connector>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Centro_di_costo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>CostCenterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContractLineItem</name>
        <label>GetContractLineItem</label>
        <locationX>823</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExsistingDeliverySite</targetReference>
        </connector>
        <filters>
            <field>ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <object>ER_ContractLineItem__c</object>
        <outputAssignments>
            <assignToReference>ProgressiveNumber</assignToReference>
            <field>IT_Technical_Data_Progressive__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCostCenters</name>
        <label>getCostCenters</label>
        <locationX>620</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DistPointPresent</targetReference>
        </connector>
        <filters>
            <field>IT_Cost_Center__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistPointCostCenter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCostCenters_0</name>
        <label>getALLCostCenters</label>
        <locationX>792</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isFirstDistPoint</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>ALLDistPoints</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Cost_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCountDistribution</name>
        <label>getCountDistribution</label>
        <locationX>1075</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assigneCount</targetReference>
        </connector>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialCenter.Id</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>countDistributionPoint</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySites_0</name>
        <label>getDeliverySites</label>
        <locationX>1403</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Distribution_Point_0_0</targetReference>
        </connector>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Notes__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Activity_AC__c</queriedFields>
        <queriedFields>IT_Activity_SF__c</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Provider__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Special_Service__c</queriedFields>
        <queriedFields>IT_Notes_Type__c</queriedFields>
        <queriedFields>IT_Text__c</queriedFields>
        <queriedFields>IT_Validity_End_Date__c</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_Street_additionnal__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Zone__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_Code_and_Name__c</queriedFields>
        <queriedFields>IT_Sestiere_Code__c</queriedFields>
        <queriedFields>IT_Road_Arch_Code__c</queriedFields>
        <queriedFields>IT_Delivery_Location__c</queriedFields>
        <queriedFields>IT_Extra_Urban_Specifications__c</queriedFields>
        <queriedFields>AccountIdFlow__c</queriedFields>
        <queriedFields>IT_Delivery_Number__c</queriedFields>
        <queriedFields>IT_Label_Notes__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getStradarioValues</name>
        <label>getStradarioValues</label>
        <locationX>1284</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignProvince</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempType.Id</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Province__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>ER_City__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>ER_Street__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>ER_Street_additionnal__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>ER_Account_Name__c</queriedFields>
        <queriedFields>ER_Financial_Center__c</queriedFields>
        <queriedFields>ER_Zip_Code__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_X__c</queriedFields>
        <queriedFields>IT_GeoRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Delivery_Type__c</queriedFields>
        <queriedFields>IT_Matched_Delivery__c</queriedFields>
        <queriedFields>IT_Branch__c</queriedFields>
        <queriedFields>IT_Vehicle__c</queriedFields>
        <queriedFields>IT_Vehicle_Forcing__c</queriedFields>
        <queriedFields>IT_Ticket_Naming__c</queriedFields>
        <queriedFields>IT_Client_Code__c</queriedFields>
        <queriedFields>IT_Delivery_Point__c</queriedFields>
        <queriedFields>IT_Provider__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateActivitySF</name>
        <label>updateActivitySF</label>
        <locationX>788</locationX>
        <locationY>1170</locationY>
        <connector>
            <targetReference>UpdateFC</targetReference>
        </connector>
        <inputReference>DistributionPoint</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFC</name>
        <label>UpdateFC</label>
        <locationX>657</locationX>
        <locationY>1318</locationY>
        <connector>
            <targetReference>Add_to_List_0</targetReference>
        </connector>
        <inputReference>FinancialCenter</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSede</name>
        <label>UpdateSede</label>
        <locationX>2408</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>LoopDP</targetReference>
        </connector>
        <inputReference>tempDP</inputReference>
    </recordUpdates>
    <screens>
        <name>Activity0</name>
        <label>Activity0</label>
        <locationX>1634</locationX>
        <locationY>532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;Per la tipologia di servizio selezionata {!FinancialCenter.Name}, è necessario specificare la seguente scelta:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crea_Attivit_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Crea Attività &quot;0&quot;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Activity0_0</name>
        <label>No Activity</label>
        <locationX>392</locationX>
        <locationY>113</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text1_0</name>
            <fieldText>&lt;p&gt;Per la tipologia di servizio selezionata {!FinancialCenter.Name}, non è al momento possibile inserire nuove Attività o Consegne. &lt;/p&gt;&lt;p&gt;Rivolgersi ad un Amministratore del sistema in caso di necessità.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Activity0_0_0</name>
        <label>Activity Exist</label>
        <locationX>1696</locationX>
        <locationY>368</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text1_0_0</name>
            <fieldText>&lt;p&gt;Per il cliente selezionato {!FinancialCenter.Name} è già presente un&apos;attività 0&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCostCenter</name>
        <label>ErrorCostCenter</label>
        <locationX>293</locationX>
        <locationY>982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>deleteCostCenter</targetReference>
        </connector>
        <fields>
            <name>TextError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(244, 1, 1); font-size: 14px;&quot;&gt;Attenzione! Sono presenti a sistema {!CostCenterErrorNumber} attività senza centro di costo popolato. Il centro di costo non sarà inserito.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCostCenter_0</name>
        <label>ErrorCostCenter</label>
        <locationX>1114</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Activity</targetReference>
        </connector>
        <fields>
            <name>TextError_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(244, 1, 1); font-size: 14px;&quot;&gt;Attenzione! Sono presenti a sistema  attività con centro di costo popolato. Il centro di costo deve essere inserito.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Activity</name>
        <label>New Activity</label>
        <locationX>942</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_Cdc_0</targetReference>
        </connector>
        <fields>
            <name>Activity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: small;&quot;&gt;ATTIVITA&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione! Questo Codice del Centro di costo è già associato ad un&apos;altra attività!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>tempType.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione! Il nome dell&apos;attività non può superare i 40 caratteri!&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Nome}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Centro_di_costo</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Centro di costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Massimo 15 caratteri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Centro_di_costo}) &lt; 16</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DistributionAddress2</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>Type.ER_Zip_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>Type.ER_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>Type.IT_City_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefX</name>
                <value>
                    <elementReference>Type.IT_GeoRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefY</name>
                <value>
                    <elementReference>Type.IT_GeoRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamlet</name>
                <value>
                    <elementReference>Type.IT_Hamlet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamletCode</name>
                <value>
                    <elementReference>Type.IT_Hamlet_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefX</name>
                <value>
                    <elementReference>Type.IT_MetRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefY</name>
                <value>
                    <elementReference>Type.IT_MetRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>Type.IT_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>Type.IT_State_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>Type.ER_Street__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToponym</name>
                <value>
                    <elementReference>Type.IT_Toponym__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>ER_Distribution_Point__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreetCode</name>
                <value>
                    <elementReference>Type.IT_Street_Code__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_Zip_Code__c</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_City__c</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_City_Code__c</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Extra_Urban_Specifications__c</assignToReference>
                <name>flowExtraSpec</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_GeoRef_Loc_X__c</assignToReference>
                <name>flowGeoRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_GeoRef_Loc_Y__c</assignToReference>
                <name>flowGeoRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Hamlet__c</assignToReference>
                <name>flowHamlet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Hamlet_Code__c</assignToReference>
                <name>flowHamletCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_MetRef_Loc_X__c</assignToReference>
                <name>flowMetRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_MetRef_Loc_Y__c</assignToReference>
                <name>flowMetRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Province__c</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_State_Code__c</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_Street__c</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Street_Code__c</assignToReference>
                <name>flowStreetCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Toponym__c</assignToReference>
                <name>flowToponym</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Region_code__c</assignToReference>
                <name>flowRegionRef</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Activity_0</name>
        <label>New Activity</label>
        <locationX>50</locationX>
        <locationY>217</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Activity_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: small;&quot;&gt;ATTIVITA&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione! Questo Codice del Centro di costo è già associato ad un&apos;altra attività!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nome_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>SEDE AMMINISTRATIVA</stringValue>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attenzione! Il nome dell&apos;attività non può superare i 40 caratteri!&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!Nome}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Centro_di_costo_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Centro di costo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Massimo 15 caratteri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Centro_di_costo}) &lt; 16</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DistributionAddress2_0</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>Type.ER_Zip_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>Type.ER_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>Type.IT_City_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefX</name>
                <value>
                    <elementReference>Type.IT_GeoRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefY</name>
                <value>
                    <elementReference>Type.IT_GeoRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamlet</name>
                <value>
                    <elementReference>Type.IT_Hamlet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamletCode</name>
                <value>
                    <elementReference>Type.IT_Hamlet_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefX</name>
                <value>
                    <elementReference>Type.IT_MetRef_Loc_X__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefY</name>
                <value>
                    <elementReference>Type.IT_MetRef_Loc_Y__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>Type.IT_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>Type.IT_State_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>Type.ER_Street__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToponym</name>
                <value>
                    <elementReference>Type.IT_Toponym__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>ER_Distribution_Point__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreetCode</name>
                <value>
                    <elementReference>Type.IT_Street_Code__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_Zip_Code__c</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_City__c</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_City_Code__c</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Extra_Urban_Specifications__c</assignToReference>
                <name>flowExtraSpec</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_GeoRef_Loc_X__c</assignToReference>
                <name>flowGeoRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_GeoRef_Loc_Y__c</assignToReference>
                <name>flowGeoRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Hamlet__c</assignToReference>
                <name>flowHamlet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Hamlet_Code__c</assignToReference>
                <name>flowHamletCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_MetRef_Loc_X__c</assignToReference>
                <name>flowMetRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_MetRef_Loc_Y__c</assignToReference>
                <name>flowMetRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Province__c</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_State_Code__c</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.ER_Street__c</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Street_Code__c</assignToReference>
                <name>flowStreetCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Toponym__c</assignToReference>
                <name>flowToponym</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributionPoint.IT_Region_code__c</assignToReference>
                <name>flowRegionRef</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>textstandby</name>
        <label>textstandby</label>
        <locationX>2245</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopDP</targetReference>
        </connector>
        <fields>
            <name>test2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!FinancialCenter.Name}: &lt;/span&gt;Attività 0 inserita con successo!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cliccare sul tasto Avanti per popolare in automatico il centro  di costo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>778</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Financial_Center</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Define_Delivery_Site</name>
        <label>Define Delivery Site</label>
        <locationX>1269</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>getStradarioValues</targetReference>
        </connector>
        <flowName>IT_Delivery_Site_Subflow</flowName>
        <inputAssignments>
            <name>FinancialCenterId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>idControlUpdate</assignToReference>
            <name>DeliveryChoiceId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tempType</assignToReference>
            <name>insertedDelSite</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALLDistPoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>boolList</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CdcRecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CostCenterErrorNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CostCenterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>CountCdc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>CountdistributionNUM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countDistributionPoint</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DeliveryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverySites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>delSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DistPointCostCenter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistPointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>distPointList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>DistributionPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>distributionPointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialCenter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>flowCAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowLocAgg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvinceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idControlUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewDeliverySiteRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newDPlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>OldDistPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>progressive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProgressiveNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>progressiveText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a071x0000024PHLAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialServicePick</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempDP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>tempType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
</Flow>
