src/flows/IT_NewUsage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>POST_to_Zuora</name>
        <label>POST_to_Zuora</label>
        <locationX>1045</locationX>
        <locationY>719</locationY>
        <actionName>APIT25_PostUsage</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>itUsage</name>
            <value>
                <elementReference>IT_UsageList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Ass_APEX_List</name>
        <label>Ass_APEX_List</label>
        <locationX>1048</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>IT_UsageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newUsageRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POST_to_Zuora</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>booleano_date</name>
        <label>booleano date</label>
        <locationX>698</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>errorbooleandate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DateUsage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>booleano_date_0</name>
        <label>booleano date</label>
        <locationX>490</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>errorbooleandate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consumption_Usage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>booleano_date_0_0</name>
        <label>booleano date</label>
        <locationX>768</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>errorbooleandate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DateUsage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>booleano_date_0_0_0_0</name>
        <label>booleano date</label>
        <locationX>508</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>errorbooleandate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installment_Usage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConsumptionAssignment</name>
        <label>Consumption Assignment</label>
        <locationX>605</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Subscription_Product_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Used_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newUsage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InstallmentAssignment</name>
        <label>Installment Assignment</label>
        <locationX>616</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallmentDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallmentPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.IT_Subscription_Product_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newUsage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IT_NewUsageID</name>
        <label>NewUsageID</label>
        <locationX>843</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>NewUsageID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newUsageRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Correct_Date</name>
        <label>Correct Date</label>
        <locationX>104</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>DateUsage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct  Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SubscriptionProductRecord.Zuora__TriggerDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumption_Usage</targetReference>
            </connector>
            <label>Error date Outcome</label>
        </rules>
        <rules>
            <name>Error_training_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsedQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumption_Usage</targetReference>
            </connector>
            <label>Error training quantity</label>
        </rules>
        <rules>
            <name>error_sum_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsedandNewQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SubscriptionProductRecord.IT_Ordered_Value_num__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.IT_Ordered_Value_num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumption_Usage</targetReference>
            </connector>
            <label>error sum quantity</label>
        </rules>
        <rules>
            <name>Correct_Quantity_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.IT_Ordered_Value_num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateUsage</targetReference>
            </connector>
            <label>Correct Quantity outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Date</name>
        <label>Different Date</label>
        <locationX>863</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>DateUsage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Date correct Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_date_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Old_UsageRecord.IT_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>booleano_date</targetReference>
            </connector>
            <label>Equal date outcome</label>
        </rules>
        <rules>
            <name>correct_outcome_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Old_UsageRecord.IT_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateUsage</targetReference>
            </connector>
            <label>correct outcome date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Date_0</name>
        <label>Different Date</label>
        <locationX>564</locationX>
        <locationY>833</locationY>
        <defaultConnectorLabel>Date correct Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_date_outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstallmentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Old_UsageRecord.IT_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>booleano_date_0_0</targetReference>
            </connector>
            <label>Equal date outcome</label>
        </rules>
        <rules>
            <name>correct_outcome_date_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstallmentDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Old_UsageRecord.IT_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateUsage_0</targetReference>
            </connector>
            <label>correct outcome date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Percentage</name>
        <label>Error Percentage</label>
        <locationX>252</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>DateUsage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct date Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Triggerdate_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__TriggerDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>InstallmentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment_Usage</targetReference>
            </connector>
            <label>Error Triggerdate outcome</label>
        </rules>
        <rules>
            <name>Error_Max_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PercentageOldandNew</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment_Usage</targetReference>
            </connector>
            <label>Error  Max Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Errore_data</name>
        <label>Errore data</label>
        <locationX>775</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>ConsumptionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>error_outcome_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorbooleandate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>booleano_date_0</targetReference>
            </connector>
            <label>error outcome date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Errore_data_0</name>
        <label>Errore data</label>
        <locationX>793</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>InstallmentAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>error_outcome_date_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorbooleandate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>booleano_date_0_0_0_0</targetReference>
            </connector>
            <label>error outcome date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_Type_to_Send</name>
        <label>Usage Type to Send</label>
        <locationX>1044</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Day_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newUsageRecord.IT_Usage_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newUsageRecord.IT_Usage_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Session</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newUsageRecord.IT_Usage_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newUsageRecord.IT_Usage_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Half Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_APEX_List</targetReference>
            </connector>
            <label>Type Day outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageType</name>
        <label>UsageType</label>
        <locationX>339</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>NonUsageScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other outcome</defaultConnectorLabel>
        <rules>
            <name>Day</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Session</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Half Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumption_Usage</targetReference>
            </connector>
            <label>Day</label>
        </rules>
        <rules>
            <name>Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionProductRecord.Zuora__UOM_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment_Usage</targetReference>
            </connector>
            <label>Rate</label>
        </rules>
    </decisions>
    <formulas>
        <name>PercentageOldandNew</name>
        <dataType>Number</dataType>
        <expression>{!SubscriptionProductRecord.IT_Sum_Percentage__c} +{!InstallmentPercentage}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubscriptionProductId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},18)</expression>
    </formulas>
    <formulas>
        <name>UsedandNewQuantity</name>
        <dataType>Number</dataType>
        <expression>{!SubscriptionProductRecord.IT_sum_UsedQuantity__c} + {!UsedQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>IT_NewUsage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT_NewUsage</label>
    <loops>
        <name>DateUsage</name>
        <label>DateUsage</label>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Old_UsageRecord</assignNextValueToReference>
        <collectionReference>List_Old_Usage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Different_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Errore_data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DateUsage_0</name>
        <label>DateUsage</label>
        <locationX>426</locationX>
        <locationY>735</locationY>
        <assignNextValueToReference>Old_UsageRecord</assignNextValueToReference>
        <collectionReference>List_Old_Usage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Different_Date_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Errore_data_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>newUsage</name>
        <label>newUsage</label>
        <locationX>731</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>IT_NewUsageID</targetReference>
        </connector>
        <inputReference>UsageRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getSubscriptionProduct</name>
        <label>getSubscriptionProduct</label>
        <locationX>140</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Usage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionProductId</elementReference>
            </value>
        </filters>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <outputReference>SubscriptionProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Usage_Type__c</queriedFields>
        <queriedFields>Zuora__UOM_formula__c</queriedFields>
        <queriedFields>IT_Sum_Percentage__c</queriedFields>
        <queriedFields>Zuora__TriggerDate__c</queriedFields>
        <queriedFields>IT_Ordered_Value_num__c</queriedFields>
        <queriedFields>IT_sum_UsedQuantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>newUsageRecord</name>
        <label>newUsageRecord</label>
        <locationX>949</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usage_Type_to_Send</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewUsageID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IT_Usage__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Account_Number__c</queriedFields>
        <queriedFields>IT_Charge_ID__c</queriedFields>
        <queriedFields>IT_Date__c</queriedFields>
        <queriedFields>IT_Description__c</queriedFields>
        <queriedFields>IT_Num_Subscription__c</queriedFields>
        <queriedFields>IT_Usage_Type__c</queriedFields>
        <queriedFields>IT_Used_Quantity__c</queriedFields>
        <queriedFields>IT_Quantity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Percentage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Old_Usage</name>
        <label>Old Usage</label>
        <locationX>234</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsageType</targetReference>
        </connector>
        <filters>
            <field>IT_Subscription_Product_Charge__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionProductRecord.Id</elementReference>
            </value>
        </filters>
        <object>IT_Usage__c</object>
        <outputReference>List_Old_Usage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Consumption_Usage</name>
        <label>Consumption Usage</label>
        <locationX>492</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Correct_Date</targetReference>
        </connector>
        <fields>
            <name>UsageDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data di utilizzo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;It&#39;s not possible to insert a future day&lt;/p&gt;</errorMessage>
                <formulaExpression>{!UsageDate}&lt;={!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Date already present or before the trigger date ({!SubscriptionProductRecord.Zuora__TriggerDate__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Error_date_Outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Equal_date_outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UsedQuantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantità Utilizzata</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>errtrainingquantity</name>
            <fieldText>&lt;p&gt;Just 1 unit allow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error_training_quantity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorQuantity</name>
            <fieldText>&lt;p&gt;Sum quantity over the ordered quantity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>error_sum_quantity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Descrizione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Installment_Usage</name>
        <label>Installment Usage</label>
        <locationX>479</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Percentage</targetReference>
        </connector>
        <fields>
            <name>InstallmentDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date must be after the trigger date: {!SubscriptionProductRecord.Zuora__TriggerDate__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!InstallmentDate} &gt;= {!SubscriptionProductRecord.Zuora__TriggerDate__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>errorTriggerDate</name>
            <fieldText>&lt;p&gt;The date must be after  Trigger Date: {!SubscriptionProductRecord.Zuora__TriggerDate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error_Triggerdate_outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errdataperct</name>
            <fieldText>&lt;p&gt;The date has already been entered&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>error_outcome_date_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errPerc</name>
            <fieldText>&lt;p&gt;The percentage exceed 100%&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error_Max_Percentage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InstallmentPercentage</name>
            <dataType>Number</dataType>
            <fieldText>Percentuale Rata</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Help_Percentage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Percentage already entered: {!SubscriptionProductRecord.IT_Sum_Percentage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InstallmentDescription</name>
            <dataType>String</dataType>
            <fieldText>Descrizione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NonUsageScreen</name>
        <label>NonUsageScreen</label>
        <locationX>91</locationX>
        <locationY>524</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NonUsage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(34, 34, 34);&quot;&gt;It is not possible to add usage for this product&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>getSubscriptionProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorbooleandate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IT_UsageList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>List_Old_Usage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>NewUsageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewUsageRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>Old_UsageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zuora__SubscriptionProductCharge__c</objectType>
    </variables>
    <variables>
        <name>UsageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Usage__c</objectType>
    </variables>
</Flow>
