src/flows/IT_New_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Everything</name>
        <label>Update Everything</label>
        <locationX>1667</locationX>
        <locationY>608</locationY>
        <actionName>c:LNIT02_Addresses</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>ERRORSCR_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateIdString</name>
            <value>
                <elementReference>updateIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isFlow</name>
            <value>
                <elementReference>isFlowNavigation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowProvince</name>
            <value>
                <elementReference>flowProvince</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowProvinceCode</name>
            <value>
                <elementReference>flowProvinceCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowCity</name>
            <value>
                <elementReference>flowCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowCityCode</name>
            <value>
                <elementReference>flowCityCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStreet</name>
            <value>
                <elementReference>flowStreet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStreetCode</name>
            <value>
                <elementReference>flowStreetCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowLocAgg</name>
            <value>
                <elementReference>flowLocAgg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowCAP</name>
            <value>
                <elementReference>flowCap</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowMetRefX</name>
            <value>
                <elementReference>flowMetRefX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowMetRefY</name>
            <value>
                <elementReference>flowMetRefY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowGeoRefX</name>
            <value>
                <elementReference>flowGeoRefX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowGeoRefY</name>
            <value>
                <elementReference>flowGeoRefY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowToponym</name>
            <value>
                <elementReference>flowToponym</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowRegionRef</name>
            <value>
                <elementReference>flowRegionCode</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addToControlList</name>
        <label>addToControlList</label>
        <locationX>1013</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>deliveryChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consegna_CheckBoxGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSingleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToControlList_0</name>
        <label>addToControlList</label>
        <locationX>1013</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>deliveryChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consegna_CheckBoxGroup_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSingleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToControlList_0_0</name>
        <label>addToControlList</label>
        <locationX>1015</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>deliveryChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consegna_CheckBoxGroup_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSingleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToUpdateList</name>
        <label>addToUpdateList</label>
        <locationX>291</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DeliveryListForVectorUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fakeDelivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstIdFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fakeDelivery.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrimIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToUpdateListDelive</name>
        <label>addToUpdateList</label>
        <locationX>932</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>DeliveryToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempDelivery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeliveryLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_account_variables</name>
        <label>Assign account variables</label>
        <locationX>1657</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>flowCap</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_City_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowGeoRefX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowGeoRefY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowLocAgg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Additional_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowMetRefX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_MetRef_Loc_X__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowMetRefY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_MetRef_Loc_Y__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowProvince</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowProvinceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_State_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowRegionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Region_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStreetCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Street_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowToponym</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Toponym__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowHamlet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Hamlet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowHamletCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.IT_Hamlet_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Screen_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFakeDelivery</name>
        <label>AssignFakeDelivery</label>
        <locationX>61</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>fakeDelivery.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstIdFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeDelivery.IT_City_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowCityCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeDelivery.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowHamletCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeDelivery.ER_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowCap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HamletCodeNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHamlet</name>
        <label>AssignHamlet</label>
        <locationX>57</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>fakeDelivery.IT_Hamlet_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000000000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Courier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNotCourierIds</name>
        <label>AssignNotCourierIds</label>
        <locationX>384</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>NoCourierDeliveries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!tempId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrimIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSingleId</name>
        <label>AssignSingleId</label>
        <locationX>827</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>tempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndDeliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDeliveryList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_recordId</name>
        <label>Blank recordId</label>
        <locationX>1563</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>flowCap</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowGeoRefX</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowGeoRefY</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowLocAgg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowMetRefX</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowMetRefY</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowProvince</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowProvinceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowRegionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStreetCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowToponym</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Screen_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_vector</name>
        <label>change vector</label>
        <locationX>931</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>tempDelivery.IT_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VectorCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempDelivery.IT_Vehicle_Forcing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleForcing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdateListDelive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>errore</name>
        <label>errore</label>
        <locationX>2126</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non è possibile selezionare entrambe le opzioni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Current_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString</name>
        <label>testString</label>
        <locationX>1449</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Consegna_CheckBoxGroup}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString_0</name>
        <label>testString</label>
        <locationX>1451</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Consegna_CheckBoxGroup_0}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup_0}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString_0_0</name>
        <label>testString</label>
        <locationX>1451</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Consegna_CheckBoxGroup_0_0}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup_0_0}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString_0_0_0</name>
        <label>testString</label>
        <locationX>1535</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoCourierDeliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString_0_0_0_0</name>
        <label>testString</label>
        <locationX>1675</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup_0}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoCourierDeliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testString_0_0_0_0_0</name>
        <label>testString</label>
        <locationX>1836</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inserire_nuovo_indirizzo_in_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!Attivita_CheckBoxGroup_0_0}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoCourierDeliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Everything</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrimIds</name>
        <label>TrimIds</label>
        <locationX>297</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>deliveryChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDeliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemainingIds</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billing</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sede di Fatturazione&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sede Legale&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AccountId</elementReference>
        </value>
    </choices>
    <constants>
        <name>isFlowNavigation</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>DeliveryFound</name>
        <label>DeliveryFound?</label>
        <locationX>463</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>AssignNotCourierIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fakeDelivery</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToUpdateList</targetReference>
            </connector>
            <label>Delivery Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeliverySelected</name>
        <label>DeliverySelected</label>
        <locationX>1172</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>testString</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consegna_CheckBoxGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToControlList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeliverySelected_0</name>
        <label>DeliverySelected</label>
        <locationX>1173</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>testString_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consegna_CheckBoxGroup_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToControlList_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeliverySelected_0_0</name>
        <label>DeliverySelected</label>
        <locationX>1172</locationX>
        <locationY>704</locationY>
        <defaultConnector>
            <targetReference>testString_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consegna_CheckBoxGroup_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToControlList_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HamletCodeNull</name>
        <label>HamletCodeNull</label>
        <locationX>50</locationX>
        <locationY>1073</locationY>
        <defaultConnector>
            <targetReference>Calculate_Courier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HamletNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>flowHamletCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowHamletCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignHamlet</targetReference>
            </connector>
            <label>HamletNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Address_Check</name>
        <label>New Address Check</label>
        <locationX>1742</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Address_Screen_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Address</defaultConnectorLabel>
        <rules>
            <name>New_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nuovo_Indirizzo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_recordId</targetReference>
            </connector>
            <label>New Address</label>
        </rules>
        <rules>
            <name>Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_account_variables</targetReference>
            </connector>
            <label>Account Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale</name>
        <label>Quale?</label>
        <locationX>1664</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Update_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessuno</defaultConnectorLabel>
        <rules>
            <name>Billing_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Selection_0_0</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Legal_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Selection_0</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_0</name>
        <label>Quale?</label>
        <locationX>709</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>testString</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessuno</defaultConnectorLabel>
        <rules>
            <name>Billing_choice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testString_0_0</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Legal_Choice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testString_0</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_0_0</name>
        <label>Quale?</label>
        <locationX>1670</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>testString_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessuno</defaultConnectorLabel>
        <rules>
            <name>Billing_choice_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testString_0_0_0_0</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Legal_Choice_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testString_0_0_0_0_0</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>RemainingIds</name>
        <label>RemainingIds?</label>
        <locationX>475</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>SomethingToCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remaining_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Length</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSingleId</targetReference>
            </connector>
            <label>Remaining Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solo_un_checkbox</name>
        <label>Solo un checkbox</label>
        <locationX>1893</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>(1 AND 4 AND 6) OR (2 AND 3 AND 6) OR (1 AND 2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nuovo_Indirizzo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nuovo_Indirizzo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Address_Check</targetReference>
            </connector>
            <label>OK</label>
        </rules>
        <rules>
            <name>ONE_CHOICE</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 2 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_LEGAL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nuovo_Indirizzo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errore</targetReference>
            </connector>
            <label>ONE CHOICE</label>
        </rules>
        <rules>
            <name>SKIP_ADDRESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cambia_Questo_Indirizzo_BILLING</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nuovo_Indirizzo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SKIP ADDRESS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SomethingToCheck</name>
        <label>SomethingToCheck?</label>
        <locationX>286</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>Quale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryListForVectorUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFakeDelivery</targetReference>
            </connector>
            <label>List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>VectorSelected</name>
        <label>VectorSelected</label>
        <locationX>491</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>VettoreNonTrovato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vector_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VectorCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeliveryLoop</targetReference>
            </connector>
            <label>Vector not null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Delivery</name>
        <dataType>String</dataType>
        <displayField>IT_Code_and_Name__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_Delivery_AC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Distribution</name>
        <dataType>String</dataType>
        <displayField>IT_Code_and_Name__c</displayField>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IT_AC_Activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>IndDeliveries</name>
        <dataType>String</dataType>
        <expression>LEFT({!deliveryChoices},18)</expression>
    </formulas>
    <formulas>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!deliveryChoices})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingDeliveries</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!deliveryChoices},({!Length}-20)))</expression>
    </formulas>
    <interviewLabel>IT New Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT New Address NEW</label>
    <loops>
        <name>DeliveryLoop</name>
        <label>DeliveryLoop</label>
        <locationX>709</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>tempDelivery</assignNextValueToReference>
        <collectionReference>DeliveryListForVectorUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>change_vector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDeliveryVehicle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountAddress</name>
        <label>getAccountAddress</label>
        <locationX>1434</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Current_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingLatitude</queriedFields>
        <queriedFields>BillingLongitude</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>IT_Additional_Locality__c</queriedFields>
        <queriedFields>IT_City_Code__c</queriedFields>
        <queriedFields>IT_Account_Address__c</queriedFields>
        <queriedFields>IT_Toponym__c</queriedFields>
        <queriedFields>IT_Hamlet__c</queriedFields>
        <queriedFields>IT_Hamlet_Code__c</queriedFields>
        <queriedFields>IT_Street_Code__c</queriedFields>
        <queriedFields>IT_State_Code__c</queriedFields>
        <queriedFields>IT_Region_code__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_X__c</queriedFields>
        <queriedFields>IT_MetRef_Loc_Y__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAddressIdFromFinCenter</name>
        <label>getAddressIdFromFinCenter</label>
        <locationX>1266</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountAddress</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>ER_Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowCity</assignToReference>
            <field>ER_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowStreet</assignToReference>
            <field>ER_Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowCap</assignToReference>
            <field>ER_Zip_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowLocAgg</assignToReference>
            <field>IT_Additional_Locality__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowCityCode</assignToReference>
            <field>IT_City_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinCenterAddress</assignToReference>
            <field>IT_Financial_Center_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowGeoRefX</assignToReference>
            <field>IT_GeoRef_Loc_X__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowGeoRefY</assignToReference>
            <field>IT_GeoRef_Loc_Y__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowHamletCode</assignToReference>
            <field>IT_Hamlet_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowHamlet</assignToReference>
            <field>IT_Hamlet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowMetRefX</assignToReference>
            <field>IT_MetRef_Loc_X__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowMetRefY</assignToReference>
            <field>IT_MetRef_Loc_Y__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowProvince</assignToReference>
            <field>IT_Province__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowRegionCode</assignToReference>
            <field>IT_Region_code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowProvinceCode</assignToReference>
            <field>IT_State_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowStreetCode</assignToReference>
            <field>IT_Street_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>flowToponym</assignToReference>
            <field>IT_Toponym__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDeliveryList</name>
        <label>getDeliveryList</label>
        <locationX>640</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeliveryFound</targetReference>
        </connector>
        <filters>
            <field>IT_Delivery_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>fakeDelivery</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDeliveryVehicle</name>
        <label>UpdateDeliveryVehicle</label>
        <locationX>711</locationX>
        <locationY>1051</locationY>
        <connector>
            <targetReference>Quale_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERRORSCR</targetReference>
        </faultConnector>
        <inputReference>DeliveryToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Address_Screen_Update</name>
        <label>Address Screen Update</label>
        <locationX>1426</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quale</targetReference>
        </connector>
        <fields>
            <name>insertFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Inserimento campi indirizzo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addresses</name>
            <extensionName>c:LNIT02_Addresses</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <elementReference>isFlowNavigation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCAP</name>
                <value>
                    <elementReference>flowCap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCity</name>
                <value>
                    <elementReference>flowCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCityCode</name>
                <value>
                    <elementReference>flowCityCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowLocAgg</name>
                <value>
                    <elementReference>flowLocAgg</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvince</name>
                <value>
                    <elementReference>flowProvince</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowProvinceCode</name>
                <value>
                    <elementReference>flowProvinceCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreet</name>
                <value>
                    <elementReference>flowStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStreetCode</name>
                <value>
                    <elementReference>flowStreetCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefX</name>
                <value>
                    <elementReference>flowGeoRefX</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowGeoRefY</name>
                <value>
                    <elementReference>flowGeoRefY</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefX</name>
                <value>
                    <elementReference>flowMetRefX</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowMetRefY</name>
                <value>
                    <elementReference>flowMetRefY</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRegionRef</name>
                <value>
                    <elementReference>flowRegionCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToponym</name>
                <value>
                    <elementReference>flowToponym</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamlet</name>
                <value>
                    <elementReference>flowHamlet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHamletCode</name>
                <value>
                    <elementReference>flowHamletCode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newAddressId</assignToReference>
                <name>newAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowCap</assignToReference>
                <name>flowCAP</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowCity</assignToReference>
                <name>flowCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowCityCode</assignToReference>
                <name>flowCityCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowLocAgg</assignToReference>
                <name>flowLocAgg</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowProvince</assignToReference>
                <name>flowProvince</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowProvinceCode</assignToReference>
                <name>flowProvinceCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowStreet</assignToReference>
                <name>flowStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowStreetCode</assignToReference>
                <name>flowStreetCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowToponym</assignToReference>
                <name>flowToponym</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowRegionCode</assignToReference>
                <name>flowRegionRef</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowMetRefY</assignToReference>
                <name>flowMetRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowMetRefX</assignToReference>
                <name>flowMetRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowGeoRefY</assignToReference>
                <name>flowGeoRefY</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowGeoRefX</assignToReference>
                <name>flowGeoRefX</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowHamlet</assignToReference>
                <name>flowHamlet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowHamletCode</assignToReference>
                <name>flowHamletCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>debug1_0</name>
        <label>debug</label>
        <locationX>569</locationX>
        <locationY>1012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debug_0</name>
            <fieldText>&lt;p&gt;debug lista vuota&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ERRORSCR</name>
        <label>ERROR</label>
        <locationX>934</locationX>
        <locationY>1053</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(205, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ERRORSCR_0</name>
        <label>ERROR</label>
        <locationX>1820</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(205, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Current_Address</name>
        <label>Show Current Address</label>
        <locationX>1961</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Solo_un_checkbox</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Seleziona indirizzo da modificare&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(247, 0, 0);&quot;&gt;{!errorText}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LegalAddressName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Sede Legale Corrente:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>legaladdressdisplay</name>
            <fieldText>&lt;p&gt;{!accountRecord.IT_Account_Address__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cambia_Questo_Indirizzo_LEGAL</name>
            <dataType>Boolean</dataType>
            <fieldText>Cambia Questo Indirizzo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>billingaddressname</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Sede di Fatturazione Corrente:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>billingaddressdisplay</name>
            <fieldText>&lt;p&gt;{!FinCenterAddress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cambia_Questo_Indirizzo_BILLING</name>
            <dataType>Boolean</dataType>
            <fieldText>Cambia Questo Indirizzo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuovo_Indirizzo</name>
            <dataType>Boolean</dataType>
            <fieldText>Nuovo Indirizzo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Selection</name>
        <label>Update Selection 0</label>
        <locationX>1322</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeliverySelected</targetReference>
        </connector>
        <fields>
            <name>abbi1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Conferma abbinamento indirizzo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserire_nuovo_indirizzo_in</name>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>Billing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inserire Nuovo Indirizzo in:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consegna_CheckBoxGroup</name>
            <choiceReferences>Delivery</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attivita_CheckBoxGroup</name>
            <choiceReferences>Distribution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attività</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Selection_0</name>
        <label>Selection Legale</label>
        <locationX>1326</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeliverySelected_0</targetReference>
        </connector>
        <fields>
            <name>abbi2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Conferma abbinamento indirizzo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserire_nuovo_indirizzo_in_0</name>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>Billing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Legal</defaultSelectedChoiceReference>
            <fieldText>Inserire Nuovo Indirizzo in:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consegna_CheckBoxGroup_0</name>
            <choiceReferences>Delivery</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attivita_CheckBoxGroup_0</name>
            <choiceReferences>Distribution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attività</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Selection_0_0</name>
        <label>Selection Fatturazione</label>
        <locationX>1329</locationX>
        <locationY>693</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeliverySelected_0_0</targetReference>
        </connector>
        <fields>
            <name>abbi3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Conferma abbinamento indirizzo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserire_nuovo_indirizzo_in_0_0</name>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>Billing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Billing</defaultSelectedChoiceReference>
            <fieldText>Inserire Nuovo Indirizzo in:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consegna_CheckBoxGroup_0_0</name>
            <choiceReferences>Delivery</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attivita_CheckBoxGroup_0_0</name>
            <choiceReferences>Distribution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attività</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VettoreNonTrovato</name>
        <label>VettoreNonTrovato</label>
        <locationX>499</locationX>
        <locationY>1521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quale_0_0</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(224, 14, 14);&quot;&gt;Non è stato possibile trovare alcun vettore per l&apos;indirizzo selezionato, le consegne con modalità &quot;Vettore&quot; selezionate non verranno aggiornate.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1146</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAddressIdFromFinCenter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Courier</name>
        <label>Calculate Courier</label>
        <locationX>288</locationX>
        <locationY>1188</locationY>
        <connector>
            <targetReference>VectorSelected</targetReference>
        </connector>
        <flowName>IT_Calculate_Courier</flowName>
        <inputAssignments>
            <name>DeliveryToUpdate</name>
            <value>
                <elementReference>fakeDelivery</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VehicleForcing</assignToReference>
            <name>CourierForcing</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VectorCode</assignToReference>
            <name>CourierValue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>deliveryChoices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryListForVectorUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliveryToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fakeDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>FinCenterAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinCenterAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstIdFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowCap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowGeoRefX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowGeoRefY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowHamlet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowHamletCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowLocAgg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowMetRefX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowMetRefY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProvinceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowRegionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowStreetCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowToponym</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoCourierDeliveries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringaConcatena</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>tempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VectorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleForcing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
