src/flows/IT_New_Contact_Role.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>926</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingFinCent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDDelSiteAssoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0</name>
        <label>addToList</label>
        <locationX>1262</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDelSite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0</name>
        <label>addToList</label>
        <locationX>1994</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributionPointChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDistPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0_0</name>
        <label>List_blank</label>
        <locationX>2298</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>associationsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_nuove_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0_0_0</name>
        <label>addToList</label>
        <locationX>1336</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingFinCent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDDelSiteAssoc_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0_0_0_0_0</name>
        <label>addToList</label>
        <locationX>1615</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>associationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>associationTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingDelSite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDDelSiteAssoc</name>
        <label>IDDelSiteAssoc</label>
        <locationX>1015</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Site_SCREEN_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DelSiteScelti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDDelSiteAssoc_0</name>
        <label>IDDelSiteAssoc</label>
        <locationX>1425</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>DeliverySiteChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Site_SCREEN_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DelSiteScelti_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDDistPointAssoc</name>
        <label>IDDistPointAssoc</label>
        <locationX>1778</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>DistributionPointChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_Point_SCREEN_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DistPointScelti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDFinCenterAssoc</name>
        <label>IDFinCenterAssoc</label>
        <locationX>576</locationX>
        <locationY>1402</locationY>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Center_SCREEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDFinCenterAssoc_0</name>
        <label>IDFinCenterAssoc</label>
        <locationX>988</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>FincenterChoicesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Center_SCREEN_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation</name>
        <label>newAssociation</label>
        <locationX>692</locationX>
        <locationY>1086</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialTempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFinancialCenter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0</name>
        <label>newAssociation</label>
        <locationX>1112</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_SF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_AC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0</name>
        <label>newAssociation</label>
        <locationX>1892</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Distribution_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indDistPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_SF_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionRecord.IT_AC_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0</name>
        <label>newAssociationBlank</label>
        <locationX>591</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialTempId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Send_SUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Notifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0</name>
        <label>newAssociation_001</label>
        <locationX>297</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0</name>
        <label>newAssociation_002</label>
        <locationX>50</locationX>
        <locationY>1145</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Ordini</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0</name>
        <label>newAssociation_002</label>
        <locationX>112</locationX>
        <locationY>1374</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Billing_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Fatture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Order_Confirm_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conferma_Ordini</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Send_SUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invio_SUT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Notifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comunicazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>796</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1956</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Activity_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1274</locationX>
        <locationY>1213</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1104</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialTempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFinancialCenter_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1522</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_SF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryRecord.IT_Delivery_AC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1206</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newAssociation_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>newAssociation</label>
        <locationX>1684</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_AC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>realAccountId</name>
        <label>realAccountId</label>
        <locationX>550</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>choiceFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leftAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scelta_associazioni_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbianca</name>
        <label>sbianca</label>
        <locationX>863</locationX>
        <locationY>1737</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>sbianca_0</name>
        <label>sbianca</label>
        <locationX>1530</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Delivery_Site__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IDDistPointAssoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbianca_0_0</name>
        <label>sbianca</label>
        <locationX>1750</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Distribution_Point__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>recordRimanenti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbianca_0_0_0</name>
        <label>sbianca</label>
        <locationX>2502</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>associationTemp.IT_Financial_Center__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <choices>
        <name>InvoiceReceipts</name>
        <choiceText>Riceve Fattura Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrdersMaking</name>
        <choiceText>Effettua Ordini</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>TicketReceipts</name>
        <choiceText>Riceve Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ticket</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Crea_nuove_associazioni</name>
        <label>Crea nuove associazioni?</label>
        <locationX>2187</locationX>
        <locationY>1499</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>SI_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aggiungi_associazioni</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DelSiteScelti</name>
        <label>DelSiteScelti?</label>
        <locationX>1018</locationX>
        <locationY>1317</locationY>
        <defaultConnector>
            <targetReference>IDDistPointAssoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OK_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDeliverySite</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>DelSiteScelti_0</name>
        <label>DelSiteScelti?</label>
        <locationX>1431</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>recordRimanenti_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OK_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeliverySiteChoicesId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDeliverySite_0</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>DistPointScelti</name>
        <label>DistPointScelti?</label>
        <locationX>1638</locationX>
        <locationY>982</locationY>
        <defaultConnector>
            <targetReference>recordRimanenti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OK_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributionPointChoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributionPointChoiceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDistributionPoint</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti</name>
        <label>record Rimanenti?</label>
        <locationX>1156</locationX>
        <locationY>1562</locationY>
        <defaultConnector>
            <targetReference>creaAssociations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingFinCent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0</name>
        <label>record Rimanenti?</label>
        <locationX>1258</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>sbianca_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingDelSite</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0</name>
        <label>record Rimanenti?</label>
        <locationX>1842</locationX>
        <locationY>1182</locationY>
        <defaultConnector>
            <targetReference>sbianca_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingDistPoint</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0_0</name>
        <label>scelte?</label>
        <locationX>483</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>newAssociation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>indFinCent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Scelta_associazioni</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0_0_0</name>
        <label>record Rimanenti?</label>
        <locationX>1566</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>creaAssociations_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingFinCent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0_0_0_0</name>
        <label>record Rimanenti?</label>
        <locationX>1694</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>recordRimanenti_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CeilingDelSite</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Rimangono</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordRimanenti_0_0_0_0_0_0</name>
        <label>scelte?</label>
        <locationX>830</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rimangono_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>indFinCent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Scelta_associazioni_0_0_0_0</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo</name>
        <label>Tipo?</label>
        <locationX>218</locationX>
        <locationY>965</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>X001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0</targetReference>
            </connector>
            <label>001</label>
        </rules>
        <rules>
            <name>X002</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>002</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0</targetReference>
            </connector>
            <label>002</label>
        </rules>
        <rules>
            <name>X005_o_007</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newAssociation_0_0_0_0_0_0</targetReference>
            </connector>
            <label>005 o 007</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Ref</name>
        <label>Type Ref</label>
        <locationX>274</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetailType_txt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ref</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>deliveryChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Address__c</displayField>
        <filters>
            <field>ER_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialTempId</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>distributionChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Address__c</displayField>
        <filters>
            <field>IT_Financial_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialTempId</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>financialChoice</name>
        <dataType>String</dataType>
        <displayField>IT_Name_and_Circuit__c</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CeilingDelSite</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthDelSite}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CeilingDistPoint</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthDistPoint}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CeilingFinCent</name>
        <dataType>Number</dataType>
        <expression>CEILING({!LengthFinCent}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>indDelSite</name>
        <dataType>String</dataType>
        <expression>LEFT({!DeliverySiteChoicesId},18)</expression>
    </formulas>
    <formulas>
        <name>indDistPoint</name>
        <dataType>String</dataType>
        <expression>LEFT({!DistributionPointChoiceId},18)</expression>
    </formulas>
    <formulas>
        <name>indFinCent</name>
        <dataType>String</dataType>
        <expression>LEFT({!FincenterChoicesId},18)</expression>
    </formulas>
    <formulas>
        <name>Invoce_FRM</name>
        <dataType>Boolean</dataType>
        <expression>{!Conferma_Fatture}</expression>
    </formulas>
    <formulas>
        <name>leftAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!accountId}, 15)</expression>
    </formulas>
    <formulas>
        <name>LengthDelSite</name>
        <dataType>Number</dataType>
        <expression>LEN({!DeliverySiteChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LengthDistPoint</name>
        <dataType>Number</dataType>
        <expression>LEN({!DeliverySiteChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LengthFinCent</name>
        <dataType>Number</dataType>
        <expression>LEN({!FincenterChoicesId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Not_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!DetailType_txt}=&quot;001&quot;,{!DetailType_txt}=&quot;002&quot;),false,{!Comunicazioni})</expression>
    </formulas>
    <formulas>
        <name>Order_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF({!DetailType_txt}=&apos;001&apos;,false,{!Conferma_Ordini})</expression>
    </formulas>
    <formulas>
        <name>RemainingDelSite</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DeliverySiteChoicesId},({!LengthDelSite}-20)))</expression>
    </formulas>
    <formulas>
        <name>RemainingDistPoint</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DistributionPointChoiceId},({!LengthDistPoint}-20)))</expression>
    </formulas>
    <formulas>
        <name>RemainingFinCent</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!FincenterChoicesId},({!LengthFinCent}-20)))</expression>
    </formulas>
    <formulas>
        <name>SUT_FRM</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!DetailType_txt}=&apos;001&apos;,{!DetailType_txt}=&apos;002&apos;),false,{!Invio_SUT})</expression>
    </formulas>
    <interviewLabel>IT_New_Contact_Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT_New_Contact_Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creaAssociations</name>
        <label>creaAssociations</label>
        <locationX>2046</locationX>
        <locationY>1364</locationY>
        <connector>
            <targetReference>Tutto_Ok</targetReference>
        </connector>
        <inputReference>associationsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>creaAssociations_0</name>
        <label>creaAssociations</label>
        <locationX>1759</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>associationsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>444</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>realAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>125</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Ref</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactCode</assignToReference>
            <field>IT_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DetailType_txt</assignToReference>
            <field>IT_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContactId</name>
        <label>getContactId</label>
        <locationX>121</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Contact_Detail__c</object>
        <outputAssignments>
            <assignToReference>DetailType_txt</assignToReference>
            <field>IT_Apparatus_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactCode</assignToReference>
            <field>IT_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>IT_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IT_ContactProgressive</assignToReference>
            <field>IT_Contact_progressive__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite</name>
        <label>getDeliverySite</label>
        <locationX>1118</locationX>
        <locationY>1188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliveryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getDeliverySite_0</name>
        <label>getDeliverySite</label>
        <locationX>1528</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indDelSite</elementReference>
            </value>
        </filters>
        <object>ER_Delivery_Site__c</object>
        <outputReference>DeliveryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_Delivery_SF__c</queriedFields>
        <queriedFields>IT_Delivery_AC__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDistributionPoint</name>
        <label>GetDistributionPoint</label>
        <locationX>1793</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indDistPoint</elementReference>
            </value>
        </filters>
        <object>ER_Distribution_Point__c</object>
        <outputReference>DistributionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IT_SF_Activity__c</queriedFields>
        <queriedFields>IT_AC_Activity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter</name>
        <label>getFinancialCenter</label>
        <locationX>795</locationX>
        <locationY>1086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>ClientCode</assignToReference>
            <field>IT_Financial_Center__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FCName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getFinancialCenter_0</name>
        <label>getFinancialCenter</label>
        <locationX>1205</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newAssociation_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indFinCent</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>ClientCode</assignToReference>
            <field>IT_Financial_Center__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FCName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update_Contact</label>
        <locationX>1922</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Tutto_Ok_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IT_Client_Billing_Recepits__c</field>
            <value>
                <elementReference>Riceve_Fattura_Cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Order_Making__c</field>
            <value>
                <elementReference>Effettua_Ordini</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Ticket_Receipts__c</field>
            <value>
                <elementReference>Riceve_Ticket</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Scelta_associazioni</name>
        <label>Scelta associazioni</label>
        <locationX>410</locationX>
        <locationY>1401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IDFinCenterAssoc</targetReference>
        </connector>
        <fields>
            <name>Financial_Center_SCREEN</name>
            <choiceReferences>financialChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Center</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0</name>
        <label>Scelta associazioni</label>
        <locationX>906</locationX>
        <locationY>1086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
        <fields>
            <name>textFCName</name>
            <fieldText>&lt;p&gt;Codice: {!FCName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delivery_Site_SCREEN_0</name>
            <choiceReferences>deliveryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Distribution_Point_SCREEN_0</name>
            <choiceReferences>distributionChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attivit</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0_0</name>
        <label>Scelta associazioni</label>
        <locationX>384</locationX>
        <locationY>911</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tipo</targetReference>
        </connector>
        <fields>
            <name>Conferma_Ordini</name>
            <dataType>Boolean</dataType>
            <fieldText>Conferma Ordini</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>002</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Conferma_Fatture</name>
            <dataType>Boolean</dataType>
            <fieldText>Conferma Fatture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comunicazioni</name>
            <dataType>Boolean</dataType>
            <fieldText>Comunicazioni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invio_SUT</name>
            <dataType>Boolean</dataType>
            <fieldText>Invio SUT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>005</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DetailType_txt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>007</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0_0_0</name>
        <label>Scelta abilitazioni</label>
        <locationX>654</locationX>
        <locationY>532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scelta_associazioni_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Effettua_Ordini</name>
            <dataType>Boolean</dataType>
            <fieldText>Effettua Ordini</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Riceve_Ticket</name>
            <dataType>Boolean</dataType>
            <fieldText>Riceve Ticket</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Riceve_Fattura_Cliente</name>
            <dataType>Boolean</dataType>
            <fieldText>Riceve Fattura Cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0_0_0_0</name>
        <label>Client Choice</label>
        <locationX>835</locationX>
        <locationY>536</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IDFinCenterAssoc_0</targetReference>
        </connector>
        <fields>
            <name>Financial_Center_SCREEN_0</name>
            <choiceReferences>financialChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Center</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scelta_associazioni_0_0_0_0_0</name>
        <label>Scelta associazioni</label>
        <locationX>1316</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addToList_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>textFCName_0</name>
            <fieldText>&lt;p&gt;Codice: {!FCName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delivery_Site_SCREEN_0_0</name>
            <choiceReferences>deliveryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consegna</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tutto_Ok</name>
        <label>Tutto Ok</label>
        <locationX>2170</locationX>
        <locationY>1363</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addToList_0_0_0</targetReference>
        </connector>
        <fields>
            <name>yes</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Associazioni Create Correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aggiungi_associazioni</name>
            <dataType>Boolean</dataType>
            <fieldText>Aggiungi associazioni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tutto_Ok_0</name>
        <label>Tutto Ok</label>
        <locationX>2095</locationX>
        <locationY>544</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>yes_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Associazioni Create Correttamente!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_Error</name>
        <label>Type Error</label>
        <locationX>280</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorType</name>
            <fieldText>&lt;p&gt;Non  possibile abilitare questo tipo di referente alla ricezione dei ticket.&lt;/p&gt;&lt;p&gt;Agire a livello di Recapiti per impostare la ricezione di ordini, fatture, comunicazioni o SUT&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>associationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>associationTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Contact_Association__c</objectType>
    </variables>
    <variables>
        <name>choiceFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Delivery_Site__c</objectType>
    </variables>
    <variables>
        <name>DeliverySiteChoicesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailType_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionPointChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Distribution_Point__c</objectType>
    </variables>
    <variables>
        <name>FCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>financialTempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FincenterChoicesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IT_ContactProgressive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
