src/flows/IT_ZQuote_From_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_New_ZQuote</name>
        <label>Open New ZQuote</label>
        <locationX>1067</locationX>
        <locationY>52</locationY>
        <actionName>c:LNIT06_FlowRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>ZQuoteId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>ZAccount_Codice_Cliente</name>
        <label>ZAccount_Codice_Cliente</label>
        <locationX>1054</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>ZAccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialCenterRecord.IT_Financial_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateZQuote</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Number_Account</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>ZAccount_Is_Null</name>
        <label>ZAccount_Is_Null</label>
        <locationX>880</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>CreateZQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZAccount_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZAccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZAccount_Codice_Cliente</targetReference>
            </connector>
            <label>ZAccount_Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FinancialCenterChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ER_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IT_Client_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </filters>
        <filters>
            <field>IT_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1B</stringValue>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputAssignments>
            <assignToReference>V_Client_Status</assignToReference>
            <field>IT_Client_Status__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IT_Service__c</picklistField>
        <picklistObject>ER_Financial_Center__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>QuoteEndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>IT_ZQuote_From_Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT_ZQuote_From_Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateZQuote</name>
        <label>CreateZQuote</label>
        <locationX>944</locationX>
        <locationY>52</locationY>
        <assignRecordIdToReference>ZQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_New_ZQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>IT_Cod_Cli_Padre__c</field>
            <value>
                <elementReference>FinancialCenterRecord.IT_Financial_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Financial_Center__c</field>
            <value>
                <elementReference>FinancialCenterRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Welfare_Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120E000001ewLiQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__BillToContact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__BillingBatch__c</field>
            <value>
                <stringValue>Batch1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__Currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__InvoiceProcessingOption__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__PaymentMethod__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__PaymentTerm__c</field>
            <value>
                <stringValue>Net 30</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__QuoteBusinessType__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__RenewalSetting__c</field>
            <value>
                <stringValue>RENEW_WITH_SPECIFIC_TERM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__SoldToContact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__Subscription_Term_Type__c</field>
            <value>
                <stringValue>Evergreen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__ValidUntil__c</field>
            <value>
                <elementReference>QuoteEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__ZuoraAccountID__c</field>
            <value>
                <elementReference>V_ZuoraId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zqu__Zuora_Account_Number__c</field>
            <value>
                <elementReference>ZAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>285</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewQuoteScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ER_VAT_Number__c</queriedFields>
        <queriedFields>IT_Special_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountId</name>
        <label>GetAccountId</label>
        <locationX>163</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IT_Welfare_Project__c</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>IT_Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBillingAccount</name>
        <label>GetBillingAccount</label>
        <locationX>711</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillingAccount_0</targetReference>
        </connector>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Zuora__CustomerAccount__c</object>
        <outputAssignments>
            <assignToReference>ZAccountNumber</assignToReference>
            <field>Zuora__AccountNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_ZuoraId</assignToReference>
            <field>Zuora__Zuora_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBillingAccount_0</name>
        <label>GetBillingContact</label>
        <locationX>825</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZAccount_Is_Null</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetFinancialCenter</name>
        <label>GetFinancialCenter</label>
        <locationX>558</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillingAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Financial_Center</elementReference>
            </value>
        </filters>
        <object>ER_Financial_Center__c</object>
        <outputReference>FinancialCenterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IT_Financial_Center__c</queriedFields>
    </recordLookups>
    <screens>
        <name>NewQuoteScreen</name>
        <label>NewQuoteScreen</label>
        <locationX>405</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFinancialCenter</targetReference>
        </connector>
        <fields>
            <name>Quote_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New Quote</stringValue>
            </defaultValue>
            <fieldText>Quote Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Max Lenght 80&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Quote_Name})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Financial_Center</name>
            <choiceReferences>FinancialCenterChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Center</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Special_Account</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Attenzione, cliente speciale: fatturazione gestita manualmente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountRecord.IT_Special_Account__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Number_Account</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>34</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCenterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Financial_Center__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Client_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_ZuoraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
